# Ignore all Excel, PowerPoint, and PDF files
*.xlsx
*.pptx
*.pdf

# Ignore IDE-related files
.idea/

# Ignore everything in Requirements folder
Requirements/*

# But do not ignore Python files in the Requirements folder
!Requirements/*.py
