# Ignore all Excel, PowerPoint, and PDF files
*.xlsx
*.pptx
*.pdf

# Ignore IDE-related files
.idea/

# Ignore specific files and directories
Requirements/*
!Requirements/*.py   # (keep only Python files if needed)
