{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load crispy_forms_tags %}
<form method="POST" action="" id="asset_add" data-branches-url="{% url 'load_units' %}">
	{% csrf_token %}
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Asset</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Location</span>
									</div>
									{% render_field form.asset_location class="form-control" id="myLocation" onchange="myAssetnum()" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Unit</span>
									</div>
									{% render_field form.asset_unit id="asset_unit" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="">Asset Number</span>
									</div>
									{% render_field form.asset_number class="form-control" id="asset_number" readonly=True%}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Asset ID</span>
									</div>
									{% render_field form.asset_Id class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Assigned To</span>
									</div>
									{% render_field form.asset_assignedto class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Assigned On</span>
									</div>
									{% render_field form.asset_assignedon type="datetime-local" class="form-control" name="qr_text" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Product</span>
									</div>
									{% render_field form.asset_product class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Make</span>
									</div>
									{% render_field form.asset_make class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>

							</div>
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Model</span>
									</div>
									{% render_field form.asset_model class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Unique Number</span>
									</div>
									{% render_field form.asset_serial_num1 class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vendor</span>
									</div>
									{% render_field form.asset_vendor class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Order Number</span>
									</div>
									{% render_field form.asset_order_number class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Purchase Date</span>
									</div>
									<!--<input type="date" value="2021-09-09" min="2021-09-09">-->
									{% render_field form.asset_purchase_date type="date" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Insurance Details</span>
									</div>
									{% render_field form.asset_insurance_details class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Cost (INR)</span>
									</div>
									{% render_field form.asset_cost class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								{% render_field form.asset_updated_by id="asset_updated_by" hidden="True" class="form-control" %}
							</div>
							<div class="container-fluid">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Remarks</span>
									</div>
									{% render_field form.asset_remarks class="form-control" name="qr_text" %}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						<button onclick="random()" type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'asset_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel </a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</form>

<script>
$(document).ready(function() {
	document.getElementById("asset_updated_by").value ='{{user_id}}';
	var asset_num=document.getElementById("asset_number").value;
	if (asset_num=="")
	{
		$('#myLocation').removeClass('disable_a_href');
	}
	else
	{
		$('#myLocation').addClass('disable_a_href');
	}
});
</script>

<!--Fetch Units-->
<script>
   $("#myLocation").change(function () {
      var url = $("#asset_add").attr("data-branches-url");
      var branchId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'branchId': branchId,
        },
		success: function (data) {
			console.log(data);
			$('#asset_unit').removeClass('disable_a_href');
			$("#asset_unit").empty();
			$('#wh_bay').empty().append("<option value='0'>--Select--</option>");
			$("#wh_stack_layer").val($("#selectBox option:first").val());
        	var unit_name=JSON.parse(data)["unit_name_list"];
        	var unit_id=JSON.parse(data)["unit_id"];
        	var len = (unit_name).length;
        	$('#asset_unit').empty().append("<option value='0'>--Select--</option>");
        	for( var i = 0; i<len; i++){
        		$("#asset_unit").append("<option value='"+unit_id[i]+"'>"+unit_name[i]+"</option>");
			}
        }
      });
    });
  </script>
<script>
function myAssetnum() {
  selectElement = document.querySelector('#myLocation');
  output = selectElement.options[selectElement.selectedIndex].value;
	if (output==1)
	{
		nam="BLR"
	}
	else if(output==2)
	{
		nam="MAA"
	}
	else if(output==3)
	{
		nam="PNY"
	}
	else if(output==4)
	{
		nam="HYD"
	}
	else
	{
		nam="TCR"
	}
<!--  var ran=Math.floor((Math.random() * 1000000) + 1)-->
  var ran='{{asset_num}}';
  document.getElementById("asset_number").value =nam+"_"+ ran;
}
</script>
{% endblock content %}

