{% extends "asset_mgt_app/base.html" %}
{% block content %}
<div class="container-fluid row">
    <div class="col-md-1">
      <a href="{% url 'user_list' %}" class="btn btn-primary btn-block btn-lg">
        <i class="fas fa-arrow-left"></i> Back
      </a>
    </div>
    <div class="col-md-1">
      <a href="{% url 'assign_asset_insert' %}" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-plus"></i> Add
      </a>
    </div>
</div>
<hr>
<div class="container-fluid">
<table  id="assign_asset_list" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Asset Number</th>
            <th>Assigned To</th>
            <th>Assigned On</th>
            <th>Assigned By</th>
            <th>Remarks</th>
            <th>Edit</th>
            <th>Delete</th>
    </thead>
    <tbody>
        {% for assignassetinfo in asset_assign_list %}
            <tr>
                <td> {{assignassetinfo.AA_asset_number}}</td>
                <td> {{assignassetinfo.AA_assingedto}}</td>
                <td> {{assignassetinfo.AA_assignedon}}</td>
                <td> {{assignassetinfo.AA_assignedby}}</td>
                <td> {{assignassetinfo.AA_remarks}}</td>
                <td>

                    <a href="{% url 'assign_asset_update' assignassetinfo.id %}" >
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <form action="{% url 'assign_asset_delete' assignassetinfo.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure?');">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function() {
    $('#assign_asset_list').DataTable();
} );
</script>
{% endblock content %}
