{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<form method="POST" action="" id="budgetform_add" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                    <div class="card-header text-center">
                        <h3>Add/Update Budget Form</h3>
                    </div>
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group input-group-sm mb-3" style="width:96%;">
                                    <div class="input-group-prepend" style="padding-left:4%;">
                                        <span class="input-group-text">Budget For Month / Year</span>
                                    </div>
                                    {% render_field form.bf_start_date_year id="bf_start_date_year" type="date" class="form-control" %}
                                </div>
                                <div class="input-group input-group-sm mb-3" style="width:96%;">
                                    <div class="input-group-prepend" style="padding-left:4%;">
                                        <span class="input-group-text">Company</span>
                                    </div>
                                    {% render_field form.bf_company id="bf_company" class="form-control" %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group input-group-sm mb-3" style="width:96%;">
                                    <div class="input-group-prepend" style="padding-left:4%;">
                                        <span class="input-group-text">Branch</span>
                                    </div>
                                    {% render_field form.bf_location id="bf_location" type="date" class="form-control" %}
                                </div>
                                <div class="input-group input-group-sm mb-3" style="width:96%;">
                                    <div class="input-group-prepend" style="padding-left:4%;">
                                        <span class="input-group-text">Unit</span>
                                    </div>
                                    {% render_field form.bf_unit_reference id="bf_unit_reference" type="date" class="form-control" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div id="accordion" class="container-fluid">
									<div class="card" style="width:100%;">
										<div class="card-header bg-info" id="headingOne">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													Income <i class="fas fa-chevron-down "></i>
												</a>
											</h5>
										</div>
										<div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                                            <br>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Airport Handling Charges</span>
                                                        </div>
                                                        {% render_field form.bf_Airport_Handling_Charges id="bf_Airport_Handling_Charges" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Crane Handling Charges</span>
                                                        </div>
                                                        {% render_field form.bf_Crane_Handling_Charges id="bf_Crane_Handling_Charges" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Forklift Handling Charges</span>
                                                        </div>
                                                        {% render_field form.bf_Forklift_Handling_Charges id="bf_Forklift_Handling_Charges" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Handling Charges</span>
                                                        </div>
                                                        {% render_field form.bf_Handling_Charges id="bf_Handling_Charges" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Packing Charges</span>
                                                        </div>
                                                        {% render_field form.bf_Packing_Charges id="bf_Packing_Charges" class="form-control" %}
                                                    </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend" style="width:57%;">
                                                        <span class="input-group-text" style="width:110%;">Warehouse Handling Charges</span>
                                                    </div>
                                                    {% render_field form.bf_Warehouse_Handling_Charges id="bf_Warehouse_Handling_Charges" class="form-control" %}
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend" style="width:57%;">
                                                        <span class="input-group-text" style="width:110%;">Warehouse Loading Charges</span>
                                                    </div>
                                                    {% render_field form.bf_Warehouse_Loading_Charges id="bf_Warehouse_Loading_Charges" class="form-control" %}
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend" style="width:57%;">
                                                        <span class="input-group-text" style="width:110%;">Warehouse Storage Charges</span>
                                                    </div>
                                                    {% render_field form.bf_Warehouse_Storage_Charges id="bf_Warehouse_Storage_Charges" class="form-control" %}
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend" style="width:59%;">
                                                        <span class="input-group-text" style="width:113%;">Warehouse Unloading Charges</span>
                                                    </div>
                                                    {% render_field form.bf_Warehouse_Unloading_Charges id="bf_Warehouse_Unloading_Charges" class="form-control" %}
                                                </div>
                                            </div>
                                            </div>
                                        </div>
									</div>
                                    <div class="card">
										<div class="card-header bg-info" id="headingTwo">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
													Department Expenses <i class="fas fa-chevron-down "></i>
												</a>
											</h5>
										</div>
										<div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
											<br>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Audit Fees</span>
                                                        </div>
                                                        {% render_field form.bf_audit_fees id="bf_audit_fees" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Bad Debts</span>
                                                        </div>
                                                        {% render_field form.bf_bad_debts id="bf_bad_debts" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Bank Charges</span>
                                                        </div>
                                                        {% render_field form.bf_bank_charges id="bf_bank_charges" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Celebration Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_celebration_expenses id="bf_celebration_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Consultancy Charges</span>
                                                        </div>
                                                        {% render_field form.bf_consultancy_charges id="bf_consultancy_charges" class="form-control" %}
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Directors Remuneration</span>
                                                        </div>
                                                        {% render_field form.bf_directors_remuneration id="bf_directors_remuneration" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Insurance Car</span>
                                                        </div>
                                                        {% render_field form.bf_insurance_car id="bf_insurance_car" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Interest on Statutory Dues</span>
                                                        </div>
                                                        {% render_field form.bf_interest_on_statutory_dues id="bf_interest_on_statutory_dues" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend" style="width:57%;">
                                                            <span class="input-group-text" style="width:110%;">Professional & Legal Charges</span>
                                                        </div>
                                                        {% render_field form.bf_professional_legal_charges id="bf_professional_legal_charges" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend" style="width:55%;">
                                                            <span class="input-group-text" style="width:110%;">Subscription & Membership</span>
                                                        </div>
                                                        {% render_field form.bf_subscription_membership id="bf_subscription_membership" class="form-control" %}
                                                    </div>
                                                </div>
                                            </div>
										</div>
									</div>
                                    <div class="card">
										<div class="card-header bg-info" id="headingThree">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
													Employee Benefits <i class="fas fa-chevron-down "></i>
												</a>
											</h5>
										</div>
										<div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordion">
                                            <br>
                                            <div class="row">
                                                <div class="col-6">
                                            <span class="input-group-text">Corp Staff</span>
											<div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Corp Staff</span>
                                                </div>
                                                {% render_field form.bf_corp_staff id="bf_corp_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Bonus Corp Staff</span>
                                                </div>
                                                {% render_field form.bf_bonus_corp_staff id="bf_bonus_corp_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width:50%;">
                                                    <span class="input-group-text" style="width:110%;">EDLI Contribution corp staff</span>
                                                </div>
                                                {% render_field form.bf_EDLI_contribution_corp_staff id="bf_EDLI_contribution_corp_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width:70%;">
                                                    <span class="input-group-text" style="width:150%;">Employer Contribution to ESI Corp Staff</span>
                                                </div>
                                                {% render_field form.bf_employer_contribution_to_ESI_corp_staff id="bf_employer_contribution_to_ESI_corp_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width:70%;">
                                                    <span class="input-group-text" style="width:150%;">Employer Contribution to PF Corp Staff</span>
                                                </div>
                                                {% render_field form.bf_employer_contribution_to_PF_corp_staff id="bf_employer_contribution_to_PF_corp_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width:55%;">
                                                    <span class="input-group-text" style="width:130%;">EPF Admin Charges corp staff</span>
                                                </div>
                                                {% render_field form.bf_EPF_admin_charges_corp_staff id="bf_EPF_admin_charges_corp_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Gratuity Corp Staff</span>
                                                </div>
                                                {% render_field form.bf_gratuity_corp_staff id="bf_gratuity_corp_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width:50%;">
                                                    <span class="input-group-text" style="width:110%;">Salaries & Wages corp Staff</span>
                                                </div>
                                                {% render_field form.bf_salaries_wages_corp_staff id="bf_salaries_wages_corp_staff" class="form-control" %}
                                            </div>
                                                </div>
                                                <div class="col-6">
                                            <span class="input-group-text">Dept Staff</span>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Dept Staff</span>
                                                </div>
                                                {% render_field form.bf_dept_staff id="bf_dept_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Bonus Staff</span>
                                                </div>
                                                {% render_field form.bf_bonus_staff id="bf_bonus_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">EDLI Contribution Staff</span>
                                                </div>
                                                {% render_field form.bf_EDLI_contribution_staff id="bf_EDLI_contribution_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width:70%;">
                                                    <span class="input-group-text" style="width:150%;">Employer Contribution to ESI Corp Staff</span>
                                                </div>
                                                {% render_field form.bf_employer_contribution_to_ESI_staff id="bf_employer_contribution_to_ESI_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width:70%;">
                                                    <span class="input-group-text" style="width:150%;">Employer Contribution to PF Corp Staff</span>
                                                </div>
                                                {% render_field form.bf_employer_contribution_to_PF_staff id="bf_employer_contribution_to_PF_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width:55%;">
                                                    <span class="input-group-text" style="width:130%;">EPF Admin Charges corp staff</span>
                                                </div>
                                                {% render_field form.bf_EPF_admin_charges_staff id="bf_EPF_admin_charges_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Gratuity Corp Staff</span>
                                                </div>
                                                {% render_field form.bf_gratuity_staff id="bf_gratuity_staff" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width:50%;">
                                                    <span class="input-group-text" style="width:110%;">Salaries & Wages corp Staff</span>
                                                </div>
                                                {% render_field form.bf_salaries_wages_staff id="bf_salaries_wages_staff" class="form-control" %}
                                            </div>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
                            </div>
                            <div class="col-6">
                                <div id="accordion_1" class="container-fluid mb-3">
									<div class="card">
										<div class="card-header bg-info" id="headingFour">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
													Interest Expenses <i class="fas fa-chevron-down "></i>
												</a>
											</h5>
										</div>
										<div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordion">
											<br>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Interest on Borrowings</span>
                                                </div>
                                                {% render_field form.bf_interest_on_borrowings id="bf_interest_on_borrowings" class="form-control" %}
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Interest on Other Loans</span>
                                                </div>
                                                {% render_field form.bf_interest_on_other_loans id="bf_interest_on_other_loans" class="form-control" %}
                                            </div>
										</div>
									</div>
									<div class="card">
										<div class="card-header bg-info" id="headingFive">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
													Operational Expenses <i class="fas fa-chevron-down "></i>
												</a>
											</h5>
										</div>
										<div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordion">
                                            <br>
                                            <div class="row">
                                                <div class="col-6">
                                                    <span class="input-group-text">Fixed</span>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Fixed</span>
                                                        </div>
                                                        {% render_field form.bf_fixed id="bf_fixed" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Depreciation</span>
                                                        </div>
                                                        {% render_field form.bf_depreciation id="bf_depreciation" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Software AMC Charges</span>
                                                        </div>
                                                        {% render_field form.bf_software_AMC_charges id="bf_software_AMC_charges" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Insurance Warehouse</span>
                                                        </div>
                                                        {% render_field form.bf_insurance_warehouse id="bf_insurance_warehouse" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Rates & Taxes</span>
                                                        </div>
                                                        {% render_field form.bf_rates_taxes id="bf_rates_taxes" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Rent Premises</span>
                                                        </div>
                                                        {% render_field form.bf_rent_premises id="bf_rent_premises" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Security Service Charges</span>
                                                        </div>
                                                        {% render_field form.bf_security_service_charges id="bf_security_service_charges" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend" style="width:50%;" >
                                                            <span class="input-group-text" style="width:110%;">Manpower Supply Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_manpower_supply_expenses id="bf_manpower_supply_expenses" class="form-control" %}
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <span class="input-group-text">Variable</span>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Variable</span>
                                                        </div>
                                                        {% render_field form.bf_variable id="bf_variable" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Crane Handling Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_crane_handling_expenses id="bf_crane_handling_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Diesel Expenses Forklift</span>
                                                        </div>
                                                        {% render_field form.bf_diesel_expenses_forklift id="bf_diesel_expenses_forklift" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Forklift Handling Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_forklift_handling_expenses id="bf_forklift_handling_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Fumigation Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_fumigation_expenses id="bf_fumigation_expenses" class="form-control" %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
									</div>
									<div class="card">
										<div class="card-header bg-info" id="headingSix">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
													NON-Operational Expenses <i class="fas fa-chevron-down "></i>
												</a>
											</h5>
										</div>
										<div id="collapseSix" class="collapse " aria-labelledby="headingSix" data-parent="#accordion">
                                            <br>
                                            <div class="row">
                                                <div class="col-6">
                                                    <span class="input-group-text">Fixed</span>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Fixed</span>
                                                        </div>
                                                        {% render_field form.bf_oe_Fixed id="bf_oe_Fixed" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Housekeeping Salary</span>
                                                        </div>
                                                        {% render_field form.bf_housekeeping_salary id="bf_housekeeping_salary" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Insurance-Corp Staff</span>
                                                        </div>
                                                        {% render_field form.bf_insurance_corp_staff id="bf_insurance_corp_staff" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Insurance-Staff</span>
                                                        </div>
                                                        {% render_field form.bf_insurance_staff id="bf_insurance_staff" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend" style="width:55%;">
                                                            <span class="input-group-text" style="width:110%;">Internet & Data Card Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_internet_data_card_expenses id="bf_internet_data_card_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Rent Plant & Machinery</span>
                                                        </div>
                                                        {% render_field form.bf_rent_plant_machinery id="bf_rent_plant_machinery" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">System AMC</span>
                                                        </div>
                                                        {% render_field form.bf_system_amc id="bf_system_amc" class="form-control" %}
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <span class="input-group-text">Variable</span>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Variable</span>
                                                        </div>
                                                        {% render_field form.bf_oe_variable id="bf_oe_variable" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Advertisement & Business Promotion</span>
                                                        </div>
                                                        {% render_field form.bf_advertisement_business_promotion id="bf_advertisement_business_promotion" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Conveyance Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_conveyance_expenses id="bf_conveyance_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Diesel Expenses Genset</span>
                                                        </div>
                                                        {% render_field form.bf_diesel_expenses_gense id="bf_diesel_expenses_gense" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Handling Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_handling_expenses id="bf_handling_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend" style="width:62%;">
                                                            <span class="input-group-text" style="width:110%;">Hotel,Boarding & Lodging Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_hotel_boarding_lodging_expenses id="bf_hotel_boarding_lodging_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend" style="width:50%;">
                                                            <span class="input-group-text" style="width:100%;">Office Repairs & Maintenance</span>
                                                        </div>
                                                        {% render_field form.bf_office_repairs_maintenance id="bf_office_repairs_maintenance" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend" style="width:62%;">
                                                            <span class="input-group-text" style="width:110%;">Office Supplies & General Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_office_supplies_general_expenses id="bf_office_supplies_general_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Postage & Courier</span>
                                                        </div>
                                                        {% render_field form.bf_postage_courier id="bf_postage_courier" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Power & Fuel</span>
                                                        </div>
                                                        {% render_field form.bf_power_fuel id="bf_power_fuel" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Printing & Stationery</span>
                                                        </div>
                                                        {% render_field form.bf_printing_stationery id="bf_printing_stationery" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend" style="width:57%;">
                                                            <span class="input-group-text" style="width:110%;">Service & Maintenance Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_service_maintenance_expenses id="bf_service_maintenance_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Staff Welfare Staff</span>
                                                        </div>
                                                        {% render_field form.bf_staff_welfare_staff id="bf_staff_welfare_staff" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend" style="width:55%;">
                                                            <span class="input-group-text" style="width:110%;">Telephone & Mobile Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_telephone_mobile_expenses id="bf_telephone_mobile_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Training Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_training_expenses id="bf_training_expenses" class="form-control" %}
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Travelling Expenses</span>
                                                        </div>
                                                        {% render_field form.bf_travelling_expenses id="bf_travelling_expenses" class="form-control" %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% render_field form.bf_updated_by id="bf_updated_by" hidden="True" class="form-control" %}
										</div>
									</div>
								</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="message text-center">
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <!-- Buttons -->
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Submit
                        </button>
                        <a href="{% url 'budget_form_list' %}" class="btn btn-danger float-right">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
$(document).ready(function() {
            {
                var updated_by = document.getElementById("bf_updated_by").value
                if (updated_by == "")
                {
                    document.getElementById("bf_updated_by").value='{{user_id}}'
                }
                else
                {
                    document.getElementById("bf_updated_by").value=updated_by;
                }
            }
        });
</script>
<script>
	$("#bf_location").change(function () {
       var branchId = $(this).val();
       $.ajax({
         url: '{% url 'load_units' %}',
         data: {
           'branchId': branchId,
         },
         success: function (data) {
             console.log(data);
             $('#bf_unit_reference').removeClass('disable_a_href');
             $("#bf_unit_reference").empty();
             var unit_name=JSON.parse(data)["unit_name_list"];
             var unit_id=JSON.parse(data)["unit_id"];
             var len = (unit_name).length;
             $('#bf_unit_reference').empty().append("<option value='0'>--Select--</option>");
             for( var i = 0; i<len; i++){
                 $("#bf_unit_reference").append("<option value='"+unit_id[i]+"'>"+unit_name[i]+"</option>");
             }
         }
       });
     });
</script>


{% endblock content %}
