{% extends "asset_mgt_app/report_header_landscape.html" %}
{% block content %}
<div>
    <table class='report_details'>
        <tr>
            <td rowspan="4"><img src="media/Company_Logo.png" alt="home" class="centered-image"></td>
            <td colspan="3"><h3>BVM TRANS SOLUTIONS PVT LTD</h3></td>
        </tr>
        <tr>
            <td colspan="3">Address 70, Adam Nagar Road Nagalkeni, Chrompet Chennai 600 044</td>
        </tr>
        <tr>
            <td colspan="3"><h3>CONSIGNMENT NOTE</h3></td>
        </tr>
        <tr>
            <td ><a>www.thebvmgroup.com</a></td>
            <td><a>E-mail: transport@bvmtranssolutions.com</a></td>
            <td>GST No:33AAKCB7123L1ZL</td>
        </tr>
        <tr>
            <td><b>Consignment No:</b> {%  for consignment_detail in consignment_details %} {{consignment_detail.co_consignmentnumber}} {% endfor %}</td>
            <td><b>CARGO'S AT OWNER'S RISK</b></td>
            <td colspan="2" rowspan="5">
                <p>We hereby declare that:</p>
                <p>
                <ol>
                    <li>We hereby declare that we have selected the option of Reverse charge mechanism where recipient will be liable to pay tax at appropriate rates as per notification no. 13/2017 - Central Tax (Rate).</li>
                    <li>We herewith affirm that we have not taken any input tax credit satisfying the conditions prescribed as per Explanation No. iv of the notification no. 11/2017 - Central Tax (Rate).</li>
                    <li>In Case of recipient being covered under Entry No.1 of notification no. 13/2017 - Central Tax (Rate) then such recipients are liable to pay tax under reverse charge mechanism.</li>
                </ol>
                </p>
            </td>
        </tr>
        <tr>
            <td><b>Date:</b> {%  for consignment_detail in consignment_details %} {{consignment_detail.co_consignmentdate}} {% endfor %}</td>
            <td> <b>Insurance:</b>
                Please refer over leaf for
                terms and conditions
                regarding insurance</td>
        </tr>
        <tr>
            <td><b>From:</b> {% for consignment_detail in consignment_details %}  {{consignment_detail.co_enquirynumber.en_fromlocaion}} {% endfor %}</td>
            <td><b>Driver Name:</b> {% for vehicle_detail in vehicle_details %} {{vehicle_detail.va_drivername}} {% endfor %}</td>
        </tr>
        <tr>
            {% for consignment_detail in consignment_details %}
            <td><b>Touch Points:</b> {{consignment_detail.co_enquirynumber.en_touchpoint}},{{consignment_detail.co_enquirynumber.en_touchpoint2}},{{consignment_detail.co_enquirynumber.en_touchpoint3}},{{consignment_detail.co_enquirynumber.en_touchpoint4}}</td>
            {% endfor %}
            <td><b>Driver Number:</b> {% for vehicle_detail in vehicle_details %} {{vehicle_detail.va_drivernumber}} {% endfor %}</td>
        </tr>
        <tr>
            <td><b>To:</b> {% for consignment_detail in consignment_details %} {{consignment_detail.co_enquirynumber.en_tolocation}} {% endfor %}</td>
            <td><b>Truck Number:</b> {% for vehicle_detail in vehicle_details %} {{vehicle_detail.va_vehiclenumber}} {% endfor %}</td>
        </tr>
        <tr>
            <td><b>Special Instruction:</b> {% for consignment_detail in consignment_details %} {{consignment_detail.co_remarks}} {% endfor %}</td>
            <td><b>Driver License:</b> {% for vehicle_detail in vehicle_details %} {{vehicle_detail.va_driver_lic}} {% endfor %}</td>
            <td><b>Movement Type:</b> {% for consignment_detail in consignment_details %} {{consignment_detail.co_enquirynumber.en_movement_type}} {% endfor %}</td>
            <td><b>GST Tax Payable By:</b> {% for consignment_detail in consignment_details %} {{consignment_detail.co_gst_payable_by}} {% endfor %}</td>
        </tr>
        <tr>
            <td><b>Container No:</b> {% for consignment_detail in consignment_details %} {{consignment_detail.co_container_number}} {% endfor %}</td>
            <td><b>Seal No/Smart Lock No.:</b> {% for consignment_detail in consignment_details %} {{consignment_detail.co_seal_number}} {% endfor %}</td>
            <td><b>Bill To Party Name And Address:</b> {% for consignment_detail in consignment_details %} {{consignment_detail.co_enquirynumber.en_customername}} <p>{{consignment_detail.co_enquirynumber.en_customername.cu_address}}</p>{% endfor %} </td>
            <td><b>Freight Charges:</b> {% for consignment_detail in consignment_details %} {{consignment_detail.co_freight_amount}}{% endfor %} </td>
        </tr>
    </table>
    <h3>Invoice Details</h3>
    <hr class="report_hrItem"/>
    <table class='report_details'>
        <tr>
            <th>Invoice Number</th>
            <th>Invoice Date</th>
            <th>Consignor</th>
            <th>Consignee</th>
            <th>Currency</th>
            <th>Invoice Value</th>
            <th>Invoice Value In INR</th>
            <th>E-Way Bill</th>
            <th>Date Of Issue</th>
            <th>Validity Date</th>
            <th>Description (Said To Contain)</th>
            <th>Packages</th>
            <th>Weight</th>
            <th>Arrival Date & Time</th>
            <th>Unloading Date & Time</th>
        </tr>
        {% for consignment_goods in consignment_goods_list %}
        <tr>
            <td>{{consignment_goods.cg_consignerinvoice}}</td>
            <td>{{consignment_goods.cg_consignerinvoice_date}}</td>
            <td>{{consignment_goods.cg_consigner}}</td>
            <td>{{consignment_goods.cg_consignee}}</td>
            <td>{{consignment_goods.cg_currency_type}}</td>
            <td>{{consignment_goods.cg_consignervalue}}</td>
            <td>{{consignment_goods.cg_valueininr}}</td>
            <td>{{consignment_goods.cg_ebillno}}</td>
            <td>{{consignment_goods.cg_dateofissue}}</td>
            <td>{{consignment_goods.cg_dateofvalidity}}</td>
            <td>{{consignment_goods.cg_description}}</td>
            <td>{{consignment_goods.cg_noofpieces}}</td>
            <td>{{consignment_goods.cg_weight}}</td>
            <td>{{consignment_goods.cg_arrival_date}}</td>
            <td>{{consignment_goods.cg_unloading_date}}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="left-group">
        <br>
        <p>Receiver Signature With Date & Seal ----------------------------------------------</p>
        <p>Remarks:</p>
        <p>PLEASE READ TERMS AND CONDITIONS MENTIONED OVERLEAF</p>
    </div>
    <br>
    <br>
    <h3><u>Terms and Conditions:</u></h3>
    <small><p>
        BVM TRANS SOLUTIONS PRIVATE LIMITED, the transport service provider herein will be referred as “BVM”
        <ol>
            <li>All consignments are carried entirely at owner’s risk.</li>
            <li>Consignor has to declare the correct description of the commodity and also the value.</li>
            <li>It shall be the absolute responsibility of the consignor to insure the goods meant for Transportation. Otherwise the BVM will not be liable for any loss or damage and. In case of any claim of uninsured goods, BVM’s liability is limited to a maximum of Rs.5000 only (Rupees five thousand only) per trip irrespective of any number of consignments of any value carried.</li>
            <li>BVM is not responsible for the contents of packages if the packages are delivered in the same apparent condition in which they are tendered for despatch by the consignor.</li>
            <li>BVM is not liable for loss or damage or delay of goods by breakage, leakage, evaporation,theft,road and weather condition and strikes,lock-outs, riot,civil or political disturbances,explosion,fire or accident,hijacking of vehicle,theft,robbery,earthquake,flood or any act of God. to vehicles by which goods are transported However, the BVM shall be discharged in case of accident if proper FIR/COF and other documents are provided.</li>
            <li>With the approval of the consignor, the BVM can tranship the goods from one vehicle to another if there are chances of the goods being damaged or perishing and also in case of vehicle breakdown / accident.</li>
            <li>Goods are received subject to deterioration in the condition of the goods resulting from natural causes like effect of temperature, weather condition etc.</li>
            <li>BVM shall not be liable if the goods are not delivered within the scheduled time due to any unavoidable circumstances.</li>
            <li>BVM will not be liable for any shortage or damage after delivery of goods unless it is notified and a statement is made to that effect by the consignee on the copy of consignment and destination copy of driver at the time of unloading.The consignee should also take signatures/thumb impression of the driver.</li>
            <li>In the case of goods are not transported due to bad road condition/unworthiness of roads/strike/riots/bad weather conditions/act of God,BVM will not be liable for any loss due to delay,if the same is informed to the consignor/consignee to that effect.</li>
            <li>The consignor is responsible to obtain and hand over to BVM at the time of booking the goods, the appropriate and relevant documents for transport by road.In case of failure, consignor will be responsible for consequences arising out of such transport without permits.</li>
            <li>BVM is not responsible in the event of goods being detained or seized or confiscated by appropriate Government authorities.</li>
            <li>Other than Lithium Batteries, Dangerous and inflammable goods will not be carried and the consignor must correctly describe the goods at the time of booking/loading.</li>
            <li>Fresh fruits, vegetables, furniture, crockery, glassware and other such delicate goods are booked at the absolute risk of the 'consignor and BVM shall not be responsible for any perish/damage.</li>
            <li>Complaint or claim will not be entertained if not brought to the notice of BVM in writing within 14 days from the date of delivery.</li>
            <li>BVM has the right to reweigh, remeasure, reclassify, and recalculate the freight and other charges at the place of destination in the presence of the holder of the receipts or his duly authorised agent and collect the same from the consignee before delivery.</li>
            <li>The consignor guarantees on-time payment of correct charges and advance.</li>
            <li>The courts in Chennai city alone shall have the exclusive jurisdiction in respect of all claims and matters arising out of the transaction.</li>
        </ol>
        </p></small>
</div>
{% endblock content %}