{% load widget_tweaks %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="card-body bg-light">
            <div class="row align-items-end">
                <!-- Consignment Number -->
                <div class="col-md-2">
                    <label class="form-label">Consignment No</label>
                    {% render_field cn_form.cn_consignment_num id="cn_consignment_num" class="form-control disable_a_href" readonly="readonly" %}
                </div>
                <!-- Pieces -->
                <div class="col-md-2">
                    <label class="form-label">Pieces</label>
                    {% render_field cn_form.cn_new_goods_pieces class="form-control" %}
                </div>
                <!-- Length -->
                <div class="col-md-2">
                    <label class="form-label">Length</label>
                    {% render_field cn_form.cn_new_goods_length class="form-control" %}
                </div>
                <!-- Width -->
                <div class="col-md-2">
                    <label class="form-label">Width</label>
                    {% render_field cn_form.cn_new_goods_width class="form-control" %}
                </div>
                <!-- Height -->
                <div class="col-md-2">
                    <label class="form-label">Height</label>
                    {% render_field cn_form.cn_new_goods_height class="form-control" %}
                </div>
                <!-- Weight -->
                <div class="col-md-2">
                    <label class="form-label">Weight</label>
                    {% render_field cn_form.cn_new_goods_weight class="form-control" %}
                </div>
                {% render_field cn_form.cn_lastmodifiedby id="cn_lastmodifiedby" hidden="True" class="form-control" %}
                {% render_field cn_form.cn_created_at id="cn_created_at" hidden="True" class="form-control" %}

                <!-- Submit & Cancel in the same row -->
                <div class="col-md-2 text-center mt-4">
                    <button type="submit" class="btn btn-success btn-sm">Submit</button>
                    <a href="{% url 'consignment_goods_new_list' %}" class="btn btn-secondary btn-sm">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
<hr>
	{% include "asset_mgt_app/consignmentgoods_newlist_woh.html" %}

<script>
    $(document).ready(function() {
        document.getElementById("cn_lastmodifiedby").value = '{{user_id}}';
        var consignment_num = document.getElementById("cn_consignment_num").value
            if (consignment_num=="")
            {

                document.getElementById("cn_consignment_num").value = '{{ consignmentgoods_id_val }}';
            }
            else
            {
                document.getElementById("cn_consignment_num").value =consignment_num;
            }
    });
</script>
{% endblock content %}
