{% block content %}

<!-- Add New Consignment Goods Button -->
<div class="container-fluid mt-3">
    <div class="row mb-3">
<!--        <div class="col-md-3">-->
<!--            <a href="{% url 'consignment_goods_add' %}" class="btn btn-success">-->
<!--                <i class="fas fa-plus"></i> Add New Goods-->
<!--            </a>-->
<!--        </div>-->
    </div>
</div>

<!-- Consignment Goods List Table -->
<div class="container-fluid">
    <table id="consignment_goods_list" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Created at</th>
                <th>Consignment Number</th>
                <th>Pieces</th>
                <th>Length</th>
                <th>Width</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Updated By</th>
                <th>Updated On</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for goods in goods_list %}
            <tr>
                <td>{{ goods.cn_created_at }}</td>
                <td>{{ goods.cn_consignment_num }}</td>
                <td>{{ goods.cn_new_goods_pieces }}</td>
                <td>{{ goods.cn_new_goods_length }}</td>
                <td>{{ goods.cn_new_goods_width }}</td>
                <td>{{ goods.cn_new_goods_height }}</td>
                <td>{{ goods.cn_new_goods_weight }}</td>
                <td>{{ goods.cn_lastmodifiedby }}</td>
                <td>{{ goods.cn_updated_at}</td>
                <td class="text-center">
                    <!-- Edit Button -->
                    <a class="btn btn-primary btn-sm" href="{% url 'consignment_goods_add' goods.id %}" title="Edit">
                        <i class="far fa-edit"></i>
                    </a>

                    <!-- Delete Button -->
                    <form action="{% url 'consignment_goods_delete' goods.id %}" method="post" class="d-inline"
                          onsubmit="return confirm('Are you sure you want to delete this record?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- DataTables Script -->
<script>
    $(document).ready(function() {
        $('#consignment_goods_list').DataTable();
    });
</script>

{% endblock content %}
