{% extends "asset_mgt_app/base.html" %}


{% block content %}
<div class="container-fluid" style="padding:15px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 rounded text-center bg-info">
            <h3>Customer List</h3>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<div class="container-fluid row">
    <div class="col-md-1">
        <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'customer_insert' %}" class="btn btn-success btn-block btn-lg">
            <i class="fas fa-plus"></i> Add
        </a>
    </div>
</div>
<hr>
<div class="container-fluid">
    <table  id="customer_list" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Created On</th>
            <th>Customer Name</th>
            <th>Code</th>
            <th>Short Name</th>
            <th>Customer Business</th>
            <th>Contact Person</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Modified By</th>
            <th>Modified On</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for customerinfo in customer_list %}
        <tr>
            <td> {{customerinfo.cu_created_at}}</td>
            <td> {{customerinfo.cu_nameshort}}</td>
            <td> {{customerinfo.cu_customercode}}</td>
            <td> {{customerinfo.cu_name}}</td>
            <td> {{customerinfo.cu_businessmodel}}</td>
            <td> {{customerinfo.cu_customerperson}}</td>
            <td> {{customerinfo.cu_contactno}}</td>
            <td> {{customerinfo.cu_email}}</td>
            <td> {{customerinfo.cu_lastmodifiedby}}</td>
            <td> {{customerinfo.cu_updated_at}}</td>
            <td>

                <a  class="btn btn-primary" href="{% url 'customer_update' customerinfo.id %}" >
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="{% url 'customer_delete' customerinfo.id %}" method="post" onclick="return confirm('Are you sure?');">
                    {% csrf_token %}
                    <button type="submit" class="btn  btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
    $('#customer_list').DataTable();
} );
</script>

{% endblock content %}
