{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="container-fluid">
                <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                    <div class="card-header text-center">
                        <h3>Add/Update Customer Attachment</h3>
                    </div>
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-6">
                                <!-- Customer Name Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Customer Name</span>
                                    </div>
                                    {% render_field form.ca_customer_name id="ca_customer_name" class="form-control disable_a_href" %}
                                </div>

                                <!-- Contract Attachment Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Contract Attachment</span>
                                    </div>
                                    {% render_field form.ca_contract_attach id="ca_contract_attach" class="form-control" %}
                                </div>

                                <!-- Contract Start Date Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Contract Start Date</span>
                                    </div>
                                    {% render_field form.ca_contract_start_date id="ca_contract_start_date" type="date" class="form-control" %}
                                </div>

                                <!-- Contract End Date Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Contract End Date</span>
                                    </div>
                                    {% render_field form.ca_contract_end_date id="ca_contract_end_date" type="date" class="form-control" %}
                                </div>

                                <!-- SOP Attachment Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">SOP Attachment</span>
                                    </div>
                                    {% render_field form.ca_sop_attach id="ca_sop_attach" class="form-control" %}
                                </div>

                                <!-- SOW Attachment Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">SOW Attachment</span>
                                    </div>
                                    {% render_field form.ca_sow_attach id="ca_sow_attach" class="form-control" %}
                                </div>

                                <!-- KYC Attachment Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">KYC Attachment</span>
                                    </div>
                                    {% render_field form.ca_kyc_attach id="ca_kyc_attach" class="form-control" %}
                                </div>
                            </div>

                            <div class="col-6">
                                <!-- Rate Attachment Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rate Attachment</span>
                                    </div>
                                    {% render_field form.ca_rate_attach id="ca_rate_attach" class="form-control" %}
                                </div>

                                <!-- Rate Start Date Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rate Start Date</span>
                                    </div>
                                    {% render_field form.ca_rate_start_date id="ca_rate_start_date" type="date" class="form-control" %}
                                </div>

                                <!-- Rate End Date Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rate End Date</span>
                                    </div>
                                    {% render_field form.ca_rate_end_date id="ca_rate_end_date" type="date" class="form-control" %}
                                </div>

                                {% render_field form.ca_updated_by id="ca_updated_by" hidden="True" class="form-control" %}

                                <!-- Comment Box Field -->
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Comment Box</span>
                                    </div>
                                    {% render_field form.ca_comments_box id="ca_comments_box" class="form-control" %}
                                </div>

                            </div>
                        </div>

                        <!-- Message Display Section -->
                        <div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-1"></div>
						</div>

                        <!-- Submit and Cancel Buttons -->
                        <button type="submit" class="btn btn-success" id="save-btn">
                            <i class="fas fa-check"></i> Submit
                        </button>
                        <a href="{% url 'customer_attachment_cancel' %}" class="btn btn-danger float-right">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</form>

<script>
	$(document).ready(function() {
            {
                var customer_id = document.getElementById("ca_customer_name").value
                if (customer_id == "")
                {
                    document.getElementById("ca_customer_name").value='{{customer_id}}'
                }
                else
                {
                    document.getElementById("ca_customer_name").value=customer_id;
                }
            }

            {
                var updated_by = document.getElementById("ca_updated_by").value
                if (updated_by == "")
                {
                    document.getElementById("ca_updated_by").value='{{user_id}}'
                }
                else
                {
                    document.getElementById("ca_updated_by").value=updated_by;
                }
            }
        });
</script>
{% endblock content %}
