{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="col-md-1">
	<a href="{% url 'search' %}" class="btn btn-primary btn-block btn-lg">
		<i class="fas fa-arrow-left"></i> Back
	</a>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8 btn-group mx-auto text-center">
		{% if gatein_list %}
		{% for gateininfo in gatein_list %}
		<a class="btn  border border-dark" id="gatein_btn" href="{% url 'gatein_update' gateininfo.id %}">Gate-In</a>
		{% endfor %}
		{% else %}
		<a class="btn  border border-dark" id="gatein_btn1" href="{% url 'gatein_insert' %}">Gate-In</a>
		{% endif %}

		{% if loadingbay_list %}
		{% for loadingbayinfo in loadingbay_list %}
		<a class="btn  border border-dark" id="loadingbay_btn" href="{% url 'loadingbay_update' loadingbayinfo.id %}">Goods Receipt</a>
		{% endfor %}
		{% else %}
		<a class="btn  border border-dark" id="loadingbay_btn1" href="{% url 'loadingbay_insert' %}">Goods Receipt</a>
		{% endif %}
		{% if damagereport_list %}
		{% for damagecheckinfo in damagereport_list %}
		<a class="btn  border focus border-dark " id="damagecheck_before_btn" href="{% url 'damagereport_update' damagecheckinfo.id %}">Damage Check/Before Offloading</a>
		{% endfor %}
		{% else %}
		<a class="btn  border focus border-dark " id="damagecheck_before_btn1" href="{% url 'damagereport_insert' %}">Damage Check/Before Offloading</a>
		{% endif %}
		<a class="btn  border border-dark disable_a_href" id="damagecheck_after_btn" href="{% url 'goods_insert' %}">Inspection</a>
		<!--		<a class="btn  border border-dark disable_a_href" id="warehousein_btn" href="{% url 'warehousein_insert' %}" >Warehouse In</a>-->
		<a class="btn  border border-dark disable_a_href" id="storage_btn" href="{% url 'storage_list' %}">Storage</a>
	</div>
	<div class="col-2"></div>
</div>

<hr>

<form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<!--{{form.as_p}}-->
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-6">
								<h3>Add/Update Damage Check/Before</h3>
							</div>
							<div class="col-2">
								<a href="#" class="btn btn-warning btn-block " id="delivery_chalan_btn">
									Delivery Chelan          <i class="fa fa-download " aria-hidden="true"></i>
								</a>
							</div>
							<div class="col-2">
								<a href="{% url 'damage_report' %}" class="btn btn-warning btn-block " id="damage_report_btn">
									Damage Report          <i class="fa fa-download" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">WH Job Number</span>
									</div>
									{% render_field damagereport_form.dam_wh_job_num id="dam_wh_job_num" value=request.session.ses_gatein_id_nam class="form-control" readonly=True %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Damages</span>
									</div>
									{% render_field damagereport_form.dam_damage_type id="dam_damage_type" onchange="challan_damage_btn_active()" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">GRN Number</span>
									</div>
									{% render_field damagereport_form.dam_GRN_num id="grn_num" class="form-control" readonly="True"%}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Quantity Deviation (Open)</span>
									</div>
									{% render_field damagereport_form.dam_no_of_units_deviation id="dam_no_of_units_deviation" class="form-control"%}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Ratification Process?</span>
									</div>
									{% render_field damagereport_form.dam_ratification_process id="dam_ratification_process" class="form-control"%}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Marks & Numbers?</span>
									</div>
									{% render_field damagereport_form.dam_marks_numbers id="dam_marks_numbers" onchange="challan_damage_btn_active()" class="form-control"%}
								</div>
								<div class="input-group input-group mb-3 bg-dark">
									<div class="input-group-prepend">
										<span class="input-group-text">OTL Pic</span>
									</div>
									{% render_field damagereportimg_form.dam_OTL_pic class="form-control" %}
								</div>
							</div>
							<div class="col-6">
								<div class="input-group input-group-sm mb-3 bg-dark block">
									<div class="input-group-prepend">
										<span class="input-group-text">Documents</span>
									</div>
									{% render_field damagereportimg_form.dam_document name="dam_document" id="dam_document" class="form-control" %}
								</div>
								{% render_field damagereportimg_form.damimage_wh_job_num name="damimage_wh_job_num" id="damimage_wh_job_num" value=request.session.ses_gatein_id_nam class="form-control" %}
									<div class="input-group input-group-sm mb-3 bg-dark block col-10">
										<div class="input-group-prepend">
											<span class="input-group-text">Closed Door Pic</span>
										</div>
										{% render_field damagereportimg_form.dam_closed_door_pic class="form-control" %}
									</div>
<!--									<div class="col-2">-->
<!--										<input type="file" id="captured-image" accept="image/*" capture="camera">-->
<!--										<button onclick="captureImageAndSave()">Save Captured Image</button>-->
<!--									</div>-->


								<div class="input-group input-group-sm mb-3 bg-dark block">
									<div class="input-group-prepend">
										<span class="input-group-text">Opened Door Pic</span>
									</div>
									{% render_field damagereportimg_form.dam_open_door_pic class="form-control"%}
								</div>
								<div class="input-group input-group-sm mb-3 bg-dark block">
									<div class="input-group-prepend">
										<span class="input-group-text">50% offload Pics</span>
									</div>
									{% render_field damagereportimg_form.dam_50_offload_pic class="form-control" %}
								</div>
								<div class="modal-body">
									<video id="video" width="100" height="100" autoplay></video>
									<button id="capture-btn" class="btn btn-primary">Capture</button>
									<canvas id="canvas" width="100" height="100" style="display:none;"></canvas>
									<img id="captured-image" src="" alt="Captured Image" style="display:none;"/>

									<form id="image-form" method="POST" enctype="multipart/form-data" class="mt-3">
										{% csrf_token %}
										<input type="hidden" id="image-data" name="image-data">
										<button type="submit" class="btn btn-success">Save Image</button>
									</form>
								</div>
								<div class="input-group input-group-sm mb-3 bg-dark block">
									<div class="input-group-prepend">
										<span class="input-group-text">Empty Pics</span>
									</div>
									{% render_field damagereportimg_form.dam_empty_vehicle class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3 bg-dark block">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Approval</span>
									</div>
									{% render_field damagereportimg_form.dam_customer_approval name="dam_customer_approval" id="dam_customer_approval" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Status</span>
									</div>
									{% render_field damagereport_form.dam_status id="dam_status" class="form-control" %}
								</div>
							</div>
							<div class="input-group input-group-sm mb-3 container-fluid">
								<div class="input-group-prepend">
									<span class="input-group-text">Comments</span>
								</div>
								{% render_field damagereport_form.dam_comments id="dam_comments" class="form-control"%}
							</div>
						</div>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						<button type="submit" class="btn btn-success " ><i class="fas fa-check"></i> Save</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</form>

<script>
	function challan_damage_btn_active() {
        var damage_type_val =document.getElementById("dam_damage_type").value;
        var marks_numbers_val =document.getElementById("dam_marks_numbers").value;
        var damage_status_val =document.getElementById("dam_status").value;
        if ((damage_type_val!=6)||(marks_numbers_val==1))
         {
             $('#dam_customer_approval').removeClass('disable_a_href');
         }
         else
         {
             $('#dam_customer_approval').addClass('disable_a_href');
         }
    }
</script>
<script>
	$(document).ready(function() {
        var gatein_status_id = '{{gatein_status}}';
        var loadingbay_status_id='{{loadingbay_status}}';
        var damage_before_status_id='{{damage_before_status}}';
        var damage_after_status_id='{{damage_after_status}}';
        var warehousein_status_id='{{warehousein_status}}';

        if (gatein_status_id =="Completed")
        {
            $('#gatein_btn').removeClass('disable_a_href');
            $('#gatein_btn1').removeClass('disable_a_href');
            $('#gatein_btn').addClass('btn-success');
            $('#gatein_btn1').addClass('btn-success');
            $('#loadingbay_btn').removeClass('disable_a_href');
            $('#loadingbay_btn1').removeClass('disable_a_href');
        }
        else if (gatein_status_id =="Work In Progress")
        {
            $('#gatein_btn').removeClass('disable_a_href');
            $('#gatein_btn1').removeClass('disable_a_href');
            $('#gatein_btn').addClass('btn-warning');
            $('#gatein_btn1').addClass('btn-warning');
        }

        if (loadingbay_status_id =="Completed")
        {
            $('#loadingbay_btn').removeClass('disable_a_href');
            $('#loadingbay_btn1').removeClass('disable_a_href');
            $('#loadingbay_btn').addClass('btn-success');
            $('#loadingbay_btn1').addClass('btn-success');
            $('#damagecheck_before_btn').removeClass('disable_a_href');
            $('#damagecheck_before_btn1').removeClass('disable_a_href');
        }
        else if (loadingbay_status_id =="Work In Progress")
        {
            $('#loadingbay_btn').removeClass('disable_a_href');
            $('#loadingbay_btn1').removeClass('disable_a_href');
            $('#loadingbay_btn').addClass('btn-warning');
            $('#loadingbay_btn1').addClass('btn-warning');
        }

        if (damage_before_status_id =="Completed")
        {
            $('#damagecheck_before_btn').removeClass('disable_a_href');
            $('#damagecheck_before_btn1').removeClass('disable_a_href');
            $('#damagecheck_before_btn').addClass('btn-success');
            $('#damagecheck_before_btn1').addClass('btn-success');
            $('#damagecheck_after_btn').removeClass('disable_a_href');
        }
        else if (damage_before_status_id =="Work In Progress")
        {
            $('#damagecheck_before_btn').removeClass('disable_a_href');
            $('#damagecheck_before_btn1').removeClass('disable_a_href');
            $('#damagecheck_before_btn').addClass('btn-warning');
            $('#damagecheck_before_btn1').addClass('btn-warning');
        }
        if (damage_after_status_id =="Completed")
        {
            $('#damagecheck_after_btn').removeClass('disable_a_href');
            $('#damagecheck_after_btn').addClass('btn-success');
            $('#warehousein_btn').removeClass('disable_a_href');
        }
        else if (damage_after_status_id =="No Status")
        {
            $('#damagecheck_after_btn').removeClass('disable_a_href');
            $('#damagecheck_after_btn').addClass('btn-warning');
        }

        if (warehousein_status_id =="Completed")
        {
            $('#warehousein_btn').removeClass('disable_a_href');
            $('#warehousein_btn').addClass('btn-success');
            $('#storage_btn').removeClass('disable_a_href');
            $('#storage_btn').addClass('btn-success');
        }
        else if (warehousein_status_id =="None")
        {
            $('#warehousein_btn').removeClass('disable_a_href');
        }
        else if (warehousein_status_id =="No Status")
        {
            $('#warehousein_btn').removeClass('disable_a_href');
            $('#warehousein_btn').addClass('btn-warning');
        }
    <!--	grnnum()-->
    challan_damage_btn_active()
      });
</script>

<script>
	function captureImageAndSave() {
    // Capture the image from your camera or input
    const capturedImage = document.getElementById('captured-image').files[0]; // Assuming you have an input for image

    if (!capturedImage) {
        alert('Please capture an image first!');
        return;
    }

    const formData = new FormData();
    formData.append('image', capturedImage);

    // Send the image data to the server
    fetch('/your-django-url-to-save-image/', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': getCookie('csrftoken') // Get the CSRF token
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Image saved successfully!');
        } else {
            alert('Error saving image: ' + data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

// Function to get CSRF token
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Check if the cookie is the one we want
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

<script>
    let stream;

    // Access the user's webcam
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(s => {
            stream = s;
            document.getElementById('video').srcObject = stream;
        })
        .catch(err => {
            console.log("Error accessing webcam: ", err);
        });

    document.getElementById('capture-btn').addEventListener('click', function() {
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const capturedImage = document.getElementById('captured-image');
        const imageDataInput = document.getElementById('image-data');

        // Draw the current video frame onto the canvas
        context.drawImage(video, 0, 0, 640, 480);
        const dataUrl = canvas.toDataURL('image/jpeg');
        capturedImage.src = dataUrl;
        capturedImage.style.display = 'block';
        imageDataInput.value = dataUrl; // Store base64 image in the hidden field

        // Stop the webcam stream after capture
        stream.getTracks().forEach(track => track.stop());
    });
</script>
{% endblock content %}