{% extends "asset_mgt_app/report_header_potrait.html" %}
{% block content %}
{% for damageinformation in damage_list %}
<div class="report_title">
  Damage Report ({{damageinformation.dam_wh_job_num}})
</div>
<div class='report_details'>
    <table>
        <tr>
            <th>Job Number</th>
            <td>{{damageinformation.dam_wh_job_num}}</td>
        </tr>
        <tr>
            <th>GRN Number</th>
            <td>{{damageinformation.dam_GRN_num}}</td>
        </tr>
        <tr>
            <th>Damage Type</th>
            <td>{{damageinformation.dam_damage_type}}</td>
        </tr>
        <tr>
            <th>No. of Units Deviating</th>
            <td>{{damageinformation.dam_no_of_units_deviation}}</td>
        </tr>
        <tr>
            <th>Ratification Process</th>
            <td>{{damageinformation.dam_ratification_process}}</td>
        </tr>
        <tr>
            <th>Marks & Number Deviation?</th>
            <td>{{damageinformation.dam_marks_numbers}}</td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>{{damageinformation.dam_comments}}</td>
        </tr>
    </table>
</div>

{% endfor %}
{% endblock content %}