{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="col-md-1">
	<a href="{% url 'gatein_list' %}" class="btn btn-primary btn-block btn-lg">
		<i class="fas fa-arrow-left"></i>
	</a>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8 btn-group mx-auto text-center">
		{% if gatein_list %}
			{% for gateininfo in gatein_list %}
			<a class="btn btn-primary border border-dark" href="{% url 'gatein_update' gateininfo.id %}">Gate-In</a>
			{% endfor %}
		{% else %}
			<a class="btn btn-primary border border-dark" href="{% url 'gatein_insert' %}">Gate-In</a>
		{% endif %}

		{% if loadingbay_list %}
			{% for loadingbayinfo in loadingbay_list %}
			<a class="btn btn-primary border border-dark" href="{% url 'loadingbay_update' loadingbayinfo.id %}">Loading Bay</a>
			{% endfor %}
		{% else %}
			<a class="btn btn-primary border border-dark" href="{% url 'loadingbay_insert' %}">Loading Bay</a>
		{% endif %}
		<a class="btn btn-primary border border-dark">Damage Check/Before</a>
<!--		{% if goods_list %}-->
<!--			{% for goodsinfo in goods_list %}-->
<!--			<a class="btn btn-primary border border-dark" href="{% url 'goods_update' goodsinfo.id %}">Damage Check/After</a>-->
<!--			{% endfor %}-->
<!--		{% else %}-->
<!--			<a class="btn btn-primary border border-dark" href="{% url 'goods_insert' %}">Damage Check/After</a>-->
<!--		{% endif %}-->
		<a class="btn btn-primary border border-dark disable_a_href" href="{% url 'goods_insert' %}">Damage Check/After</a>
		<a class="btn btn-primary border border-dark disable_a_href">Warehouse In</a>
		<a class="btn btn-primary border border-dark disable_a_href">Storage</a>
		<a class="btn btn-primary border border-dark disable_a_href">Dispatch</a>
		<a class="btn btn-primary border border-dark disable_a_href">Billing</a>
		<a class="btn btn-primary border border-dark disable_a_href">Expenses</a>
		<a class="btn btn-primary border border-dark disable_a_href">Reports</a>
	</div>
	<div class="col-2"></div>
</div>

<hr>

<form method="POST" action="">
	{% csrf_token %}

	<!--{{form.as_p}}-->

	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Damage Check/Before</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">WH Job Number</span>
									</div>
									{% render_field damagereport_form.dam_wh_job_num value=request.session.ses_gatein_id_nam class="form-control" readonly=True %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Damage Type</span>
									</div>
									{% render_field damagereport_form.dam_damage_type class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">GRN Number</span>
									</div>
									{% render_field damagereport_form.dam_GRN_num id="grn_num" class="form-control" readonly="True"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Truck Depature Time</span>
									</div>
									{% render_field damagereport_form.dam_truck_dep_time type="datetime-local" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">OTL Pic</span>
									</div>
									{% render_field damagereport_form.dam_OTL_pic class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Closed Door Pic</span>
									</div>
									{% render_field damagereport_form.dam_closed_door_pic class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Opened Door Pic</span>
									</div>
									{% render_field damagereport_form.dam_open_door_pic class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">50% offload Pics</span>
									</div>
									{% render_field damagereport_form.dam_50_offload_pic class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Empty Pics</span>
									</div>
									{% render_field damagereport_form.dam_empty_vehicle class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Status</span>
									</div>
									{% render_field damagereport_form.dam_status class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="message">
								{{damagereport_form.errors}}
							</div>
							<!--<input class="btn btn-success" type="submit" name="Create User">-->
						</div>
						<button type="submit" class="btn btn-success " onclick="grnnum()"><i class="fas fa-check"></i> Save</button>
<!--						<a href="{% url 'damagereport_list' %}" class="btn btn-danger float-right">-->
<!--							<i class="fas fa-times"></i> Cancel-->
<!--						</a>-->
					</div>
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
</form>
<script>
function grnnum() {
  var ran=Math.floor((Math.random() * 1000000) + 1)
  var jn=document.getElementById("grn_num").value
  if (jn=="")
	{
		 document.getElementById("grn_num").value ="GRN"+"_"+ ran;
	}
	else
	{
  		document.getElementById("grn_num").value=jn;
  	}
}
</script>
{% endblock content %}