{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<form method="POST" id="gate_in" action="" data-load_customer_model-url="{% url 'load_customer_model' %}" novalidate >
	{% csrf_token %}

	<!--{{form.as_p}}-->

	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Dispatch</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col-6">
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">WH Job Number</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_job_no class="form-control" id="job_num" value=request.session.ses_gatein_id_nam readonly=True %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Dispatch Number</span>
									</div>
									{% render_field dispatch_form.dispatch_num class="form-control" id="dispatch_num" readonly=True %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">Invoice Number</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_invoice value=request.session.ses_wh_invoice readonly="True" class="form-control" %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">Customer</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_customer id="dispatch_customer" class="form-control" %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">Customer Model</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_customer_type id="dispatch_customer_type" class="form-control disable_a_href" %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">Customer Department</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_department class="form-control" %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">Consigner</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_shipper class="form-control" %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">Consignee</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_consignee class="form-control" %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">Total Packages</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_no_of_pkg id="dispatch_no_of_pkg" class="form-control" %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<!--							</div>-->
								<!--							<div class="col-4">-->
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">Invoice Weight(Actual)</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_weight class="form-control" %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Driver Name</span>
									</div>
									{% render_field dispatch_form.dispatch_driver class="form-control"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Driver Contact</span>
									</div>
									{% render_field dispatch_form.dispatch_contact_number class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Driver License</span>
									</div>
									{% render_field dispatch_form.dispatch_DL_number class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">OTL</span>
									</div>
									{% render_field dispatch_form.dispatch_otl class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Transporter</span>
									</div>
									{% render_field dispatch_form.dispatch_transporter class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Truck Number</span>
									</div>
									{% render_field dispatch_form.dispatch_truck_number class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Truck Type</span>
									</div>
									{% render_field dispatch_form.dispatch_truck_type class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Depature Date & Time</span>
									</div>
									{% render_field dispatch_form.dispatch_depature_date type="datetime-local" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Cargo Picked?</span>
									</div>
									{% render_field dispatch_form.dispatch_cargo_picked class="form-control"  %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Sticker Fixed?</span>
									</div>
									{% render_field dispatch_form.dispatch_sticker_pasted_BVM class="form-control" id="dispatch_sticker_pasted_BVM" onchange="AWB_enabler()"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">HAWB</span>
									</div>
									{% render_field dispatch_form.dispatch_HAWB class="form-control" disabled="True" id="dispatch_HAWB" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">MAWB</span>
									</div>
									{% render_field dispatch_form.dispatch_MAWB class="form-control" disabled="True" id="dispatch_MAWB" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Destination</span>
									</div>
									{% render_field dispatch_form.dispatch_destination class="form-control"  %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text">GRN</span>-->
								<!--									</div>-->
								<!--									{% render_field dispatch_form.dispatch_GRN class="form-control"  %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Comments</span>
									</div>
									{% render_field dispatch_form.dispatch_comments class="form-control"  %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Status</span>
									</div>
									{% render_field dispatch_form.dispatch_status class="form-control"  %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-2"></div>
							<div class="col-8 message text-center">
								{% for message in messages %}
								<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
								{% endfor %}
							</div>
							<div class="col-2"></div>
						</div>
						<button type="submit" class="btn btn-success" onclick="dispatch_num_fn()"><i class="fas fa-check"></i> Save</button>
						<a href="{% url 'dispatch_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel </a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</form>
{% include "asset_mgt_app/dispatch_goods_list.html" %}
<script>
function dispatch_num_fn() {
  var ran=Math.floor((Math.random() * 1000000) + 1)
  var jn2=document.getElementById("dispatch_num").value
  if (jn2=="")
	{
		document.getElementById("dispatch_num").value ="Dispatch_"+ ran;
	}
	else
	{
  		document.getElementById("dispatch_num").value=jn2;
  	}
}
</script>
<script>
function AWB_enabler() {
  var jn3=document.getElementById("dispatch_sticker_pasted_BVM").value
  if (jn3==1)
	{
		document.getElementById("dispatch_MAWB").disabled=false
		document.getElementById("dispatch_HAWB").disabled=false
		document.getElementById("dispatch_MAWB").value=""
		document.getElementById("dispatch_HAWB").value=""
	}
  else
  	{
		document.getElementById("dispatch_MAWB").disabled=true
		document.getElementById("dispatch_HAWB").disabled=true
		document.getElementById("dispatch_MAWB").value=""
		document.getElementById("dispatch_HAWB").value=""
	}
}
</script>
<script>
$(document).ready(function() {
	var gatein_status_id = '{{gatein_status}}';
	var loadingbay_status_id='{{loadingbay_status}}';
	var damage_before_status_id='{{damage_before_status}}';
	var damage_after_status_id='{{damage_after_status}}';
	var warehousein_status_id='{{warehousein_status}}';
	if (gatein_status_id =="Completed"){
		$('#loadingbay_btn').removeClass('disable_a_href');
		$('#loadingbay_btn1').removeClass('disable_a_href');
		}

	if (loadingbay_status_id =="Completed"){
		$('#damagecheck_before_btn').removeClass('disable_a_href');
		$('#damagecheck_before_btn1').removeClass('disable_a_href');
		}

	if (damage_before_status_id =="Completed"){
		$('#damagecheck_after_btn').removeClass('disable_a_href');
		}
	if (damage_after_status_id =="Completed"){
		$('#warehousein_btn').removeClass('disable_a_href');
		}
	if (warehousein_status_id =="Completed"){
		$('#storage_btn').removeClass('disable_a_href');
		}
  });
</script>
<script>
    $("#dispatch_customer").change(function () {
      var url = $("#gate_in").attr("data-load_customer_model-url");

      var gatein_customer_id = $(this).find(":selected").text();

      $.ajax({
        url: url,
        data: {
          'lm_customer_name_id': gatein_customer_id
        },
		success: function (data) {
			$("#dispatch_customer_type").val(data);

        }
      });

    });
  </script>
{% endblock content %}