{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" action="">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                    <div class="card-header text-center">
                        <h4>Driver Master</h4>
                    </div>

                    <div class="card-body bg-light">
                        <div class="row">

                            <!-- Column 1 -->
                            <div class="col-3">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Vehicle Source</span>
                                    </div>
                                    {% render_field form.dm_vehiclesource class="form-control" %}
                                </div>

                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">User</span>
                                    </div>
                                    {% render_field form.dm_user_id class="form-control" %}
                                </div>

                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Driver Name</span>
                                    </div>
                                    {% render_field form.dm_name class="form-control" required="true" %}
                                </div>
                            </div>

                            <!-- Column 2 -->
                            <div class="col-3">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Driver ID</span>
                                    </div>
                                    {% render_field form.dm_id class="form-control" %}
                                </div>

                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Mobile No</span>
                                    </div>
                                    {% render_field form.dm_drivernumber class="form-control" pattern="\d*" title="Numbers only" %}
                                </div>
                            </div>

                            <!-- Column 3 -->
                            <div class="col-3">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">License No</span>
                                    </div>
                                    {% render_field form.dm_driver_lic class="form-control" %}
                                </div>

                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">License Expiry</span>
                                    </div>
                                    {% render_field form.dm_driver_lic_expiry type="date" class="form-control" %}
                                </div>
                            </div>

                            <!-- Column 4 -->
                            <div class="col-3">

                            </div>

                        </div>

                        <!-- Messages -->
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10 text-center">
                                {% for message in messages %}
                                    <a {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                        {{ message }}
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <!-- Buttons -->
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Submit
                        </button>

                        <a href="{% url 'driver_list' %}" class="btn btn-danger float-right">
                            <i class="fas fa-times"></i> Cancel
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
