{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" id="enquiry_note" action="" data-load_customer_model-url="{% url 'load_customer_model' %}">
	{% csrf_token %}

	<!--{{form.as_p}}-->

	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Enquiry Note</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Enquiry Number</span>
									</div>
									{% render_field form.en_enquirynumber id="en_enquirynumber" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Name</span>
									</div>
									{% render_field form.en_customername id="en_customername" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Full Name</span>
									</div>
									{% render_field form.en_customercode id="en_customercode" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Contact</span>
									</div>
									{% render_field form.en_customercontact id="en_customercontact" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Email</span>
									</div>
									{% render_field form.en_customeremail id="en_customeremail" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Department</span>
									</div>
									{% render_field form.en_customerdepartment id="en_customerdepartment" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Category</span>
									</div>
									{% render_field form.en_vehiclecategory class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Type</span>
									</div>
									{% render_field form.en_vehicletype class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Assigned To</span>
									</div>
									{% render_field form.en_assignedto class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">From Location</span>
									</div>
									{% render_field form.en_fromlocaion class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">To Location</span>
									</div>
									{% render_field form.en_tolocation class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Pick-Up Date & Time</span>
									</div>
									{% render_field form.en_pickupdatetime id="en_pickupdatetime" type="Datetime-local" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								{% render_field form.en_status hidden="true" class="form-control" %}
								{% render_field form.en_updated_by id="en_updated_by" hidden="True" class="form-control" %}
							</div>
						</div>
						<button type="submit" class="btn btn-success" onclick="enq_num()"><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'enquirynote_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</form>
<script>
function enq_num() {
  var ran=Math.floor((Math.random() * 1000000) + 1)
  var jn=document.getElementById("en_enquirynumber").value
   if (jn=="")
	   {
			document.getElementById("en_enquirynumber").value ="EN_"+ ran;
	   }
   else
		{
			document.getElementById("en_enquirynumber").value =jn;
		}
	}
</script>>
<script>
$(document).ready(function() {
	document.getElementById("en_updated_by").value ='{{user_id}}';
  });
</script>

<script>
    $("#en_customername").change(function () {
      var url = $("#enquiry_note").attr("data-load_customer_model-url");
      var gatein_customer_id = $(this).find(":selected").text();
      $.ajax({
        url: url,
        data: {
          'lm_customer_name_id': gatein_customer_id
        },
		success: function (data) {
			var customer_model=JSON.parse(data)["customer_short_name_val"];
			var customer_contact=JSON.parse(data)["customer_contact_val"]
			var customer_email=JSON.parse(data)["customer_email"]
			document.getElementById("en_customercode").value =customer_model;
			document.getElementById("en_customercontact").value =customer_contact;
			document.getElementById("en_customeremail").value =customer_email;
        }
      });

    });
</script>

{% endblock content %}