{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" id="enquiry_note" action=""  data-load_customer_model-url="{% url 'load_customer_model' %}">
	{% csrf_token %}
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Enquiry Note</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Enquiry Number</span>
									</div>
									{% render_field form.en_enquirynumber id="en_enquirynumber" readonly="True" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Name</span>
									</div>
									{% render_field form.en_customername id="en_customername" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Department</span>
									</div>
									{% render_field form.en_customerdepartment id="en_customerdepartment" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Business Type</span>
									</div>
									{% render_field form.en_business_type id="en_business_type" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Movement Type</span>
									</div>
									{% render_field form.en_movement_type id="en_movement_type" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Trip Type</span>
									</div>
									{% render_field form.en_trip_type id="en_trip_type" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Category</span>
									</div>
									{% render_field form.en_vehiclecategory class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Type</span>
									</div>
									{% render_field form.en_vehicletype class="form-control" %}
								</div>
							</div>
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Assigned To</span>
									</div>
									{% render_field form.en_assignedto class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">From Location</span>
									</div>
									{% render_field form.en_fromlocaion class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Touch Point 1</span>
									</div>
									{% render_field form.en_touchpoint class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Touch Point 2</span>
									</div>
									{% render_field form.en_touchpoint2 class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Touch Point 3</span>
									</div>
									{% render_field form.en_touchpoint3 class="form-control" %}
								</div><div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Touch Point 4</span>
								</div>
								{% render_field form.en_touchpoint4 class="form-control" %}
							</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">To Location</span>
									</div>
									{% render_field form.en_tolocation class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Pick-Up Date & Time</span>
									</div>
									{% render_field form.en_pickupdatetime id="en_pickupdatetime" type="Datetime-local" class="form-control" %}
								</div>
								{% render_field form.en_status hidden="true" class="form-control" %}
								{% render_field form.en_updated_by id="en_updated_by" hidden="True" class="form-control" %}
								{% render_field form.en_consignmentdetails id="en_consignmentdetails" hidden="True" class="form-control" %}
								{% render_field form.en_vehicle_allotment id="en_vehicle_allotment" hidden="True" class="form-control" %}
								{% render_field form.en_tripdetails id="en_tripdetails" hidden="True" class="form-control" %}
								{% render_field form.en_tripclosure id="en_tripclosure" hidden="True" class="form-control" %}
							</div>
						</div>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						<button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'enquirynote_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</form>
<div class="container-fluid row">
	<!--    <div class="col-md-1">-->
	<!--        <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg">-->
	<!--            <i class="fas fa-arrow-left"></i> Back-->
	<!--        </a>-->
	<!--    </div>-->
	<div class="col-md-1">
		<a href="{% url 'enquirynotevehicle_insert' %}"  id="add_enquiry" class="btn btn-success btn-block btn-lg">
			<i class="fas fa-plus"></i> Add
		</a>
	</div>
</div>
<hr>
<div class="container-fluid">
	<table  id="enquirynotevehicle_list" class="table table-striped table-bordered">
		<thead class="thead-dark">
		<tr>
			<th>Created On</th>
			<th>Enquiry Number</th>
			<th>Vehicle Type</th>
			<th>Vehicle Category</th>
			<th>Quantity</th>
			<th>Updated at</th>
			<th>Updated By</th>
			<th>Edit</th>
			<th>Delete</th>
		</thead>
		<tbody>
		{% for enquirynotevehicleinfo in enquirynotevehicle_list %}
		<tr>
			<td> {{enquirynotevehicleinfo.env_created_at}}</td>
			<td> {{enquirynotevehicleinfo.env_enquirynumber}}</td>
			<td> {{enquirynotevehicleinfo.env_vehicletype}}</td>
			<td> {{enquirynotevehicleinfo.env_vehiclecategory}}</td>
			<td> {{enquirynotevehicleinfo.env_quantity}}</td>
			<td> {{enquirynotevehicleinfo.env_updated_at}}</td>
			<td> {{enquirynotevehicleinfo.env_updated_by}}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'enquirynotevehicle_update' enquirynotevehicleinfo.id %}" class="btn btn-primary">
					<i class="far fa-edit"></i>
				</a>
			</td>
			<td>
				<form action="{% url 'enquirynotevehicle_delete' enquirynotevehicleinfo.id %}" method="post" onclick="return confirm('Are you sure?');">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger">
						<i class="fas fa-trash-alt"></i>
					</button>
				</form>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<script>
$(document).ready(function() {
    document.getElementById("en_updated_by").value ='{{user_id}}';
    $('#enquirynotevehicle_list').DataTable({
        order: [0, 'asc' ],
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'print'
        ]
    });
    var enquiry_num = document.getElementById("en_enquirynumber").value
    if (enquiry_num =="")
	{
		$('#add_enquiry').addClass('disable_a_href');
	}
	else
	{
		$('#add_enquiry').removeClass('disable_a_href');
	}
	});
</script>

{% endblock content %}