{% extends "asset_mgt_app/base.html" %}
{% block content %}
<div class="container-fluid" style="padding:15px;">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2 rounded text-center bg-info">
            <h3>Expense List</h3>
        </div>
        <div class="col-5"></div>
    </div>
</div>
<div class="container-fluid row">
    <div class="col-md-1">
        <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'expense_insert' %}" class="btn btn-success btn-block btn-lg">
            <i class="fas fa-plus"></i> Add
        </a>
    </div>
    <div class="col-md-2">
        <a href="{% url 'expense_list' %}" class="btn btn-warning btn-block btn-lg">
            <i class="fas fa-plus"></i> Select All
        </a>
    </div>
    <div class="col-md-1">
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto" action="{% url 'expense_search' %}" method="get">
            <div class="form-group">
                <input type="search" class="form-control" id="expense_number" placeholder="Expense Number" name="expense_number">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="container-fluid">
    <table  id="expense_list" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Business</th>
            <th>Expense Category</th>
            <th>Expense Number</th>
            <th>Created On</th>
            <th>Branch</th>
            <th>Unit</th>
            <th>Vendor</th>
            <th>Bill No</th>
            <th>Bill Date</th>
            <th>Service Start Date</th>
            <th>Service End Date</th>
            <th>Expense Type</th>
            <th>Expense Amount</th>
            <th>Updated By</th>
            <th>Updated On</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for expenseinfo in page_obj %}
        <tr>
            <td> {{expenseinfo.id}}</td>
            <td> {{expenseinfo.exp_business}}</td>
            <td> {{expenseinfo.exp_category}}</td>
            <td> {{expenseinfo.exp_number}}</td>
            <td> {{expenseinfo.exp_created_on}}</td>
            <td> {{expenseinfo.exp_branch}}</td>
            <td> {{expenseinfo.exp_unit}}</td>
            <td> {{expenseinfo.exp_vendor}}</td>
            <td> {{expenseinfo.exp_vendor_bill}}</td>
            <td> {{expenseinfo.exp_vendor_bill_date}}</td>
            <td> {{expenseinfo.exp_service_start_date}}</td>
            <td> {{expenseinfo.exp_service_end_date}}</td>
            <td> {{expenseinfo.exp_expense_type}}</td>
            <td> {{expenseinfo.exp_amount_payable}}</td>
            <td> {{expenseinfo.exp_updated_by}}</td>
            <td> {{expenseinfo.exp_updated_at}}</td>

            <td>
                <a class="btn btn-primary" href="{% url 'expense_update' expenseinfo.id %}" >
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="{% url 'expense_delete' expenseinfo.id %}" method="post" onclick="return confirm('Are you sure?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-warning" href="?page=1">First</a>
            <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-warning" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
    </div>
</div>
<script>
    $(document).ready(function() {
    $('#expense_list').DataTable(
        {
        scrollY: "600px",
        scrollX: true,
        scrollCollapse: true,
        dom: 'lBfrtip',
        order: [0, 'desc' ],
        buttons: [
            'copy', 'csv', 'excel', 'print'
        ]
    } );
} );
</script>
{% endblock content %}
