{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<form method="POST" id="invoice_add" action="" data-units-url="{% url 'load_whrate_model' %}">
	{% csrf_token %}
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Expense</h3></div>
					<div class="card-body bg-light" >
						<div class="row container-fluid">
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Business</span>
									</div>
									{% render_field expense_form.exp_business id="exp_business" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Expense Category</span>
									</div>
									{% render_field expense_form.exp_category id="exp_category" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Expense Number</span>
									</div>
									{% render_field expense_form.exp_number id="exp_number" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Branch</span>
									</div>
									{% render_field expense_form.exp_branch id="exp_branch" onchange="change_Branch()" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Unit</span>
									</div>
									{% render_field expense_form.exp_unit id="exp_unit" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vendor</span>
									</div>
									{% render_field expense_form.exp_vendor id="exp_vendor" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vendor Bill</span>
									</div>
									{% render_field expense_form.exp_vendor_bill id="exp_vendor_bill" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vendor Bill Date</span>
									</div>
									{% render_field expense_form.exp_vendor_bill_date type="datetime-local" id="exp_vendor_bill_date" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Service Start Date</span>
									</div>
									{% render_field expense_form.exp_service_start_date id="exp_service_start_date" type="datetime-local" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Service End Date</span>
									</div>
									{% render_field expense_form.exp_service_end_date id="exp_service_end_date" type="datetime-local" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Expense Type</span>
									</div>
									{% render_field expense_form.exp_expense_type id="exp_expense_type" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">UOM</span>
									</div>
									{% render_field expense_form.exp_uom id="exp_uom" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Expense Rate (INR)</span>
									</div>
									{% render_field expense_form.exp_rate id="exp_rate" onchange="update_rates_fn()" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Quantity</span>
									</div>
									{% render_field expense_form.exp_quantity id="exp_quantity" onchange="update_rates_fn()" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Amount (INR)</span>
									</div>
									{% render_field expense_form.exp_amount id="exp_amount" onchange="update_rates_fn()" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">GST Rate %</span>
									</div>
									{% render_field expense_form.exp_gst_rate id="exp_gst_rate" onchange="update_rates_fn()" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">GST Amount (INR)</span>
									</div>
									{% render_field expense_form.exp_gst_amount id="exp_gst_amount" onchange="update_rates_fn()" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Total Amount (INR)</span>
									</div>
									{% render_field expense_form.exp_total_amount id="exp_total_amount" onchange="update_rates_fn()" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">TDS Rate %</span>
									</div>
									{% render_field expense_form.exp_tds_rate id="exp_tds_rate" onchange="update_rates_fn()" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">TDS Amount (INR)</span>
									</div>
									{% render_field expense_form.exp_tds_amount id="exp_tds_amount" onchange="update_rates_fn()" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Amount Payable (INR)</span>
									</div>
									{% render_field expense_form.exp_amount_payable id="exp_amount_payable" class="form-control disable_a_href" id="bill_no_of_days" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Due Date</span>
									</div>
									{% render_field expense_form.exp_due_date id="exp_due_date" type="datetime-local" class="form-control " id="bill_per_day_wh_charges" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Paid Date</span>
									</div>
									{% render_field expense_form.exp_paid_date id="exp_paid_date" type="datetime-local" class="form-control " id="bill_per_day_wh_charges" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								{% render_field expense_form.exp_updated_by id="exp_updated_by"  hidden="True" class="form-control" %}
								{% render_field expense_form.exp_updated_at id="exp_updated_at" hidden="True" class="form-control" %}
								{% render_field expense_form.exp_created_on id="exp_created_on" hidden="True" class="form-control" %}
							</div>
							<div class="container-fluid input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Remarks</span>
								</div>
								{% render_field expense_form.exp_remarks id="exp_remarks" class="form-control " %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
						</div>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						<button type="submit" class="btn btn-success" onclick="myjobnum()"><i class="fas fa-check"></i> Save</button>
						<a href="{% url 'expense_search' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel </a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</form>

<script>
	$(document).ready(function() {
        document.getElementById("exp_updated_by").value ='{{user_id}}';
    <!--	document.getElementById("bill_weight").value ='{{weight_sum}}';-->
    <!--	document.getElementById("bill_no_of_days").value ='{{no_of_days}}';-->
    <!--	document.getElementById("bill_no_of_pallets").value ='{{no_of_pieces}}';-->
        var expense_category_val=document.getElementById("exp_category").value
        if (expense_category_val=="")
        {
            $('#exp_category').removeClass('disable_a_href');
        }
        else
        {
            $('#exp_category').addClass('disable_a_href');
        }
        update_rates_fn();
      });
</script>

<script>
	function update_rates_fn() {
		var exp_rate_val=parseFloat(document.getElementById("exp_rate").value)
		var exp_quantity_val=parseFloat(document.getElementById("exp_quantity").value)
		var exp_amount_val=parseFloat(exp_rate_val*exp_quantity_val)
		var exp_gst_rate_val=parseFloat(document.getElementById("exp_gst_rate").value)
		var exp_gst_amount_val=parseFloat((exp_amount_val*exp_gst_rate_val)/100)
		var exp_total_amount_val=parseFloat(exp_gst_amount_val)+parseFloat(exp_amount_val)
		var exp_tds_rate_val=parseFloat(document.getElementById("exp_tds_rate").value)
		var exp_tds_amount_val=parseFloat((exp_amount_val)*exp_tds_rate_val/100)
		var exp_amount_payable_val=parseFloat(exp_total_amount_val-exp_tds_amount_val)

		document.getElementById("exp_amount").value=exp_amount_val.toFixed(2)
		document.getElementById("exp_gst_amount").value=exp_gst_amount_val.toFixed(2)
		document.getElementById("exp_total_amount").value=exp_total_amount_val.toFixed(2)
		document.getElementById("exp_tds_amount").value=exp_tds_amount_val.toFixed(2)
		document.getElementById("exp_amount_payable").value=exp_amount_payable_val.toFixed(2)
	}
</script>

<script>
$(document).ready(function() {
    $('#exp_unit').prop('disabled', true); // Make the unit dropdown readonly initially
    initializeMultiSelect('#exp_unit'); // Initialize the multi-select
    $('#exp_unit').next('.btn').addClass('disabled'); // Make the dropdown button visually disabled
});

function change_Branch() {
    var branchId = document.getElementById("exp_branch").value;
    if (branchId != "0") {
        $('#exp_unit').prop('disabled', false); // Enable the unit dropdown when a branch is selected
        $('#exp_unit').next('.btn').removeClass('disabled'); // Visually enable the dropdown button
        fetchUnitsByBranch(branchId); // Fetch units when a branch is selected
    } else {
        $('#exp_unit').prop('disabled', true); // Keep the dropdown disabled if no branch is selected
        $('#exp_unit').next('.btn').addClass('disabled'); // Visually disable the dropdown button
        $('#exp_unit').multiselect('rebuild'); // Rebuild the multiselect to reflect changes
    }
}

function fetchUnitsByBranch(branchId) {
    $.ajax({
        url: '{% url "load_units_origin" %}', // Ensure the URL is correct
        data: {
            'branchId': branchId,
        },
        success: function (data) {
            console.log(data); // Debugging: log the received data

            var previousSelections = $('#exp_unit').val(); // Store previously selected options

            // Clear previous options and add the default option
            $('#exp_unit').empty().append("<option value='0'>--Select--</option>");

            var unitData = JSON.parse(data);
            var unit_name = unitData["unit_name_list"];
            var unit_id = unitData["unit_id"];

            // Check if unit data is available
            if (unit_name && unit_id) {
                var len = unit_name.length;
                for (var i = 0; i < len; i++) {
                    $("#exp_unit").append("<option value='" + unit_id[i] + "'>" + unit_name[i] + "</option>");
                }

                // Rebuild the multi-select to update the display
                $('#exp_unit').multiselect('rebuild');

                // Restore previous selections that are still valid
                restoreSelections(previousSelections, unit_id);
            } else {
                console.warn('No unit data available for the selected branch.'); // Debugging message
            }
        },
        error: function (error) {
            console.error('Error fetching units:', error);
            alert('Error fetching units. Please try again.');
        }
    });
}

function restoreSelections(previousSelections, unit_id) {
    previousSelections.forEach(function (value) {
        if (unit_id.includes(value)) {
            $('#exp_unit').multiselect('select', value); // Select the previously selected option if valid
        }
    });
}

function initializeMultiSelect(selector) {
    $(selector).multiselect({
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select options',
        buttonWidth: '210px',
        buttonHeight: '200px',
        buttonClass: 'custom-multiselect-button',
        enableFiltering: true,
        maxHeight: 250,
        dropUp: false,
        onChange: function(option, checked) {
            checkSelectAll(); // Check if all options are selected
        }
    });
}

function checkSelectAll() {
    var selectedOptions = $('#exp_unit').val();
    var allOptions = $('#exp_unit option').length - 1; // Exclude the '--Select--' option

    if (selectedOptions.length === allOptions) {
        // Remove the '--Select--' option if all are selected
        $('#exp_unit option[value="0"]').remove();
    } else {
        if ($('#exp_unit option[value="0"]').length === 0) {
            $('#exp_unit').prepend("<option value='0'>--Select--</option>"); // Add '--Select--' if not all options are selected
        }
    }
}
</script>
{% endblock content %}