{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load crispy_forms_tags %}
{% load currency_format %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        font-family: Arial, sans-serif;
        background-color: white;
    }

    thead th {
        background-color: grey;
        color: white;
        border-color:black;
    }
    .warehouse-budget {
        background-color: #2E3192;
        color: white;
    }
    .warehouse-actuals {
        background-color: #062F7E;
        color: white;
    }
    .income {
        background-color: #C6E0B4;
        font-weight: bold;
    }
    .total {
        background-color: #58ff58;
        font-weight: bold;
    }
    .expenses {
        background-color: #F4B084;
    }
</style>
<body>
<div class="col-md-1">
    <a href="{% url 'finance_reports' %}" class="btn btn-primary">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</div>
<br>
<h2 style="color:black;">Budget-Expenses Report_MIS</h2>
<hr>

<div class="container-fluid">
    <div class="row align-items-center">

        <div class="col-md-2">
            <label for="company-filter"><b>Company:</b></label>
            <select id="company-filter" name="company" class="form-control box-shadow rounded">
                <option value="">All</option>
                {% for company in companies %}
                <option value="{{ company }}" {% if company == selected_company %} selected {% endif %}>
                    {{ company }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <label for="branch-filter"><b>Branch:</b></label>
            <select id="branch-filter" name="branch" class="form-control box-shadow rounded">
                <option value="">All</option>
                {% for branch in branches %}
                <option value="{{ branch.loc_name }}" {% if branch.loc_name == selected_branch %} selected {% endif %}>
                    {{ branch.loc_name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <label for="unit-filter"><b>Unit:</b></label>
            <select id="unit-filter" name="unit" class="form-control box-shadow rounded">
                <option value="">All</option>
                {% for unit in units %}
                <option value="{{ unit }}" {% if unit == selected_unit %} selected {% endif %}>
                    {{ unit }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <label for="year"><b>Year:</b></label>
            <select name="year" id="year" class="form-control box-shadow rounded">
                <option value="">All</option>
                {% for year in years %}
                <option value="{{ year }}" {% if year == selected_year %} selected {% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <label for="from-date"><b>From:</b></label>
            <input type="date" id="from-date" name="from_date" value="{{ from_date }}" class="form-control box-shadow">
        </div>

        <div class="col-md-2">
            <label for="to-date"><b>To:</b></label>
            <input type="date" id="to-date" name="to_date" value="{{ to_date }}" class="form-control box-shadow">
        </div>

    </div>
</div>

<br>
<table border="1">
    <thead>
    <tr>
        <th class="warehouse-actuals" colspan="15">Warehouse Actuals</th>
        <th class="warehouse-budget" colspan="13">Warehouse Budget</th>
        <th class="warehouse-budget" colspan="13">Warehouse Variance</th>
    <tr>
        <th colspan="2">Warehouse</th>
        {% for month in months %}
        <th>{{ month }}</th>
        {% endfor %}
        <th>Total Expense</th>
        {% for month in months %}
        <th>{{ month }}</th>
        {% endfor %}
        <th>Total Budget</th>
        {% for month in months %}
        <th>{{ month }}</th>
        {% endfor %}
        <th>Difference</th>

    </tr>
    </thead>
    <tbody>
    {% for summary in operational_summary %}
    <tr>
        <td colspan="2">{{ summary.expense_type }}</td>
        {% for month in months %}
        <td>{{ summary.monthly_expenses|get_item:forloop.counter|default:0|floatformat:0 }}</td>
        {% endfor %}
        <td class="expenses">{{ summary.total_expense|floatformat:0 }}</td>
        {% for month in months %}
        <td>{{ summary.monthly_budgets|get_item:forloop.counter|default:0|floatformat:0 }}</td>
        {% endfor %}
        <td class="income">{{ summary.total_budget|floatformat:0 }}</td>
        {% for month in months %}
        <td>{{ summary.monthly_variance|get_item:forloop.counter|default:0|floatformat:0 }}</td>
        {% endfor %}
        <td>{{ summary.total_variance|floatformat:0 }}</td>
    </tr>
    {% endfor %}
    <tr class="total">
        <td colspan="2"><strong>Month Totals</strong></td>
        {% for month in months %}
        <td><strong>{{ category_summaries.operational_expense|get_item:forloop.counter|floatformat:0 }}</strong></td>
        {% endfor %}
        <td><strong>{{ category_totals.operational_expense|floatformat:0 }}</strong></td>
        {% for month in months %}
        <td><strong>{{ category_summaries.operational_budget|get_item:forloop.counter|floatformat:0 }}</strong></td>
        {% endfor %}
        <td><strong>{{ category_totals.operational_budget|floatformat:0 }}</strong></td>
        {% for month in months %}
        <td><strong>{{ category_summaries.operational_variance|get_item:forloop.counter|floatformat:0 }}</strong></td>
        {% endfor %}
        <td><strong>{{ category_totals.operational_variance|floatformat:0 }}</strong></td>
    </tr>
    <tr><td style="background:#7b87cf;" colspan="20">INCOME</td></tr>
    {% for summary in income_summary %}
    <tr>
        <td colspan="2">{{ summary.expense_type }}</td>
        {% for month in months %}
        <td>{{ summary.monthly_expenses|get_item:forloop.counter|default:0|floatformat:1 }}</td>
        {% endfor %}
        <td>{{ summary.total_expense }}</td>
        {% for month in months %}
        <td>{{ summary.monthly_budgets|get_item:forloop.counter|default:0 }}</td>
        {% endfor %}
        <td>{{ summary.total_budget }}</td>
        <td>{{ summary.difference }}</td>
        <td>{{ summary.pl_percentage|floatformat:2 }}%</td>
    </tr>
    {% endfor %}
    <tr class="total">
        <td><strong>Month Totals</strong></td>
        {% for month in months %}
        <td><strong>{{ category_summaries.income_expense|get_item:forloop.counter|floatformat:1 }}</strong></td>
        {% endfor %}
        <td><strong>{{ category_totals.income_expense|floatformat:2 }}</strong></td>
        {% for month in months %}
        <td><strong>{{ category_summaries.income_budget|get_item:forloop.counter|floatformat:1 }}</strong></td>
        {% endfor %}
        <td><strong>{{ category_totals.income_budget|floatformat:2 }}</strong></td>
        <td><strong>{{ total_profit_loss|floatformat:2 }}</strong></td>
        <td><strong>{{ total_pl_percentage | floatformat:1 }}%</strong></td>
    </tr>
    </tbody>
</table>



<br>
<table border="1">
    <thead>
    <tr>
        <th>INCOME</th>
        {% for month in months %}
        <th>{{ month }}</th>
        {% endfor %}
        <th>Total Expense</th>
        {% for month in months %}
        <th>{{ month }}</th>
        {% endfor %}
        <th>Total Budget</th>
        <th>Difference</th>
        <th>P/L %</th>
    </tr>
    </thead>
    <tbody>
    {% for summary in income_summary %}
    <tr>
        <td>{{ summary.expense_type }}</td>
        {% for month in months %}
        <td>{{ summary.monthly_expenses|get_item:forloop.counter|default:0|floatformat:1 }}</td>
        {% endfor %}
        <td>{{ summary.total_expense }}</td>
        {% for month in months %}
        <td>{{ summary.monthly_budgets|get_item:forloop.counter|default:0 }}</td>
        {% endfor %}
        <td>{{ summary.total_budget }}</td>
        <td>{{ summary.difference }}</td>
        <td>{{ summary.pl_percentage|floatformat:2 }}%</td>
    </tr>
    {% endfor %}

    <!-- Grand Total Row -->
    <tr>
        <td><strong>Grand Total</strong></td>
        {% for month in months %}
        <td><strong>
            {{ income_summary|sum_monthly_values:month|floatformat:1 }}
        </strong></td>
        {% endfor %}
        <td><strong>{{ income_summary|sum_attribute:"total_expense"|floatformat:1 }}</strong></td>
        {% for month in months %}
        <td><strong>{{ income_summary|sum_monthly_values:month|floatformat:1 }}</strong></td>
        {% endfor %}
        <td><strong>{{ income_summary|sum_attribute:"total_budget"|floatformat:1 }}</strong></td>
        <td><strong>{{ income_summary|sum_attribute:"difference"|floatformat:1 }}</strong></td>
        <td><strong>{{ income_summary|sum_attribute:"pl_percentage"|floatformat:2 }}%</strong></td>
    </tr>


    </tbody>
</table>




<hr>
<script>
    // Initialize DataTable
    $(document).ready(function() {
        $('#income_table').DataTable({
            scrollY: "600px",
            scrollCollapse: true,
            order: [1, 'desc'],
            dom: 'lBfrtip',
            buttons: ['copy', 'csv', 'excel', 'print']
        });
    });

     document.getElementById('branch-filter').addEventListener('change', updateFilters);
    document.getElementById('unit-filter').addEventListener('change', updateFilters);
    document.getElementById('company-filter').addEventListener('change', updateFilters);
    document.getElementById('year').addEventListener('change', updateFilters);
    document.getElementById('from-date').addEventListener('change', updateFilters);
    document.getElementById('to-date').addEventListener('change', updateFilters);

    function updateFilters() {
    const branch = document.getElementById('branch-filter').value;
    const unit = document.getElementById('unit-filter').value;
    const company = document.getElementById('company-filter').value;
    const year = document.getElementById('year').value;
    const fromDate = document.getElementById('from-date').value;
    const toDate = document.getElementById('to-date').value;
    const url = new URL(window.location.href);

    if (branch) {
        url.searchParams.set('branch', branch);
    } else {
        url.searchParams.delete('branch');
    }

    if (unit) {
        url.searchParams.set('unit', unit);
    } else {
        url.searchParams.delete('unit');
    }

    if (company) {
        url.searchParams.set('company', company);
    } else {
        url.searchParams.delete('company');
    }

    if (year) {
        url.searchParams.set('year', year);
    } else {
        url.searchParams.delete('year');
    }


    if (fromDate) {
        url.searchParams.set('from_date', fromDate);
    } else {
        url.searchParams.delete('from_date');
    }

    if (toDate) {
        url.searchParams.set('to_date', toDate);
    } else {
        url.searchParams.delete('to_date');
    }

    console.log(url.toString());
    window.location.href = url.toString();
}
</script>
{% endblock content %}

