{% extends "asset_mgt_app/base.html" %}
{% block content %}

<div class="container-fluid" style="padding:15px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-3 rounded text-center bg-info">
            <h3>Finance Reports</h3>
        </div>
        <div class="col-5"></div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center">
            <div class="card-header" style="color:black">Branch Wise P/L</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'branch_profit_loss' %}">
                    <i class="fas fa-arrows-alt" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="color:black">Unit Wise P/L</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'branch_unit_profit_loss' %}">
                    <i class="fas fa-user-secret" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="color:black">Business Model P/L</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'businessmodel_PL' %}">
                    <i class="fas fa-tags" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="color:black">Customer Wise P/L</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'customerwise_PL' %}">
                    <i class="fas fa-map-marker-alt" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="color:black">Finance Profit/Loss </div>
            <div class="card-body text-center">
                <h2><a href="{% url 'fin_profit_loss_view' %}">
                    <i class="fas fa-rupee-sign" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="color:black">Expense Report</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'expenses_report' %}" >
                    <i class="fas fa-wallet" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="color:black">AR Report</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'ar_due_reports' %}" >
                    <i class="fas fa-user-secret" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center">
            <div class="card-header" style="color:black">Budget</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'budget_expense' %}">
                    <i class="fas fa-arrows-alt" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="color:black">Finance MIS Report</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'budget_expense_mis' %}">
                    <i class="fas fa-rupee-sign" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="color:black">Warehouse MIS</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'fin_mis_warehouse' %}" >
                    <i class="fas fa-user-secret" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock content %}