{% extends "asset_mgt_app/base.html" %}


{% block content %}
<div class="container-fluid row">
    <div class="col-md-1">
      <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
    <div class="col-md-1">
      <a href="{% url 'insurance_insert' %}" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-plus"></i>
      </a>
    </div>
</div>
<hr>
<div class="container-fluid">
<table  id="insurance_list" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Insurance Name</th>
            <th>Insurance Type</th>
            <th>Start Date</th>
            <th>Expiry Date</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
    </thead>
    <tbody>
        {% for insuranceinfo in insurance_list %}
            <tr>
                <td> {{insuranceinfo.ins_name}}</td>
                <td> {{insuranceinfo.ins_type}}</td>
                <td> {{insuranceinfo.ins_start_date}}</td>
                <td> {{insuranceinfo.ins_expiry_date}}</td>
                <td> {{insuranceinfo.ins_vendor}}</td>
                <td> {{insuranceinfo.ins_status}}</td>
                <td>

                    <a href="{% url 'insurance_update' insuranceinfo.id %}" >
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <form action="{% url 'insurance_delete' insuranceinfo.id %}" method="post" onclick="return confirm('Are you sure?');">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function() {
    $('#insurance_list').DataTable();
} );
</script>
{% endblock content %}
