{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}

	<!--{{form.as_p}}-->

	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Insurance</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Insurance Name</span>
									</div>
									{% render_field form.ins_name class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Agreement Number</span>
									</div>
									{% render_field form.ins_policy_no class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Insurance Type</span>
									</div>
									{% render_field form.ins_type class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Branch</span>
									</div>
									{% render_field form.ins_branch class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Start Date</span>
									</div>
									{% render_field form.ins_start_date type="date" id="ins_start_date" onchange="remaining_days_calc()" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Expiry Date</span>
									</div>
									{% render_field form.ins_expiry_date type="date" id="ins_expiry_date" onchange="remaining_days_calc()" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Validity Remaining Days</span>
									</div>
									{% render_field form.ins_validity_remaining id="ins_validity_remaining" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >No Of units</span>
									</div>
									{% render_field form.ins_units class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Sum Assured</span>
									</div>
									{% render_field form.ins_sum_assured class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Premium Amount</span>
									</div>
									{% render_field form.ins_premium_amount class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Vehicle Number</span>
									</div>
									{% render_field form.ins_vehicle_no class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Vendor</span>
									</div>
									{% render_field form.ins_vendor class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Status</span>
									</div>
									{% render_field form.ins_status class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Attachment</span>
									</div>
									{% render_field form.ins_attachment class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" >Remarks</span>
								</div>
								{% render_field form.ins_remarks class="form-control" %}
							</div>
							{% render_field form.ins_updated_by id="ins_updated_by" hidden="True" class="form-control" %}
						</div>
						<button type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'insurance_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
	</div>

</form>
<script>
$(document).ready(function() {
	document.getElementById("ins_updated_by").value ='{{user_id}}';
	remaining_days_calc()
  });
</script>

<script>
function remaining_days_calc() {
	var start_date=new Date(document.getElementById("ins_start_date").value)
	var expiry_date=new Date(document.getElementById("ins_expiry_date").value)
	var date_diff=(new Date(expiry_date-start_date))/1000/60/60/24;
	document.getElementById("ins_validity_remaining").value=date_diff
}
</script>
{% endblock content %}