{% extends "asset_mgt_app/base.html" %}


{% block content %}
<div class="container-fluid row">
    <div class="col-md-1">
      <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
    <div class="col-md-1">
      <a href="{% url 'materialstock_insert' %}" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-plus"></i>
      </a>
    </div>
</div>
<hr>
<div class="container-fluid">
<table  id="materialstock_list" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
<!--            <th>Product Category</th>-->

            <th>Description</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Edit</th>
            <th>Delete</th>
    </thead>
    <tbody>
        {% for materialstock in materialstock_list %}
            <tr>

                <td> {{materialstock.ms_description}}</td>
                <td> {{materialstock.ms_quantity}}</td>
                <td> {{materialstock.ms_size}}</td>
                <td>
                    <a href="{% url 'materialstock_update' materialstock.id %}" >
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <form action="{% url 'materialstock_delete' materialstock.id %}" method="post" onclick="return confirm('Are you sure?');">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function() {
    $('#materialstock_list').DataTable();
} );
</script>

{% endblock content %}
