{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" action="">
	{% csrf_token %}
<div class="row">
	<div class="col-3"></div>
		<div class="col-6">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Ownership</h3></div>
						<div class="card-body bg-light" >
							<div class="row">
							<div class="col">
							<div class="input-group input-group-sm mb-3">
  								<div class="input-group-prepend">
    								<span class="input-group-text">Ownership</span>
  								</div>
								{% render_field form.ow_ownership class="form-control" %}
							</div>
							</div>
							<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						</div>
							<button type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
							 <a href="{% url 'ownership_list' %}" class="btn btn-danger float-right">
                    <i class="fas fa-times"></i> Cancel
                </a>
				</div>
			</div>
		</div>
		</div>
	<div class="col-3"></div>
</div>
</form>

{% endblock content %}