{% extends "asset_mgt_app/base.html" %}


{% block content %}
<div class="container-fluid row">
    <div class="col-md-1">
      <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
    <div class="col-md-1">
      <a href="{% url 'packingjobs_insert' %}" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-plus"></i>
      </a>
    </div>
</div>
<hr>
<div class="container-fluid">
<table  id="packingjobs_list" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
<!--            <th>Product Category</th>-->
            <th>S NO</th>
            <th>Date</th>
            <th>Job No :M PKG-FF</th>
            <th>Type of Packing</th>
            <th>No of Box</th>
            <th>Reference</th>
            <th>Billing Amount</th>
            <th>Expense</th>
            <th>Edit</th>
            <th>Delete</th>
    </thead>
    <tbody>
        {% for packingjobs in packingjobs_list %}
            <tr>
                <td> {{packingjobs.pj_s_no}}</td>
                <td> {{packingjobs.pj_date}}</td>
                <td> {{packingjobs.pj_job_no}}</td>
                <td> {{packingjobs.pj_customer}}</td>
                <td> {{packingjobs.pj_pack_type}}</td>
                <td> {{packingjobs.pj_no_box}}</td>
                <td> {{packingjobs.pj_reference}}</td>
                <td> {{packingjobs.pj_bill_amount}}</td>
                <td> {{packingjobs.pj_expense}}</td>
                <td>
                    <a href="{% url 'packingjobs_update' packingjobs.id %}" >
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <form action="{% url 'packingjobs_delete' packingjobs.id %}" method="post" onclick="return confirm('Are you sure?');">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function() {
    $('#packingjobs_list').DataTable();
} );
</script>

{% endblock content %}
