{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" action="" id="costingsummary_add"   >
	{% csrf_token %}
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center">
						<div class="row">
							<div class="col-3"></div>
							<div class="col-4">
								<h3>Add/Update Costing Summary</h3>
							</div>
							<div class="col-2">
<!--								<a href="{% url 'pk_bvm_invoice_excel' %}" class="btn btn-warning btn-block" id="excel_invoice_report_btn"><i class="fa fa-download" aria-hidden="true"> Excel Invoice</i>-->
<!--								</a>-->
							</div>
							<div class="col-2">
								<a href="{% url 'pk_bvm_invoice_pdf' %}" class="btn btn-warning btn-block" id="invoice_report_btn"><i class="fa fa-download" aria-hidden="true"> Invoice</i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-body bg-light" >
						<div class="row" id="costing_summary">
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Assessment Number</span>
									</div>
									{% render_field form.cs_assessment_num id="cs_assessment_num" name="cs_assessment_num" onchange="cs_assessment_num_change()" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Name</span>
									</div>
									{% render_field form.cs_customer_name id="cs_customer_name" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer PO</span>
									</div>
									{% render_field form.cs_customer_po id="cs_customer_po" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Wood Cost</span>
									</div>
									{% render_field form.cs_wood_cost id="cs_wood_cost"  class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Engineer Cost</span>
									</div>
									{% render_field form.cs_engineer_cost id="cs_engineer_cost" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Labour Cost</span>
									</div>
									{% render_field form.cs_labour_cost id="cs_labour_cost" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Crane Cost</span>
									</div>
									{% render_field form.cs_crane_cost id="cs_crane_cost" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">HT Cost</span>
									</div>
									{% render_field form.cs_ht_cost id="cs_ht_cost" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Management Cost</span>
									</div>
									{% render_field form.cs_management_cost id="cs_management_cost" class="form-control disable_a_href" %}
								</div>
								<div id="accordion" class="container-fluid">
									<div class="card">
										<div class="card-header bg-info" id="headingOne">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													Address
												</a>
											</h5>
										</div>
										<div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
											<div class="card-body">
												{% render_field form.cs_address id="cs_address"  class="form-control" %}
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header bg-info" id="headingTwo">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
													Cost Includes
												</a>
											</h5>
										</div>
										<div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
											<div class="card-body">
												{% render_field form.cs_cost_includes id="cs_cost_includes"  class="form-control" %}
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header bg-info" id="headingThree">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
													Notes
												</a>
											</h5>
										</div>
										<div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordion">
											<div class="card-body">
												{% render_field form.cs_notes id="cs_notes"  class="form-control" %}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Consumables Cost</span>
									</div>
									{% render_field form.cs_material_cost id="cs_material_cost" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Transport Cost</span>
									</div>
									{% render_field form.cs_transport_cost id="cs_transport_cost" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Total Cost (W/O Margin)</span>
									</div>
									{% render_field form.cs_total_cost_wom id="cs_total_cost_wom"  class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Margin (%)</span>
									</div>
									{% render_field form.cs_margin id="cs_margin"  onchange="change_charge_type()" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Total Cost (With Margin)</span>
									</div>
									{% render_field form.cs_total_cost_wm id="cs_total_cost_wm"  class="form-control disable_a_href " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">GST (%)</span>
									</div>
									{% render_field form.cs_gst id="cs_gst"  onchange="change_charge_type()" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Final Cost</span>
									</div>
									{% render_field form.cs_final_cost id="cs_final_cost"  class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Total CFT</span>
									</div>
									{% render_field form.cs_total_cft id="cs_total_cft"  onchange="change_charge_type()" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Rate Per CFT (W/O GST)</span>
									</div>
									{% render_field form.cs_rate_per_cft id="cs_rate_per_cft"  class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Status</span>
									</div>
									{% render_field form.cs_status id="cs_status"  class="form-control" %}
								</div>
								<div id="accordion_1" class="container-fluid mb-3">
									<div class="card">
										<div class="card-header bg-info" id="headingFour">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
													Terms & Conditions
												</a>
											</h5>
										</div>
										<div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordion">
											<div class="card-body">
												{% render_field form.cs_terms_condition id="cs_terms_condition"  class="form-control" %}
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header bg-info" id="headingFive">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
													Client Scope
												</a>
											</h5>
										</div>
										<div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordion">
											<div class="card-body">
												{% render_field form.cs_client_scope id="cs_client_scope"  class="form-control" %}
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header bg-info" id="headingSix">
											<h5 class="mb-0">
												<a href="" class=" text-white" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
													BVM Scope
												</a>
											</h5>
										</div>
										<div id="collapseSix" class="collapse " aria-labelledby="headingSix" data-parent="#accordion">
											<div class="card-body">
												{% render_field form.cs_bvm_scope id="cs_bvm_scope"  class="form-control" %}
											</div>
										</div>
									</div>
								</div>
							</div>
							{% render_field form.cs_updated_by id="cs_updated_by"  hidden="True" class="form-control" %}
						</div>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
									<span id="unique_field_error" style="color: red;"></span>
									<span id="unique_record" style="color: green;"></span>
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						<button id="cs_submit_btn" type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'costingsummary_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 ">
	<div class="container">
		<div class="card text-dark bg-warning  mb-3" style="max-width: 100%;">
			<div class="card-header text-center"><h3>Calculation</h3></div>
			<div class="card-body " id="dimension_type">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Dimension Type</span>
					</div>
					{% render_field form.pkqt_dimension_type id="pkqt_dimension_type" class="form-control disable_a_href" %}
				</div>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">UOM</span>
					</div>
					{% render_field form.pkqt_uom_calc id="pkqt_uom_calc" class="form-control disable_a_href" %}
				</div>
				<!-- Input fields for length, width, and height -->
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Length</span>
					</div>
					<input type="number" id="pkqt_l" class="form-control disable_a_href">
				</div>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Width</span>
					</div>
					<input type="number" id="pkqt_w" class="form-control disable_a_href">
				</div>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Height</span>
					</div>
					<input type="number" id="pkqt_h" class="form-control disable_a_href">
				</div>

				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Box ID Clearance Length:</span>
					</div>
					{% render_field form.pkqt_box_id_clearance_l id="pkqt_box_id_clearance_l" class="form-control" %}
				</div>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Box ID Clearance Width:</span>
					</div>
					{% render_field form.pkqt_box_id_clearance_w id="pkqt_box_id_clearance_w" class="form-control" %}
				</div>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Box ID Clearance Height:</span>
					</div>
					{% render_field form.pkqt_box_id_clearance_h id="pkqt_box_id_clearance_h" class="form-control" %}
				</div>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Box OD Clearance Length:</span>
					</div>
					{% render_field form.pkqt_box_od_clearance_l id="pkqt_box_od_clearance_l" class="form-control" %}
				</div>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Box OD Clearance Width:</span>
					</div>
					{% render_field form.pkqt_box_od_clearance_w id="pkqt_box_od_clearance_w" class="form-control" %}
				</div>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Box OD Clearance Height:</span>
					</div>
					{% render_field form.pkqt_box_od_clearance_h id="pkqt_box_od_clearance_h" class="form-control" %}
				</div>

				<!-- Table to display calculated values -->
				<table class="table table-sm table-bordered">
					<thead>
					<tr class="text-center  bg-info">
						<th>UOM</th>
						<th>Length</th>
						<th>Width</th>
						<th>Height</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="bg-info">cm</td>
						<td><input type="text" id="length_cm" class="form-control form-control-sm" readonly></td>
						<td><input type="text" id="width_cm" class="form-control form-control-sm" readonly></td>
						<td><input type="text" id="height_cm" class="form-control form-control-sm" readonly></td>
					</tr>
					<tr>
						<td class="bg-info">inch</td>
						<td><input type="text" id="length_in" class="form-control form-control-sm" readonly></td>
						<td><input type="text" id="width_in" class="form-control form-control-sm" readonly></td>
						<td><input type="text" id="height_in" class="form-control form-control-sm" readonly></td>
					</tr>
					<tr>
						<td class="bg-info">feet</td>
						<td><input type="text" id="length_ft" class="form-control form-control-sm" readonly></td>
						<td><input type="text" id="width_ft" class="form-control form-control-sm" readonly></td>
						<td><input type="text" id="height_ft" class="form-control form-control-sm" readonly></td>
					</tr>
					</tbody>
				</table>

				<!-- Button to trigger calculation -->
				<div class="d-flex justify-content-end mt-3">
					<button class="btn btn-primary" onclick="pk_store_na_dimension_id()">Calculate</button>
				</div>
			</div>

			{% render_field form.pkqt_updated_by id="pkqt_updated_by" hidden="True" class="form-control" %}
		</div>
	</div>
						{% include "asset_mgt_app/caculation_card.html" %}
</div>
</div>
	</div>
</form>
<div class="container-fluid row">
	<div class="col-md-2">
		<a href="{% url 'costing_insert' %}" id="add_costing" class="btn btn-success btn-block btn-lg">
			<i class="fas fa-plus"></i> Add/Modify Items
		</a>
	</div>
</div>
<hr>
<div class="container-fluid">
	<table  id="costing_list" class="table table-striped table-bordered">
		<thead class="thead-dark">
		<tr>
			<th>Created On</th>
			<th>Assessment Number</th>
			<th>Customer PO Number</th>
			<th>Requirement Type</th>
			<th>Cost Type</th>
			<th>Stock Type</th>
			<th>Stock Description</th>
			<th>Length</th>
			<th>Width(inch)</th>
			<th>Height(inch)</th>
			<th>Quantity</th>
			<th>Size</th>
			<th>UOM</th>
			<th>CFT</th>
			<th>Rate</th>
			<th>Days</th>
			<th>Total Cost</th>
			<th>Updated at</th>
			<th>Updated By</th>
		</thead>
		<tbody>
		{% for costinginfo in costing_list %}
		<tr>
			<td> {{costinginfo.ct_created_at}}</td>
			<td> {{costinginfo.ct_assessment_num}}</td>
			<td> {{costinginfo.ct_customer_po}}</td>
			<td> {{costinginfo.ct_requirement}}</td>
			<td> {{costinginfo.ct_cost_type}}</td>
			<td> {{costinginfo.ct_stock_type}}</td>
			<td> {{costinginfo.ct_stock_description}}</td>
			<td> {{costinginfo.ct_length}}</td>
			<td> {{costinginfo.ct_width}}</td>
			<td> {{costinginfo.ct_height}}</td>
			<td> {{costinginfo.ct_quantity}}</td>
			<td> {{costinginfo.ct_size}}</td>
			<td> {{costinginfo.ct_uom}}</td>
			<td> {{costinginfo.ct_cft}}</td>
			<td> {{costinginfo.ct_rate}}</td>
			<td> {{costinginfo.ct_days}}</td>
			<td> {{costinginfo.ct_total_cost}}</td>
			<td> {{costinginfo.ct_updated_at}}</td>
			<td> {{costinginfo.ct_updated_by}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<script>
$(document).ready(function() {
	document.getElementById("cs_updated_by").value ='{{user_id}}';
<!--	document.getElementById("cs_wood_cost").value ='{{wood_cost}}';-->
<!--	document.getElementById("cs_engineer_cost").value ='{{engineer_cost}}';-->
<!--	document.getElementById("cs_labour_cost").value ='{{labour_cost}}';-->
<!--	document.getElementById("cs_crane_cost").value ='{{crane_cost}}';-->
<!--	document.getElementById("cs_ht_cost").value ='{{ht_cost}}';-->
<!--	document.getElementById("cs_management_cost").value ='{{management_cost}}';-->
<!--	document.getElementById("cs_material_cost").value ='{{material_cost}}';-->
<!--	document.getElementById("cs_transport_cost").value ='{{transport_cost}}';-->

	var user_role='{{role_id}}'
	var status=document.getElementById("cs_status").value
	if (status==5)
	{
		$('#invoice_report_btn').removeClass('disable_a_href');
		if (user_role==2)
		{
			alert('Since Status is Completed,you have read-only access. To edit, please contact Administrator')
			$('#costing_summary').addClass('disable_a_href');
			$('#cs_submit_btn').addClass('disable_a_href');
			$('#add_costing').addClass('disable_a_href');
		}
		else
		{
			$('#costing_summary').removeClass('disable_a_href');
			$('#cs_submit_btn').removeClass('disable_a_href');
			$('#add_costing').removeClass('disable_a_href');

		}
	}
	else
	{
		$('#invoice_report_btn').addClass('disable_a_href');
		var assessment_num = document.getElementById("cs_assessment_num").value
		if (assessment_num =="")
		{
			$('#add_costing').addClass('disable_a_href');
		}
		else
		{
			$('#add_costing').removeClass('disable_a_href');
		}
	}

	$('#costing_list').DataTable({
        dom: 'lBfrtip',
        buttons: [
            'copy', 'csv', 'excel','print'
        ]
    });

    customer_po_val= document.getElementById("cs_customer_po").value;
    if (customer_po_val=='')
    	{
    		cs_assessment_num_change()
    	}

});
</script>

<script>
function change_charge_type() {
var wood_cost=parseFloat(document.getElementById("cs_wood_cost").value) || 0;
var engineer_cost=parseFloat(document.getElementById("cs_engineer_cost").value) || 0;
var labour_cost=parseFloat(document.getElementById("cs_labour_cost").value) || 0;
var crane_cost=parseFloat(document.getElementById("cs_crane_cost").value) || 0;
var ht_cost=parseFloat(document.getElementById("cs_ht_cost").value) || 0;
var management_cost=parseFloat(document.getElementById("cs_management_cost").value) || 0;
var material_cost=parseFloat(document.getElementById("cs_material_cost").value) || 0;
var transport_cost=parseFloat(document.getElementById("cs_transport_cost").value) || 0;
var margin=parseFloat(document.getElementById("cs_margin").value) || 0;
var gst=parseFloat(document.getElementById("cs_gst").value) || 0;
var total_cost_wo_m= wood_cost+engineer_cost+labour_cost+crane_cost+ht_cost+management_cost+material_cost+transport_cost
document.getElementById("cs_total_cost_wom").value=total_cost_wo_m.toFixed(2)
var margin_value=total_cost_wo_m*(margin/100)
var total_cost=margin_value+total_cost_wo_m
var final_cost=total_cost+(total_cost*gst/100)

document.getElementById("cs_total_cost_wm").value=total_cost.toFixed(2)
document.getElementById("cs_final_cost").value=final_cost.toFixed(2)

var total_cft=parseFloat(document.getElementById("cs_total_cft").value) || 0;
var rate_per_cft=total_cost/total_cft
document.getElementById("cs_rate_per_cft").value=rate_per_cft.toFixed(2)
}
</script>

<script>
	function cs_assessment_num_change()
	{
    	var cs_assessment_num = document.getElementById("cs_assessment_num").value;
        $.ajax
        ({
        	url: '{% url "pk_costing_get_customer" %}',
            data: {
                    'cs_assessment_num': cs_assessment_num
                },
            dataType: 'json',
            success: function(data)
            {
            	var customer_name_id=data.customer_name_id
                document.getElementById("cs_customer_name").value=customer_name_id
   				$('#cs_customer_po').removeClass('disable_a_href');
				$("#cs_customer_po").empty();
				var customer_po_id=data.customer_po_id;
				if (customer_po_id=="")
				{
                    $('#unique_field_error').text('Customer PO not available for the selected Assessment Number.');
                }
				var customer_po_name=data.customer_po_name;
				var len1 = (customer_po_id).length;
				$("#cs_customer_po").empty();
				$('#cs_customer_po').empty().append("<option value='0'>--Select--</option>");
				for( var j = 0; j<len1; j++)
				{
					$("#cs_customer_po").append("<option value='"+customer_po_id[j]+"'>"+customer_po_name[j]+"</option>");
				}
            }
        });
	}
</script>
<script>
$('#cs_customer_po').on('change', function() {
	var cs_customer_po_num = $(this).val();
    var cs_assessment_num = document.getElementById("cs_assessment_num").value
    // Send an AJAX request to check if the value exists in the database
    $.ajax
    ({
    	url: '{% url "pk_costing_summary_check_unique_field" %}',
        data: {
        	'cs_assessment_num': cs_assessment_num,
        	'cs_customer_po_num': cs_customer_po_num,
        },
        dataType: 'json',
        success: function(data)
        {
        	if (data.exists)
        		{
                	$('#unique_field_error').text('Record already exists for selected Assessment and Customer PO.');
                	$('#unique_record').text('');
                }
                else
                {
                	$('#unique_record').text('Unique Record');
                	$('#unique_field_error').text('');
                }
        }
    });
});
</script>
{% endblock content %}