{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<form method="POST" action="" id="costing_add" data-stock_description-url="{% url 'load_stock_description' %}"  >
	{% csrf_token %}
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Costing</h3></div>
					<div class="card-body bg-light">
						<div class="row">
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Assessment Number</span>
									</div>
									{% render_field form.ct_assessment_num id="ct_assessment_num"  class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Cost Type</span>
									</div>
									{% render_field form.ct_cost_type id="ct_cost_type" onchange="change_cost_type()" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Stock Type</span>
									</div>
									{% render_field form.ct_stock_type id="ct_stock_type" onchange="change_cost_type()" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Stock Description</span>
									</div>
									{% render_field form.ct_stock_description id="ct_stock_description" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Width (inch)</span>
									</div>
									{% render_field form.ct_width id="ct_width" onchange="change_cost_type()" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Height (inch)</span>
									</div>
									{% render_field form.ct_height id="ct_height" onchange="change_cost_type()" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Length (Ft)</span>
									</div>
									{% render_field form.ct_length id="ct_length" onchange="change_cost_type()" class="form-control " %}
								</div>
							</div>
							<div class="col-6">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">UOM</span>
									</div>
									{% render_field form.ct_uom id="ct_uom" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Size</span>
									</div>
									{% render_field form.ct_size id="ct_size" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Quantity</span>
									</div>
									{% render_field form.ct_quantity id="ct_quantity" onchange="change_cost_type()" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">CFT</span>
									</div>
									{% render_field form.ct_cft id="ct_cft" onchange="change_cost_type()" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Rate/Qty (CFT)</span>
									</div>
									{% render_field form.ct_rate id="ct_rate" onchange="change_cost_type()" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Days</span>
									</div>
									{% render_field form.ct_days id="ct_days" onchange="change_cost_type()" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Total Cost</span>
									</div>
									{% render_field form.ct_total_cost id="ct_total_cost" readonly="True" class="form-control disable_a_href" %}
								</div>
								{% render_field form.ct_updated_by id="ct_updated_by" hidden="True" class="form-control" %}
								{% render_field form.ct_stock_purchase_number id="ct_stock_purchase_number"  class="form-control" %}
							</div>
						</div>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						<button type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'costing_cancel' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</form>
<div id="pk_item_search_page_costing">
	{% include "asset_mgt_app/pk_item_search_page_costing.html" %}
</div>

{% include "asset_mgt_app/pk_costing_list_WOH.html" %}
<script>
$(document).ready(function() {
	document.getElementById("ct_updated_by").value ='{{user_id}}';
	document.getElementById("ct_assessment_num").value ='{{na_assessment_num_id}}';
	change_cost_type();
	});
</script>

<script>
   $("#ct_stock_type").change(function () {
      var url = $("#costing_add").attr("data-stock_description-url");
      var stock_type = $(this).val();
      $.ajax({
        url: url,
        data: {
          'stock_type': stock_type,
        },
		success: function (data) {
			console.log(data);
			$('#ct_stock_description').removeClass('disable_a_href');
			$("#ct_stock_description").empty();
			$('#ct_stock_description').empty().append("<option value='0'>--Select--</option>");
        	var ct_stock_description_name=JSON.parse(data)["stock_description"];
        	var ct_stock_description_id=JSON.parse(data)["stock_description_id"];
        	var len = (ct_stock_description_id).length;
        	$('#ct_stock_description').empty().append("<option value='0'>--Select--</option>");
        	for( var i = 0; i<len; i++){
        		$("#ct_stock_description").append("<option value='"+ct_stock_description_id[i]+"'>"+ct_stock_description_name[i]+"</option>");
			}
        }
      });
    });
  </script>
<script>
function change_cost_type() {
		var jn=document.getElementById("ct_cost_type").value
		if ( jn==8)
		{
			$('#ct_stock_type').removeClass('disable_a_href');
			var jn1=document.getElementById("ct_stock_type").value
			if ( jn1==1)
			{
				$('#ct_stock_description').removeClass('disable_a_href');
				$('#ct_length').removeClass('disable_a_href');
				$('#ct_width').removeClass('disable_a_href');
				$('#ct_height').removeClass('disable_a_href');
				$('#ct_uom').addClass('disable_a_href');
				$('#ct_quantity').removeClass('disable_a_href');
<!--				$('#ct_size').addClass('disable_a_href');-->
<!--				document.getElementById("ct_size").value=parseFloat(0.0)-->
				$('#ct_days').addClass('disable_a_href');
				document.getElementById("ct_days").value=0;

				var length = parseFloat(document.getElementById("ct_length").value) || 0;
				var height = parseFloat(document.getElementById("ct_height").value) || 0;
				var width = parseFloat(document.getElementById("ct_width").value) || 0;
				var rate = parseFloat(document.getElementById("ct_rate").value) || 0;
				var quantity = parseInt(document.getElementById("ct_quantity").value) || 0;
				var cft = length*height*width/144;
				document.getElementById("ct_cft").value=cft.toFixed(2)
				var totalCost = rate * cft*quantity;
				document.getElementById("ct_total_cost").value=totalCost.toFixed(2)
			}

			else if (jn1==2)
			{
				$('#ct_stock_description').removeClass('disable_a_href');
				$('#ct_length').addClass('disable_a_href');
				$('#ct_width').addClass('disable_a_href');
				$('#ct_height').addClass('disable_a_href');
				$('#ct_uom').removeClass('disable_a_href');
				$('#ct_quantity').removeClass('disable_a_href');
<!--				$('#ct_size').removeClass('disable_a_href');-->
				$('#ct_cft').addClass('disable_a_href');
				document.getElementById("ct_cft").value=0;
				document.getElementById("ct_length").value=0;
				document.getElementById("ct_width").value=0;
				document.getElementById("ct_height").value=0;
				$('#ct_rate').removeClass('disable_a_href');
				$('#ct_days').addClass('disable_a_href');
				var rate = parseFloat(document.getElementById("ct_rate").value) || 0;
				var quantity = parseInt(document.getElementById("ct_quantity").value) || 0;
				var totalCost = rate  * quantity;
				document.getElementById("ct_total_cost").value=totalCost.toFixed(2)
			}
		}
		else if (jn==4)
		{
			$('#ct_stock_type').addClass('disable_a_href');
			$('#ct_stock_description').addClass('disable_a_href');
			document.getElementById("ct_stock_type").value=""
			document.getElementById("ct_stock_description").value=""
			$('#ct_length').addClass('disable_a_href');
			$('#ct_width').addClass('disable_a_href');
			$('#ct_height').addClass('disable_a_href');
			$('#ct_days').removeClass('disable_a_href');
			$('#ct_uom').addClass('disable_a_href');
<!--			$('#ct_size').addClass('disable_a_href');-->
			document.getElementById("ct_uom").value="";
<!--			document.getElementById("ct_size").value=0;-->
			var rate = parseFloat(document.getElementById("ct_rate").value) || 0;
			var quantity = parseInt(document.getElementById("ct_quantity").value) || 0;
			var days = parseInt(document.getElementById("ct_days").value) || 0;
			var totalCost = rate  * days * quantity;
        	document.getElementById("ct_total_cost").value=totalCost.toFixed(2)
		}
		else if (jn==5)
		{
			$('#ct_stock_type').addClass('disable_a_href');
			$('#ct_stock_description').addClass('disable_a_href');
			document.getElementById("ct_stock_type").value=""
			document.getElementById("ct_stock_description").value=""
			$('#ct_length').addClass('disable_a_href');
			$('#ct_width').addClass('disable_a_href');
			$('#ct_height').addClass('disable_a_href');
			$('#ct_days').addClass('disable_a_href');
			$('#ct_uom').addClass('disable_a_href');
<!--			$('#ct_size').addClass('disable_a_href');-->
			document.getElementById("ct_days").value=0;
			document.getElementById("ct_uom").value="";
<!--			document.getElementById("ct_size").value=0;-->
			var rate = parseFloat(document.getElementById("ct_rate").value) || 0;
			var quantity = parseInt(document.getElementById("ct_quantity").value) || 0;
			var totalCost = rate * quantity;
        	document.getElementById("ct_total_cost").value=totalCost.toFixed(2)
		}
		else if (jn==6)
		{
			$('#ct_stock_type').addClass('disable_a_href');
			$('#ct_stock_description').addClass('disable_a_href');
			document.getElementById("ct_stock_type").value=""
			document.getElementById("ct_stock_description").value=""
			$('#ct_length').addClass('disable_a_href');
			$('#ct_width').addClass('disable_a_href');
			$('#ct_height').addClass('disable_a_href');
			$('#ct_days').addClass('disable_a_href');
			$('#ct_uom').addClass('disable_a_href');
<!--			$('#ct_size').addClass('disable_a_href');-->
			document.getElementById("ct_uom").value="";
<!--			document.getElementById("ct_size").value=0;-->
			document.getElementById("ct_days").value=0;
			var rate = parseFloat(document.getElementById("ct_rate").value) || 0;
			var quantity = parseInt(document.getElementById("ct_quantity").value) || 0;
			var totalCost = rate * quantity;
        	document.getElementById("ct_total_cost").value=totalCost.toFixed(2)
		}
		else if (jn==7)
		{
			$('#ct_stock_type').addClass('disable_a_href');
			$('#ct_stock_description').addClass('disable_a_href');
			document.getElementById("ct_stock_type").value=""
			document.getElementById("ct_stock_description").value=""
			$('#ct_length').addClass('disable_a_href');
			$('#ct_width').addClass('disable_a_href');
			$('#ct_height').addClass('disable_a_href');
			$('#ct_days').addClass('disable_a_href');
			$('#ct_quantity').addClass('disable_a_href');
			$('#ct_cft').addClass('disable_a_href');
			$('#ct_uom').addClass('disable_a_href');
<!--			$('#ct_size').addClass('disable_a_href');-->
			document.getElementById("ct_days").value=0;
			document.getElementById("ct_quantity").value=0;
			document.getElementById("ct_cft").value=0;
			document.getElementById("ct_uom").value="";
<!--			document.getElementById("ct_size").value=0;-->
			var rate = parseFloat(document.getElementById("ct_rate").value) || 0;
			var totalCost = rate;
        	document.getElementById("ct_total_cost").value=totalCost.toFixed(2)
		}
		else
		{
			$('#ct_stock_type').addClass('disable_a_href');
			$('#ct_stock_description').addClass('disable_a_href');
			document.getElementById("ct_stock_type").value=""
			document.getElementById("ct_stock_description").value=""
			$('#ct_length').addClass('disable_a_href');
			$('#ct_width').addClass('disable_a_href');
			$('#ct_height').addClass('disable_a_href');
			$('#ct_days').removeClass('disable_a_href');
			$('#ct_cft').addClass('disable_a_href');
			$('#ct_uom').addClass('disable_a_href');
<!--			$('#ct_size').addClass('disable_a_href');-->
			document.getElementById("ct_uom").value="";
<!--			document.getElementById("ct_size").value=0;-->
			document.getElementById("ct_cft").value=0;
			var rate = parseFloat(document.getElementById("ct_rate").value) || 0;
			var quantity = parseInt(document.getElementById("ct_quantity").value) || 0;
			var days = parseInt(document.getElementById("ct_days").value) || 0;
			var totalCost = rate  * days * quantity;
			document.getElementById("ct_total_cost").value=totalCost.toFixed(2)

		}
	}
</script>

<script>
function change_charge_type() {
	var jn=document.getElementById("ct_stock_type").value
	if ( jn==1)
	{
		$('#ct_stock_description').removeClass('disable_a_href');
		$('#ct_length').removeClass('disable_a_href');
		$('#ct_width').removeClass('disable_a_href');
		$('#ct_height').removeClass('disable_a_href');
		$('#ct_uom').addClass('disable_a_href');
		$('#ct_quantity').removeClass('disable_a_href');
<!--		$('#ct_size').addClass('disable_a_href');-->
<!--		document.getElementById("ct_size").value=parseFloat(0.0)-->
		$('#ct_days').addClass('disable_a_href');
		document.getElementById("ct_days").value=0;

		var length = parseFloat(document.getElementById("ct_length").value) || 0;
		var height = parseFloat(document.getElementById("ct_height").value) || 0;
		var width = parseFloat(document.getElementById("ct_width").value) || 0;
		var rate = parseFloat(document.getElementById("ct_rate").value) || 0;
		var quantity = parseInt(document.getElementById("ct_quantity").value) || 0;
		var cft = length*height*width/144;
		document.getElementById("ct_cft").value=cft.toFixed(2)
		var totalCost = rate * cft*quantity;
        document.getElementById("ct_total_cost").value=totalCost.toFixed(2)
	}

	else if (jn==2)
	{
		$('#ct_stock_description').removeClass('disable_a_href');
		$('#ct_length').addClass('disable_a_href');
		$('#ct_width').addClass('disable_a_href');
		$('#ct_height').addClass('disable_a_href');
		$('#ct_uom').removeClass('disable_a_href');
		$('#ct_quantity').removeClass('disable_a_href');
<!--		$('#ct_size').removeClass('disable_a_href');-->
		$('#ct_cft').addClass('disable_a_href');
		document.getElementById("ct_cft").value=0;
		document.getElementById("ct_length").value=0;
		document.getElementById("ct_width").value=0;
		document.getElementById("ct_height").value=0;
		$('#ct_rate').removeClass('disable_a_href');
		$('#ct_days').addClass('disable_a_href');
		var rate = parseFloat(document.getElementById("ct_rate").value) || 0;
		var quantity = parseInt(document.getElementById("ct_quantity").value) || 0;
		var totalCost = rate  * quantity;
        document.getElementById("ct_total_cost").value=totalCost.toFixed(2)
	}
}
</script>

<script>
    $("#ct_stock_description").change(function () {
        var stock_description = $(this).val();
        var stock_type = $("#ct_stock_type").val();
        var includeContainer = $('#pk_item_search_page_costing');
        $.ajax({
            url: '{% url 'pk_item_search_page_costing' %}',
            data: {
                'stock_type': stock_type,
                'stock_description': stock_description,
            },
            success: function (results)
            {
				// Generate HTML for the table
				var tableHtml = '<table class="table table-striped table-bordered">';
				tableHtml += '<thead class="thead-dark"><tr><th>ID</th><th>Vendor Bill</th><th>Stock Purchases Number</th><th>Category</th><th>Stock Type</th><th>Stock Description</th><th>Source</th><th>Thick/Height</th><th>Width</th><th>Length</th><th>CFT</th><th>Quantity</th><th>Rate/Qty (CFT)</th><th>UOM</th><th>Size</th><th>Select</th></tr></thead>';
				tableHtml += '<tbody>';
				// Iterate over the results and add rows to the table
				for (var i = 0; i < results.length; i++)
				{
					tableHtml += '<tr>';
					tableHtml += '<td>' + results[i].id + '</td>';
					tableHtml += '<td>' + results[i].sp_vendor_bill + '</td>';
					tableHtml += '<td>' + results[i].sp_purchase_num + '</td>';
					tableHtml += '<td>' + results[i].sp_category__category + '</td>';
					tableHtml += '<td>' + results[i].sp_stock_type__pk_stocktype + '</td>';
					tableHtml += '<td>' + results[i].sp_stock_description__stock_description + '</td>';
					tableHtml += '<td>' + results[i].sp_source__source + '</td>';
					tableHtml += '<td>' + results[i].sp_thick_height + '</td>';
					tableHtml += '<td>' + results[i].sp_width + '</td>';
					tableHtml += '<td>' + results[i].sp_length + '</td>';
					tableHtml += '<td>' + results[i].sp_cft + '</td>';
					tableHtml += '<td>' + results[i].sp_quantity + '</td>';
					tableHtml += '<td>' + results[i].sp_rate + '</td>';
					tableHtml += '<td>' + results[i].sp_uom__unit_of_measure + '</td>';
					tableHtml += '<td class="hidden-column" style="display:none;">' + results[i].sp_uom + '</td>';
					tableHtml += '<td>' + results[i].sp_size + '</td>';
					tableHtml += '<td>';
        			tableHtml += '<a class="btn btn-primary" >';
        			tableHtml += '<i class="far fa-edit"></i> Select';
        			tableHtml += '</a>';
        			tableHtml += '</td>';
					tableHtml += '</tr>';
				}
				tableHtml += '</tbody></table>';

				 // Create the container and row structure
				var containerHtml = '<div class="container-fluid" style="padding:15px;">';
				containerHtml += '<div class="row">';
				containerHtml += '<div class="col-5"></div>';
				containerHtml += '<div class="col-2 rounded text-center bg-info">';
				containerHtml += '<h3>Packing Stock List</h3>';
				containerHtml += '</div>';
				containerHtml += '<div class="col-5"></div>';
				containerHtml += '</div>';
				containerHtml += '</div>';
				// Set the table HTML to the includeContainer
				includeContainer.html(containerHtml +tableHtml);
				var dataTable = includeContainer.find('table').DataTable();
           }
        });
        // Attach click event to the "Select" button
		includeContainer.on('click', 'a.btn-primary', function(e) {
			e.preventDefault(); // Prevent the default action of the link

			// Get the selected row data
			var selectedRow = $(this).closest('tr');
			var stockId = selectedRow.find('td:eq(0)').text();
			var stock_purchase_num = selectedRow.find('td:eq(1)').text(); // Update with the correct index
			var height = selectedRow.find('td:eq(7)').text(); // Update with the correct index
			var width = selectedRow.find('td:eq(8)').text(); // Update with the correct index
			var length = selectedRow.find('td:eq(9)').text(); // Update with the correct index
			var cft = selectedRow.find('td:eq(10)').text(); // Update with the correct index
			var quantity = selectedRow.find('td:eq(11)').text(); // Update with the correct index
			var rateCFT = selectedRow.find('td:eq(12)').text(); // Update with the correct index
			var uom = selectedRow.find('td:eq(13)').text(); // Update with the correct index
			var size = selectedRow.find('td:eq(14)').text(); // Update with the correct index
			var uom_id = selectedRow.find('.hidden-column').text();

			// Log the extracted values (you can do further processing here)
			console.log("Stock Number: " + stock_purchase_num);
			console.log("Length: " + length);
			console.log("Width: " + width);
			console.log("Height: " + height);
			console.log("CFT: " + cft);
			console.log("Quantity: " + quantity);
			console.log("Rate/CFT: " + rateCFT);
			console.log("UOM: " + uom);
			console.log("Size: " + size);
			alert(uom_id)
			document.getElementById("ct_stock_purchase_number").value=stockId;
			document.getElementById("ct_length").value=length;
			document.getElementById("ct_width").value=width;
			document.getElementById("ct_height").value=height;
			document.getElementById("ct_cft").value=cft;
			document.getElementById("ct_quantity").value=quantity;
			document.getElementById("ct_size").value=size;
			document.getElementById("ct_uom").value=uom_id;
			document.getElementById("ct_rate").value=rateCFT;
			change_cost_type();
		});
    });
</script>

{% endblock content %}