{% extends "asset_mgt_app/base.html" %}
{% block content %}
<div class="container-fluid" style="padding:15px;">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2 rounded text-center bg-info">
            <h3>PO Dimension List</h3>
        </div>
        <div class="col-5"></div>
    </div>
</div>
<div class="container-fluid row">
    <div class="col-md-1">
        <a href="{% url 'needassessment_list' %}" class="btn btn-primary btn-block btn-lg">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>
</div>
<hr>
<div class="container-fluid">
    <table  id="po_dimension" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Created On</th>
            <th>Assessment Number</th>
            <th>Item Name</th>
            <th>Length</th>
            <th>Width</th>
            <th>Height</th>
            <th>Quantity</th>
            <th>Updated On</th>
            <th>Updated By</th>
<!--            <th>Edit</th>-->
<!--            <th>Delete</th>-->
        </thead>
        <tbody>
        {% for po_dimensioninfo in po_dimension_list %}
        <tr>
            <td> {{po_dimensioninfo.pod_created_at}}</td>
            <td> {{po_dimensioninfo.pod_assess_num}}</td>
            <td> {{po_dimensioninfo.pod_item_name}}</td>
            <td> {{po_dimensioninfo.pod_length}}</td>
            <td> {{po_dimensioninfo.pod_width}}</td>
            <td> {{po_dimensioninfo.pod_height}}</td>
            <td> {{po_dimensioninfo.pod_quantity}}</td>
            <td> {{po_dimensioninfo.pod_updated_at}}</td>
            <td> {{po_dimensioninfo.pod_updated_by}}</td>

<!--            <td>-->
<!--                <a class="btn btn-primary" href="{% url 'sales_comments_update' commentsinfo.id %}">-->
<!--                    <i class="far fa-edit"></i>-->
<!--                </a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form action="{% url 'sales_comments_delete' commentsinfo.id %}" method="post" onclick="return confirm('Are you sure?');">-->
<!--                    {% csrf_token %}-->
<!--                    <button type="submit" class="btn btn-danger">-->
<!--                        <i class="fas fa-trash-alt"></i>-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
    $('#po_dimension_list').DataTable({
        order: [2, 'desc' ],
        dom: 'lBfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'print'
        ]
    });
});
</script>
{% endblock content %}