<!--<div class="container-fluid" style="padding:15px;">-->
<!--    <div class="row">-->
<!--        <div class="col-4"></div>-->
<!--        <div class="col-4 rounded text-center bg-info">-->
<!--            <h3>Need Assessment Dimension List</h3>-->
<!--        </div>-->
<!--        <div class="col-4"></div>-->
<!--    </div>-->
<!--</div>-->
<div class="container-fluid row">
	<div class="col-md-1.5">
		<a href="{% url 'po_dimension_insert' %}" id = "add_dim_btn" class="btn btn-success btn-block btn-lg">
			<i class="fas fa-plus"></i> Insert
		</a>
	</div>
</div>
<hr>
<div class="container-fluid">
	<table  id="po_dimension_list" class="table table-striped table-bordered">
		<thead class="thead-dark">
		<tr>
			<th>Created On</th>
			<th>Assessment Number</th>
			<th>PO Number</th>
			<th>Item Number</th>
			<th>Requirement Type</th>
			<th>UOM</th>
			<th>Length</th>
			<th>Width</th>
			<th>Height</th>
			<th>Quantity</th>
			<th>Updated On</th>
			<th>Updated By</th>
			<th>Edit</th>
			<th>Delete</th>
		</thead>
		<tbody>
		{% for po_dimensioninfo in po_dimension_list %}
		<tr>
			<td> {{po_dimensioninfo.pod_created_at}}</td>
			<td> {{po_dimensioninfo.pod_assess_num}}</td>
			<td> {{po_dimensioninfo.pod_po_num}}</td>
			<td> {{po_dimensioninfo.pod_item}}</td>
			<td> {{po_dimensioninfo.pod_type_of_req}}</td>
			<td> {{po_dimensioninfo.pod_uom}}</td>
			<td> {{po_dimensioninfo.pod_length}}</td>
			<td> {{po_dimensioninfo.pod_width}}</td>
			<td> {{po_dimensioninfo.pod_height}}</td>
			<td> {{po_dimensioninfo.pod_quantity}}</td>
			<td> {{po_dimensioninfo.pod_updated_at}}</td>
			<td> {{po_dimensioninfo.pod_updated_by}}</td>
			<td>
				<a id="edit_btn_dim" class="btn btn-primary" href="{% url 'po_dimension_update' po_dimensioninfo.id %}" class="btn btn-primary">
					<i class="far fa-edit"></i>
				</a>
			</td>
			<td>
				<form action="{% url 'po_dimension_delete' po_dimensioninfo.id %}" method="post" onclick="return confirm('Are you sure?');">
					{% csrf_token %}
					<button type="submit" id='delete_btn_dim' class="btn btn-danger">
						<i class="fas fa-trash-alt"></i>
					</button>
				</form>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>