{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" action="" id="requirements_add" enctype="multipart/form-data"  >
	{% csrf_token %}
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Requirements</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Requirement Number</span>
									</div>
									{% render_field form.req_number id="req_number" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Backlogs</span>
									</div>
									{% render_field form.req_backlogs id="req_backlogs" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Module</span>
									</div>
									{% render_field form.req_module id="req_module" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Phase</span>
									</div>
									{% render_field form.req_phase id="req_phase" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Raised By</span>
									</div>
									{% render_field form.req_owner id="req_owner" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Raised On</span>
									</div>
									{% render_field form.req_raisedon type="datetime-local" id="req_raisedon" class="form-control " %}
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Bug/Improvements?</span>
									</div>
									{% render_field form.req_bugimprove id="req_bugimprove" class="form-control " %}
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Implemented By</span>
									</div>
									{% render_field form.req_implementedby id="req_implementedby" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Implemented On</span>
									</div>
									{% render_field form.req_implementedon id="req_implementedon" type="Date" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Status</span>
									</div>
									{% render_field form.req_status id="req_status" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Remarks</span>
									</div>
									{% render_field form.req_remarks id="req_remarks" class="form-control " %}
								</div>
								{% render_field form.req_updated_by id="req_updated_by" hidden="True" class="form-control" %}
								<div class="row container-fluid">
<!--									<div class="col-6">-->
										<div class="input-group input-group-sm mb-3 bg-dark block">
											<div class="input-group-prepend">
												<span class="input-group-text">Attachment</span>
											</div>
											{% render_field form.req_attachment class="form-control" %}
											<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
										</div>
<!--									</div>-->
									<div class="col-6"></div>
								</div>
								<div class="row">
								<div class="col-1"></div>
								<div class="col-10">
									<div class="message text-center">
										{% for message in messages %}
										<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
										{% endfor %}
									</div>
								</div>
								<div class="col-1"></div>
							</div>
							</div>
						</div>
						<button type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'requirements_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
</form>
<script>
$(document).ready(function() {
	document.getElementById("req_updated_by").value ='{{user_id}}';
	var raised_by=document.getElementById("req_owner").value
	if (raised_by=="")
	{
		document.getElementById("req_owner").value='{{user_id}}'
	}
	else
	{
		document.getElementById("req_owner").value=raised_by
	}
	reqnum()
	});
</script>
<script>
function reqnum() {
  var ran='{{req_num}}'
  var jn=document.getElementById("req_number").value
  if (jn=="")
  {
  	document.getElementById("req_number").value ="Req_"+ ran;
  }
  else
  {
  	document.getElementById("req_number").value =jn;
  }
}
</script>
{% endblock content %}