{% block content %}
<div class="container-fluid row">
    <!--    <div class="col-md-1">-->
    <!--      <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg">-->
    <!--        <i class="fas fa-arrow-left"></i>-->
    <!--      </a>-->
    <!--    </div>-->
        <div class="col-md-1">
          <a href="{% url 'sales_comments_insert' %}" class="btn btn-success btn-block btn-lg">
            <i class="fas fa-plus"></i> Insert
          </a>
        </div>
</div>
<hr>
<div class="container-fluid">
    <table  id="sales_comments_list" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Added On</th>
            <th>Date of Call</th>
            <th>Sales Number</th>
            <th>Type of Call</th>
            <th>Nature of Call</th>
            <th>Purpose of Call</th>
            <th>Comments</th>
            <th>Comments By</th>
            <th>Updated On</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for commentsinfo in comments_list_filterd %}
        <tr>
            <td> {{commentsinfo.sc_created_at}}</td>
            <td> {{commentsinfo.sc_date_of_call}}</td>
            <td> {{commentsinfo.sc_sales_number}}</td>
            <td> {{commentsinfo.sc_call_type}}</td>
            <td> {{commentsinfo.sc_call_nature}}</td>
            <td> {{commentsinfo.sc_call_purpose}}</td>
            <td> {{commentsinfo.sc_comments}}</td>
            <td> {{commentsinfo.sc_updated_by}}</td>
            <td> {{commentsinfo.sc_updated_at}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'sales_comments_update' commentsinfo.id %}">
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="{% url 'sales_comments_delete' commentsinfo.id %}" method="post" onclick="return confirm('Are you sure?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
    $('#sales_comments_list').DataTable();
} );
</script>
{% endblock content %}
