{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load crispy_forms_tags %}
<form method="POST" action="" id="sales_add" enctype="multipart/form-data" data-load_customer_model-url="{% url 'load_customer_model' %}" novalidate>
	{% csrf_token %}
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Sales</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col-4">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Sales Number</span>
									</div>
									{% render_field form.s_sale_number id="s_sale_number" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Existing Customer or New</span>
									</div>
									{% render_field form.s_customer_new class="form-control" id="s_customer_new" onchange="cusnewexist_enabler()"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Customer Name</span>
									</div>
									{% render_field form.s_customer_name class="form-control disable_a_href" id="s_customer_name"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >New Customer Name</span>
									</div>
									{% render_field form.s_customer_new_name class="form-control disable_a_href" id="s_customer_new_name"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Customer Type</span>
									</div>
									{% render_field form.s_customer_type id="s_customer_type" class="form-control disable_a_href"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Industry Type</span>
									</div>
									{% render_field form.s_industry_type class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Warehouse Requirement</span>
									</div>
									{% render_field form.s_wh_requirement class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Transport Requirement</span>
									</div>
									{% render_field form.s_trans_requirement class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Packing Requirement</span>
									</div>
									{% render_field form.s_pack_requirement class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Facility management Requirement</span>
									</div>
									{% render_field form.s_fac_mgmt_requirement class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Other Requirement</span>
									</div>
									{% render_field form.s_manpower_requirement class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Type of Supply</span>
									</div>
									{% render_field form.s_supply_type class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Handling Branch</span>
									</div>
									{% render_field form.s_location class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-4">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Name of the Person Met</span>
									</div>
									{% render_field form.s_Person_name id="s_Person_name" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Department</span>
									</div>
									{% render_field form.s_department class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Designation</span>
									</div>
									{% render_field form.s_designation id="s_designation" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Contact No.</span>
									</div>
									{% render_field form.s_contact_no id="s_contact_no" class="form-control" title="Please Enter 10 Digit Mobile Number" pattern="[0-9]{10}" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Email ID</span>
									</div>
									{% render_field form.s_email_id class="form-control" id="s_email_id" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Decision Maker (DM)</span>
									</div>
									{% render_field form.s_decision_maker class="form-control" id="s_decision_maker" onchange="decmaker_enabler()"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Name (DM))</span>
									</div>
									{% render_field form.s_name_dm class="form-control disable_a_href" id="s_name_dm" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Designation (DM)</span>
									</div>
									{% render_field form.s_designation_dm class="form-control disable_a_href" id="s_designation_dm" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Email ID (DM))</span>
									</div>
									{% render_field form.s_emailid_dm class="form-control disable_a_href" id="s_emailid_dm" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Joint call Participant</span>
									</div>
									{% render_field form.s_joint_call_name class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Volume potential</span>
									</div>
									{% render_field form.s_vol_customer class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Business potential</span>
									</div>
									{% render_field form.s_bus_customer class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Prospective Customer?</span>
									</div>
									{% render_field form.s_customer_prospective class="form-control" id="s_customer_prospective" onchange="pc_enabler()"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-4">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" > If no, Reason?</span>
									</div>
									{% render_field form.s_noreason_cp class="form-control disable_a_href" id="s_noreason_cp"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" > If Yes, Date of Quote</span>
									</div>
									{% render_field form.s_yesdate_quote type="date" class="form-control disable_a_href" onchange="buss_days_calc()" id="s_yesdate_quote" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Quote Ref</span>
									</div>
									{% render_field form.s_quote_ref id="s_quote_ref" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Rate Approval</span>
									</div>
									{% render_field form.s_rate_approval class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" > Credit Period (Days)</span>
									</div>
									{% render_field form.s_credit_period class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Expected Profit %</span>
									</div>
									{% render_field form.s_expected_prof class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" > Approver Name</span>
									</div>
									{% render_field form.s_approver_name class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Business Won?</span>
									</div>
									{% render_field form.s_bus_won_not class="form-control" id="s_bus_won_not" onchange="Buswonnot_enabler()" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div><div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">If No, Reason?</span>
								</div>
								{% render_field form.s_not_reason class="form-control disable_a_href" id="s_not_reason"%}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">If Yes, Business Start Date</span>
									</div>
									{% render_field form.s_yesdate_business type="date" class="form-control disable_a_href" onchange="buss_days_calc()" id="s_yesdate_business"%}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">KYC</span>
									</div>
									{% render_field form.s_kyc class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Contract</span>
									</div>
									{% render_field form.s_contract class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" > Next Meeting Date</span>
									</div>
									{% render_field form.s_next_meet_schd_date type="date" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Status</span>
									</div>
									{% render_field form.s_status class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							{% render_field form.s_updated_by id="s_updated_by" hidden="True" class="form-control" %}
							{% render_field form.s_created_by id="s_created_by" hidden="True" class="form-control" %}
							{% render_field form.s_business_start_days id="s_business_start_days" hidden="True" class="form-control" %}
						</div>
						<div class="row">
							<div class="col-6">
								<div class="input-group input-group-sm mb-3 bg-dark block">
									<div class="input-group-prepend">
										<span class="input-group-text">Attachment</span>
									</div>
									{% render_field form.s_attachment class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-6"></div>
						</div>
						<button  type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'sales_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel </a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</form>
{% include "asset_mgt_app/sales_comments_list_edit_WOH.html" %}
<script>
$(document).ready(function() {
	document.getElementById("s_updated_by").value ='{{user_id}}';
	var created_by= '{{created_by}}';
	var created_by_1=document.getElementById("s_created_by").value;
	if (created_by_1=="")
	{
		document.getElementById("s_created_by").value ='{{created_by}}';
	}
	else
	{
		document.getElementById("s_created_by").value =created_by_1;
	}
	pc_enabler()
	Buswonnot_enabler()
	decmaker_enabler()
	cusnewexist_enabler()
	buss_days_calc()
	salenum()
	});
</script>
<script>
function salenum() {
  var ran=Math.floor((Math.random() * 1000000) + 1)
  var jn=document.getElementById("s_sale_number").value
  if (jn=="")
  {
  	document.getElementById("s_sale_number").value ="S_"+ ran;
  }
  else
  {
  	document.getElementById("s_sale_number").value =jn;
  }
}
</script>
<script>
function buss_days_calc() {
	var bus_start_date=new Date(document.getElementById("s_yesdate_business").value)
	var bus_quote_date=new Date(document.getElementById("s_yesdate_quote").value)
	days=bus_start_date-bus_quote_date
	var res = Math.abs(bus_start_date - bus_quote_date) / (1000*86400);
	document.getElementById("s_business_start_days").value=res
}
</script>

<script>
    $("#s_customer_name").change(function () {
      var url = $("#sales_add").attr("data-load_customer_model-url");
      var gatein_customer_id = $(this).find(":selected").text();
      $.ajax({
        url: url,
        data: {
          'lm_customer_name_id': gatein_customer_id
        },
		success: function (data) {
			var customer_type=JSON.parse(data)["customer_type_val"];
			document.getElementById("s_customer_type").value =customer_type;
        }
      });

    });
</script>
<script>
function cusnewexist_enabler() {
  var jn5=document.getElementById("s_customer_new").value
  if (jn5==2)
	{
		$('#s_customer_name').removeClass('disable_a_href');
		$('#s_customer_new_name').addClass('disable_a_href');
		$('#s_customer_type').addClass('disable_a_href');
		document.getElementById("s_customer_new_name").value=""
	}
  else
  	{
		$('#s_customer_name').addClass('disable_a_href');
		$('#s_customer_new_name').removeClass('disable_a_href');
		$('#s_customer_type').removeClass('disable_a_href');
		document.getElementById("s_customer_name").value=""
	}
}
</script>

<script>
function decmaker_enabler() {
  var jn6=document.getElementById("s_decision_maker").value
  if (jn6==1)
	{
		$('#s_name_dm').addClass('disable_a_href');
		$('#s_designation_dm').addClass('disable_a_href');
		$('#s_emailid_dm').addClass('disable_a_href');
		var dm_name=document.getElementById("s_Person_name").value
		document.getElementById("s_name_dm").value=dm_name
		document.getElementById("s_designation_dm").value=document.getElementById("s_designation").value
		document.getElementById("s_emailid_dm").value=document.getElementById("s_email_id").value
	}
  else
  	{
		$('#s_name_dm').removeClass('disable_a_href');
		$('#s_designation_dm').removeClass('disable_a_href');
		$('#s_emailid_dm').removeClass('disable_a_href');
	}
}
</script>

<script>
function pc_enabler() {
  var jn3=document.getElementById("s_customer_prospective").value
  if (jn3==1)
	{
		$('#s_noreason_cp').addClass('disable_a_href');
		$('#s_yesdate_quote').removeClass('disable_a_href');
		$('#s_quote_ref').removeClass('disable_a_href');
		document.getElementById("s_noreason_cp").value=""

	}
  else
  	{
		$('#s_noreason_cp').removeClass('disable_a_href');
		$('#s_yesdate_quote').addClass('disable_a_href');
		$('#s_quote_ref').addClass('disable_a_href');
		document.getElementById("s_yesdate_quote").value=""
		document.getElementById("s_quote_ref").value=""
	}
}
</script>

<script>
function Buswonnot_enabler() {
  var jn4=document.getElementById("s_bus_won_not").value
  if (jn4==1)
	{
		$('#s_not_reason').addClass('disable_a_href');
		$('#s_yesdate_business').removeClass('disable_a_href');
		document.getElementById("s_not_reason").value=""
	}
  else
  	{
		$('#s_not_reason').removeClass('disable_a_href');
		$('#s_yesdate_business').addClass('disable_a_href');
		document.getElementById("s_yesdate_business").value=""
	}
}
</script>
{% endblock content %}

