{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load crispy_forms_tags %}
<form method="POST" action="">
	{% csrf_token %}
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Sales Comments</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Sales Number</span>
									</div>
									{% render_field sales_comments_form.sc_sales_number id="sc_sales_number" class="form-control disable_a_href"%}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Date Of Call</span>
									</div>
									{% render_field sales_comments_form.sc_date_of_call id="sc_date_of_call"  type="Date" onclick="date_of_call_change()" value="" max="" min="" class="form-control"%}
									<!--									<input type="datetime-local" class="form-control" id="sc_date_of_call" name="sc_date_of_call" placeholder="Call Date" aria-label="Call Date" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Type of Call</span>
									</div>
									{% render_field sales_comments_form.sc_call_type id="sc_call_type" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Nature of Call</span>
									</div>
									{% render_field sales_comments_form.sc_call_nature id="sc_call_nature" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Purpose of Call</span>
									</div>
									{% render_field sales_comments_form.sc_call_purpose id="sc_call_purpose"  class="form-control"%}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Complaints</span>
									</div>
									{% render_field sales_comments_form.sc_complaints id="sc_complaints" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Compliments</span>
									</div>
									{% render_field sales_comments_form.sc_compliments id="sc_compliments" class="form-control " %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Comments</span>
									</div>
									{% render_field sales_comments_form.sc_comments class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								{% render_field sales_comments_form.sc_updated_by id="sc_updated_by" hidden="True" class="form-control" %}
							</div>
						</div>
						<button type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
						<a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel </a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
</form>

<script>
$(document).ready(function() {
	var sale_num_id='{{ses_sales_num_id}}';
	document.getElementById("sc_sales_number").value=sale_num_id
	document.getElementById("sc_updated_by").value='{{user_id}}'
	date_of_call_change()
  });
</script>

<script>
	function purpose_call_change() {
	  var purpose_call=document.getElementById("sc_call_purpose").value
	  if(purpose_call==3)
		  {
			$('#sc_complaints').removeClass('disable_a_href');
			$('#sc_compliments').removeClass('disable_a_href');
		  }
	  else
	  	{
	  		$('#sc_complaints').addClass('disable_a_href');
			$('#sc_compliments').addClass('disable_a_href');
			document.getElementById("sc_complaints").value=""
			document.getElementById("sc_compliments").value=""
	  	}
}
</script>
<script>
	function date_of_call_change() {
        document.getElementById("sc_date_of_call").min="06/30/2023"
        document.getElementById("sc_date_of_call").max="07/30/2023"
    });
</script>

<script>
        // Get today's date
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0');
        const day = String(today.getDate()).padStart(2, '0');

         // Get yesterdays's date
        const yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);
        const year_1 = yesterday.getFullYear();
        const month_1 = String(yesterday.getMonth() + 1).padStart(2, '0');
        const day_1 = String(yesterday.getDate()).padStart(2, '0');

        // Set the default value for today's date in the input field
        const todayInput = document.getElementById('sc_date_of_call');
<!--        todayInput.value = `${year}-${month}-${day}`;-->

        // Set the 'max' and 'min' attributes to restrict selection to today's date
        todayInput.setAttribute('max', `${year}-${month}-${day}`);
        todayInput.setAttribute('min', `${year_1}-${month_1}-${day_1}`);
    </script>
{% endblock content %}

