{% extends "asset_mgt_app/base.html" %}
{% block content %}

<div class="container-fluid" style="padding:15px;">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2 rounded text-center bg-info">
            <h3>Sales Report</h3>
        </div>
        <div class="col-5"></div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center">
            <div class="card-header" style="background:grey">Sales Call Report</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'sales_call_report' %}">
                    <i class="fas fa-arrows-alt" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="background:grey">Target vs Actuals</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'targets_actuals' %}">
                    <i class="fas fa-user-secret" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="background:grey">Sales Call Details</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'salescalls_details' %}">
                    <i class="fas fa-tags" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="background:grey">Sales person wise</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'salesperson_wise_chart' %}">
                    <i class="fas fa-map-marker-alt" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="background:grey">Business Won/Lost </div>
            <div class="card-body text-center">
                <h2><a href="{% url 'businesswon_chart' %}">
                    <i class="fas fa-rupee-sign" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="background:grey">Monthly Summary</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'monthly_summary' %}" >
                    <i class="fas fa-wallet" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center">
            <div class="card-header" style="background:grey">Productivity</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'salesperson_productivity_performance' %}">
                    <i class="fas fa-arrows-alt" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card text-white bg-light mb-3 text-center" >
            <div class="card-header" style="background:grey">General</div>
            <div class="card-body text-center">
                <h2><a href="{% url 'salesperson_chart' %}">
                    <i class="fas fa-hand-holding-usd" style="color:black"></i></a></h2>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

{% endblock content %}
