{% extends "asset_mgt_app/base.html" %}
{% block content %}

<body>
<div class="col-md-1">
    <a href="{% url 'sales_reports' %}" class="btn btn-primary">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</div>
<br>
<h2 style="color:black;">Sales Calls Details Report</h2>
<hr>
<div class="col-md-11">
    <label for="salesperson-filter"><b>Salesperson:</b></label>
    <select id="salesperson-filter" name="salesperson" class="box-shadow rounded m-1">
        <option value="">All</option>
        {% for salesperson in salespersons %}
        <option value="{{ salesperson }}"
                {% if salesperson == selected_salesperson %} selected {% endif %}>
            {{ salesperson }}
        </option>
        {% endfor %}
    </select>

    <label for="from-date"><b> From:</b></label>
    <input type="date" id="from-date" name="from_date" value="{{ from_date }}" class="box-shadow" >

    <label for="to-date"><b> To:</b></label>
    <input type="date" id="to-date" name="to_date" value="{{ to_date }}" class="box-shadow">
</div>
<br>
<h3>Call Type</h3>
<canvas id="callTypeChart" width="300" height="100" class="bg-white box-shadow rounded"></canvas>
<br>
<table id="call_type_table" class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Sr No</th>
        <th>Salesperson</th>
        {% for call_type in call_types %}
        <th>{{ call_type }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table_data_types %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ row.0 }}</td>
        {% for value in row|slice:"1:" %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>

<h3>Call Purpose</h3>
<canvas id="callPurposeChart" width="300" height="100" class="bg-white box-shadow rounded"></canvas>
<br>
<table id="call_purpose_table" class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Sr No</th>
        <th>Salesperson</th>
        {% for call_purpose in call_purposes %}
        <th>{{ call_purpose }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table_data_purposes %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ row.0 }}</td>
        {% for value in row|slice:"1:" %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<hr>
<h3>Call Nature</h3>
<canvas id="callNatureChart" width="300" height="100" class="bg-white box-shadow rounded"></canvas>
<br>
<table id="call_nature_table" class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Sr No</th>
        <th>Salesperson</th>
        {% for call_nature in call_natures %}
        <th>{{ call_nature }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table_data_natures %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ row.0 }}</td>
        {% for value in row|slice:"1:" %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
    $('#call_type_table').DataTable(
        {
        scrollY: "600px",
<!--        scrollX: true,-->
        scrollCollapse: true,
        order: [1, 'desc' ],
        dom: 'lBfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'print'
        ]
    } );
} );
</script>

<script>
    $(document).ready(function() {
    $('#call_purpose_table').DataTable(
        {
        scrollY: "600px",
        scrollX: true,
        scrollCollapse: true,
        order: [1, 'desc' ],
        dom: 'lBfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'print'
        ]
    } );
} );
</script>

<script>
    $(document).ready(function() {
    $('#call_nature_table').DataTable(
        {
        scrollY: "600px",
<!--        scrollX: true,-->
        scrollCollapse: true,
        order: [1, 'desc' ],
        dom: 'lBfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'print'
        ]
    } );
} );
</script>

<script>

    const callTypeLabels = {{ call_type_labels|safe }};
    const callTypeCounts = {{ call_type_counts|safe }};
    const callTypeCtx = document.getElementById('callTypeChart').getContext('2d');
    new Chart(callTypeCtx, {
        type: 'bar',
        data: {
            labels: callTypeLabels,
            datasets: [{
                label: 'Call Type Count',
                data: callTypeCounts,
                ...commonChartStyles.bar_chart_1,
            }]
        },
         options: {
        responsive: true,
        plugins: {
            legend: {
                ...commonChartStyles.legendStyle
            },
            datalabels: {
                anchor: 'end',
                align: 'top',
                formatter: (value) => value,
                font: {
                    size: 10,

                },
                color: '#000',
                backgroundColor: 'rgba(235, 233, 234, 0.8)',
                borderRadius: 4,
                padding: 5,
                borderWidth: 1,
                borderColor: '#000',
            }
        },
        scales: {
            x: {
                beginAtZero: true,
                ticks: {
                    font: { size: 10, weight: 'bold' },
                    color: '#000',
                },
            },
            y: {
                beginAtZero: true,
                suggestedMax: Math.max(...callTypeCounts) * 1.2,

                ticks: {
                    font: { size: 10, weight: 'bold' },
                    color: '#000',
                },
            }
        }
    },
    plugins: [ChartDataLabels]
});

    const callPurposeLabels = {{ call_purpose_labels|safe }};
    const callPurposeCounts = {{ call_purpose_counts|safe }};
    const callPurposeCtx = document.getElementById('callPurposeChart').getContext('2d');
    new Chart(callPurposeCtx, {
        type: 'bar',
        data: {
            labels: callPurposeLabels,
            datasets: [{
                label: 'Call Purpose Count',
                data: callPurposeCounts,
                backgroundColor: 'rgba(255, 102, 255, 0.5)',
                borderColor: 'rgba(255, 102, 255, 1)',
                borderWidth: 1
            }]
        },
       options: {
        responsive: true,
        plugins: {
            legend: {
                ...commonChartStyles.legendStyle
            },
            datalabels: {
                anchor: 'end',
                align: 'top',
                formatter: (value) => value,
                font: {
                    size: 10,

                },
                color: '#000',
                backgroundColor: 'rgba(235, 233, 234, 0.8)',
                borderRadius: 4,
                padding: 5,
                borderWidth: 1,
                borderColor: '#000',
            }
        },
        scales: {
            x: {
                beginAtZero: true,
                ticks: {
                    font: { size: 10, weight: 'bold' },
                    color: '#000',
                },
            },
            y: {
                beginAtZero: true,
                suggestedMax: Math.max(...callPurposeCounts) * 1.2,
                ticks: {
                    font: { size: 10, weight: 'bold' },
                    color: '#000',
                },
            }
        }
    },
    plugins: [ChartDataLabels]
});



    const callNatureLabels = {{ call_nature_labels|safe }};
    const callNatureCounts = {{ call_nature_counts|safe }};
    const callNatureCtx = document.getElementById('callNatureChart').getContext('2d');
    new Chart(callNatureCtx, {
        type: 'bar',
        data: {
            labels: callNatureLabels,
            datasets: [{
                label: 'Call Nature Count',
                data: callNatureCounts,
                ...commonChartStyles.bar_chart_2,
            }]
        },
        options: {
        responsive: true,
        plugins: {
            legend: {
                ...commonChartStyles.legendStyle
            },
            datalabels: {
                anchor: 'end',
                align: 'top',
                formatter: (value) => value,
                font: {
                    size: 10,

                },
                color: '#000',
                backgroundColor: 'rgba(235, 233, 234, 0.8)',
                borderRadius: 4,
                padding: 5,
                borderWidth: 1,
                borderColor: '#000',
            }
        },
        scales: {
            x: {
                beginAtZero: true,
                ticks: {
                    font: { size: 10, weight: 'bold' },
                    color: '#000',
                },
            },
            y: {
                beginAtZero: true,
                suggestedMax: Math.max(...callNatureCounts) * 1.2,
                ticks: {
                    font: { size: 10, weight: 'bold' },
                    color: '#000',
                },
            }
        }
    },
    plugins: [ChartDataLabels]
});


document.getElementById('salesperson-filter').addEventListener('change', updateFilters);
document.getElementById('from-date').addEventListener('change', updateFilters);
document.getElementById('to-date').addEventListener('change', updateFilters);

function updateFilters() {
    const salesperson = document.getElementById('salesperson-filter').value;
    const fromDate = document.getElementById('from-date').value;
    const toDate = document.getElementById('to-date').value;
    const url = new URL(window.location.href);

    if (salesperson) {
        url.searchParams.set('salesperson', salesperson);
    } else {
        url.searchParams.delete('salesperson');
    }

    if (fromDate) {
        url.searchParams.set('from_date', fromDate);
    } else {
        url.searchParams.delete('from_date');
    }

    if (toDate) {
        url.searchParams.set('to_date', toDate);
    } else {
        url.searchParams.delete('to_date');
    }

    window.location.href = url.toString();
}
</script>

</body>

{% endblock %}
