{% block content %}
<hr>
<div class="container-fluid row">
    <!-- Uncomment if needed -->
    <!-- <div class="col-md-1"> -->
    <!--   <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg"> -->
    <!--     <i class="fas fa-arrow-left"></i> -->
    <!--   </a> -->
    <!-- </div> -->
    <div class="col-md-1.5">
        <a href="" id='add_btn' class="btn btn-success" onclick="return confirm('Are you sure to add this stock?');">
            <i class="fas fa-plus"></i> Add
        </a>
    </div>
</div>
<br>
<div class="container-fluid">
    <table id="shipper_invoice_master_list" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>

            <th></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search WH Job Number"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Shipper Invoice"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Voucher Number"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Pre Gatein Number"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Dispatch Number"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Stock Number"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Customer Name"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Customer Type"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search No of Pieces"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Weight"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search In Time"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Out Time"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search No of Days"></th>
            <th><input type="text" class="form-control filter-input" placeholder="Search Goods Status"></th>
        </tr>
        <tr>
            <th>Select Stock</th>
            <th>WH Job Number</th>
            <th>Shipper Invoice</th>
            <th>Voucher Number</th>
            <th>Pre Gatein Number</th>
            <th>Dispatch Number</th>
            <th>Stock Number</th>
            <th>Customer Name</th>
            <th>Customer Type</th>
            <th>No of Pieces</th>
            <th>Weight</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>No of Days</th>
            <th>Goods Status</th>
<!--            <th>Add Invoice</th>-->
        </tr>
        </thead>
        <tbody>
        {% for shipperinvoiceinfo in invoice_list_master %}
        <tr>
            <td></td>
            <td>{{ shipperinvoiceinfo.wh_job_no }}</td>
            <td>{{ shipperinvoiceinfo.wh_goods_invoice }}</td>
            <td>{{ shipperinvoiceinfo.wh_voucher_num }}</td>
            <td>{{ shipperinvoiceinfo.wh_gate_injob_no_id.gatein_pre_id }}</td>
            <td>{{ shipperinvoiceinfo.wh_dispatch_id.dispatch_num }}</td>
            <td>{{ shipperinvoiceinfo.wh_qr_rand_num }}</td>
            <td>{{ shipperinvoiceinfo.wh_customer_name }}</td>
            <td>{{ shipperinvoiceinfo.wh_customer_type }}</td>
            <td>{{ shipperinvoiceinfo.wh_goods_pieces }}</td>
            <td>{{ shipperinvoiceinfo.wh_goods_weight }}</td>
            <td>{{ shipperinvoiceinfo.wh_checkin_time }}</td>
            <td>{{ shipperinvoiceinfo.wh_checkout_time }}</td>
            <td>{{ shipperinvoiceinfo.wh_storage_time }}</td>
            <td>{{ shipperinvoiceinfo.wh_check_in_out }}</td>
<!--            <td>-->
<!--                <a class="btn btn-success" href="{% url 'shipper_invoice_goods_add' %}" onclick="return confirm('Are you sure to add this stock?');">-->
<!--                    <i class="fas fa-plus"></i>-->
<!--                </a>-->
<!--            </td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function () {
    var table = new DataTable('#shipper_invoice_master_list', {
        columnDefs: [
            {
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }
        ],
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        order: [[1, 'asc']],
        dom: 'lBfrtip',
        scrollX: true,
    });
    // Apply search to each column
        $('.filter-input').on('keyup change', function () {
            var columnIndex = $(this).parent().index(); // Get correct column index
            table.column(columnIndex).search(this.value).draw();
        });

        // Prevent sorting when clicking inside the filter input
        $('#requirements_list thead input').on('click', function(e) {
            e.stopPropagation();
        });

    // Handle form submission event
    $('#add_btn').on('click', function (e) {
        e.preventDefault();
        var rows_selected = table.column(0).selected();
        let selectedValues = table.rows({ selected: true }).data();
        var len1 = selectedValues.length;

        if (len1 === 0) {
            alert("Please select at least one item to add.");
            return;
        }

        var elements = [];
        for (var i = 0; i < len1; i++) {
            elements.push(selectedValues[i][6]);
        }
        var elements_list = elements;

        $(this).addClass('disabled').html('<i class="fas fa-spinner fa-spin"></i> Adding...');

        $.ajax({
            url: '{% url "shipper_invoice_goods_add" %}',
            type: 'POST',
            data: {
                'myList[]': elements_list,
            },
            success: function (response) {
                location.reload();
            },
            error: function () {
                alert("Error adding items. Please try again.");
                location.reload();
            }
        });
    });
});
</script>
{% endblock content %}
