{% extends "asset_mgt_app/base.html" %}
{% block title %}Stock Report{% endblock %}
{% block content %}
{% load currency_format %}
{% load static %}
{% load widget_tweaks %}


<div class="container-fluid" style="padding:15px;" >
  <div class="container-fluid d-flex align-items-center justify-content-between py-3">
    <div>
        <a href="{% url 'warehouse_reports' %}" class="btn btn-primary">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>
    <div class="flex-grow-1 d-flex justify-content-center">
        <div class="rounded text-center bg-info shadow-box px-4 py-2">
            <h3>Goods Movement Report</h3>
        </div>
    </div>
    <div style="width: 80px;"></div>
</div>
  <br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="message text-center">
        {% for message in messages %}
        <a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <br>

  <form method="POST" action="{% url 'stock_value_report' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-3">
        {% render_field form.ds_customer id="ds_customer" class="form-control" value=customer_name %}
      </div>
      <div class="col-1">
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </div>
  </form>
  <br>
  <div class="row d-flex flex-wrap justify-content-start">
    <div class="btn-group shadow-lg m-2">
      <button type="button" class="btn btn-danger border border-dark">MAA_Today</button>
      <button type="button" class="btn btn-success border border-dark"> Check-In: <i class="fas fa-rupee-sign"></i> <b>{{maa_in_stock_value_cud|format_currency}}</b></button>
      <!--      <button type="button" class="btn btn-success border border-dark"> Check-Out: <i class="fas fa-rupee-sign"></i> <b>{{maa_out_stock_value_cud|format_currency}}</b></button>-->
      <!--      <button type="button" class="btn btn-success border border-dark"> Total: <i class="fas fa-rupee-sign"></i> <b>{{maa_total_cud|format_currency}}</b></button>-->
    </div>







<!--    <div class="btn-group shadow-lg m-2">-->
<!--      <button type="button" class="btn btn-danger border border-dark">HYD_Today</button>-->
<!--      <button type="button" class="btn btn-success border border-dark"> Check-In: <i class="fas fa-rupee-sign"></i> <b>{{hyd_in_stock_value_cud|format_currency}}</b></button>-->
<!--      &lt;!&ndash;      <button type="button" class="btn btn-success border border-dark"> Check-Out: <i class="fas fa-rupee-sign"></i> <b>{{hyd_out_stock_value_cud|format_currency}}</b></button>&ndash;&gt;-->
<!--      &lt;!&ndash;      <button type="button" class="btn btn-success border border-dark"> Total: <i class="fas fa-rupee-sign"></i> <b>{{hyd_total_cud|format_currency}}</b></button>&ndash;&gt;-->
<!--    </div>-->
<div class="btn-group shadow-lg m-2">
      <button type="button" class="btn btn-danger border border-dark">BLR_Today</button>
      <button type="button" class="btn btn-success border border-dark"> Check-In: <i class="fas fa-rupee-sign"></i> <b>{{blr_in_stock_value_cud|format_currency}}</b></button>
      <!--      <button type="button" class="btn btn-success border border-dark"> Check-Out: <i class="fas fa-rupee-sign"></i> <b>{{blr_out_stock_value_cud|format_currency}}</b></button>-->
      <!--      <button type="button" class="btn btn-success border border-dark"> Total: <i class="fas fa-rupee-sign"></i> <b>{{blr_total_cud|format_currency}}</b></button>-->
    </div>
<!--    <div class="btn-group shadow-lg m-2">-->
<!--      <button type="button" class="btn btn-danger border border-dark">PNY_Today</button>-->
<!--      <button type="button" class="btn btn-success border border-dark"> Check-In: <i class="fas fa-rupee-sign"></i> <b>{{pny_in_stock_value_cud|format_currency}}</b></button>-->
<!--      &lt;!&ndash;      <button type="button" class="btn btn-success border border-dark"> Check-Out: <i class="fas fa-rupee-sign"></i> <b>{{pny_out_stock_value_cud|format_currency}}</b></button>&ndash;&gt;-->
<!--      &lt;!&ndash;      <button type="button" class="btn btn-success border border-dark"> Total: <i class="fas fa-rupee-sign"></i> <b>{{pny_total_cud|format_currency}}</b></button>&ndash;&gt;-->
<!--    </div>-->
  </div>
  <br>
  <br>
  <div class="row ml-2">
    <form method="get" action="{% url 'export_stockreport' %}">
      <label><b>From:</b></label>
      <input type="date" name="from_date" value="{{ request.GET.from_date }}"
             style="box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); width: 200px; padding: 5px; font-size: 12px; margin-right: 20px;">

      <label><b>To:</b></label>
      <input type="date" name="to_date" value="{{ request.GET.to_date }}"
             style="box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); width: 200px; padding: 5px; font-size: 12px;">

<!--      <button type="submit" class="btn btn-warning btn-lg ml-2">-->
<!--        <i class="fas fa-file-csv"></i> Stock Report-->
<!--      </button>-->
    </form>

    <div class="col-1.5 ml-3">
      <!-- Trigger Button to Open Modal -->
      <button type="button" onclick="email_message_fn()" class="btn btn-warning btn-block btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">
        <i class="fas fa-envelope-square"></i> Goods Movement Report  <!-- Add the badge here -->
      </button>
      <!-- Modal Structure -->
      <div class="modal fade bd-example-modal-lg" id="sendEmailModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header bg-info">
              <h5 class="modal-title text-center" id="sendEmailModalLabel">Send Email</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-dark">
              {% include "asset_mgt_app/stock_value_send_email.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid shadow-box-table p-3">
    <table  id="stock_value_report" class="table "  >
      <thead class="thead-dark">
      <tr>
        <th>Job Number</th>
        <th>Stock Number</th>
        <th>Customer</th>
        <th>Date Of Arrival</th>
        <th>Unloading Start Time</th>
        <th>Unloading End Time</th>
        <th>Transporter</th>
        <th>Truck Number</th>
        <th>Consignor</th>
        <th>Consignee</th>
        <th>Docs Received</th>
        <th>HAWB</th>
        <th>Destination</th>
        <th>Invoice Number</th>
        <th>Case Number</th>
        <th>Invoice Qty</th>
        <th>Invoice Weight (kg)</th>
        <th>Checkin Weight (kg)</th>
        <th>UOM</th>
        <th>Length</th>
        <th>Width</th>
        <th>Height</th>
        <th>Dims Qty</th>
        <th>Package Type</th>
        <th>Volume Weight</th>
        <th>CBM</th>
        <th>Invoice Value</th>
        <th>Invoice Currency</th>
        <th>Invoice (INR)</th>
        <th>E-Way Bill#</th>
        <th>E-Way Bill Validity</th>
        <th>Fumigation Status</th>
        <th>Check In-Out?</th>
        <th>Branch</th>
        <th>Unit</th>
        <th>Bay</th>
        <th>Storage Days</th>
        <th>Truck_Number(Out)</th>
        <th>Truck_Type(Out)</th>
        <th>Truck_Depature_Time(Out)</th>
        <th>Labels_Pasted_By</th>
        <th>MAWB</th>
        <th>Dispatch_Number</th>
        <th>Dispatch_quantity</th>
        <th>Stock On hand</th>

      </tr>
      </thead>
      <tbody>
      {% for stock_value in page_obj %}
      <tr>
        <td> {{stock_value.wh_job_no}}</td>
        <td> {{stock_value.wh_qr_rand_num}}</td>
        <td> {{stock_value.wh_customer_name}}</td>
        <td> {{stock_value.wh_gate_injob_no_id.gatein_arrival_date}}</td>
        <td> {{stock_value.wh_lb_job_no_id.lb_stock_unloading_start_time}}</td>
        <td> {{stock_value.wh_lb_job_no_id.lb_stock_unloading_end_time}}</td>
        <td> {{stock_value.wh_gate_injob_no_id.gatein_transporter}}</td>
        <td> {{stock_value.wh_gate_injob_no_id.gatein_truck_number}}</td>
        <td> {{stock_value.wh_consigner}}</td>
        <td> {{stock_value.wh_consignee}}</td>
        <td> {{stock_value.wh_lb_job_no_id.lb_packing_list}}</td>
        <td> {{stock_value.wh_gate_injob_no_id.gatein_hawb}}</td>
        <td> {{stock_value.wh_gate_injob_no_id.gatein_destination}}</td>
        <td> {{stock_value.wh_gate_injob_no_id.gatein_invoice}}</td>
        <td> {{stock_value.wh_po_num}}</td>
        <td> {{stock_value.wh_total_qty}}</td>
        <td> {{stock_value.wh_invoice_weight_unit}}</td>
        <td> {{stock_value.wh_gross_weight}}</td>
        <td> {{stock_value.wh_uom}}</td>
        <td> {{stock_value.wh_goods_length}}</td>
        <td> {{stock_value.wh_goods_width}}</td>
        <td> {{stock_value.wh_goods_height}}</td>
        <td> {{stock_value.wh_goods_pieces}}</td>
        <td> {{stock_value.wh_goods_package_type}}</td>
        <td> {{stock_value.wh_chargeable_weight}}</td>
        <td> {{stock_value.wh_cbm}}</td>
        <td> {{stock_value.wh_invoice_value}}</td>
        <td> {{stock_value.wh_lb_job_no_id.lb_stock_invoice_currency}}</td>
        <td> {{stock_value.wh_invoice_amount_inr}}</td>
        <td> {{stock_value.wh_lb_job_no_id.lb_eway_bill}}</td>
        <td> {{stock_value.wh_lb_job_no_id.lb_validity_date}}</td>
        <td> {{stock_value.wh_fumigation_process}}</td>
        <td> {{stock_value.wh_check_in_out}}</td>
        <td> {{stock_value.wh_branch}}</td>
        <td> {{stock_value.wh_unit}}</td>
        <td> {{stock_value.wh_bay}}</td>
        <td> {{stock_value.wh_storage_time }}</td>
        <td> {{stock_value.wh_dispatch_id.dispatch_truck_number}}</td>
        <td> {{stock_value.wh_dispatch_id.dispatch_truck_type}}</td>
        <td> {{stock_value.wh_dispatch_id.dispatch_depature_date}}</td>
        <td> {{stock_value.wh_dispatch_id.dispatch_sticker_pasted_bvm}}</td>
        <td> {{stock_value.wh_dispatch_id.dispatch_mawb}}</td>
        <td> {{stock_value.wh_dispatch_id.dispatch_num}}</td>
        <td> {{stock_value.wh_dispatch_id.dispatch_total_goods}}</td>
        <td> {{stock_value.wh_dispatch_id.dispatch_total_goods}}</td>


      </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-warning" href="?page=1">First</a>
            <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-warning" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
  $('#stock_value_report').DataTable( {
      order: [3, 'desc' ],
<!--        scrollY: 800,-->
      scrollX: true,
      dom: 'lBfrtip',
      buttons: [
          'copy', 'csv', 'excel','print'
      ]
  });
} );
</script>


{% endblock content %}
