{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="col-md-1">
	<a href="{% url 'gatein_list' %}" class="btn btn-primary btn-block btn-lg">
		<i class="fas fa-arrow-left"></i>
	</a>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8 btn-group mx-auto text-center">
		{% if gatein_list %}
		{% for gateininfo in gatein_list %}
		<a class="btn btn-success border border-dark"  href="{% url 'gatein_update' gateininfo.id %}">Gate-In</a>
		{% endfor %}
		{% else %}
		<a class="btn btn-success border border-dark"  href="{% url 'gatein_insert' %}">Gate-In</a>
		{% endif %}

		{% if loadingbay_list %}
		{% for loadingbayinfo in loadingbay_list %}
		<a class="btn btn-success border border-dark disable_a_href" id="loadingbay_btn" href="{% url 'loadingbay_update' loadingbayinfo.id %}">Goods Receipt</a>
		{% endfor %}
		{% else %}
		<a class="btn btn-success border border-dark disable_a_href" id="loadingbay_btn1" href="{% url 'loadingbay_insert' %}">Goods Receipt</a>
		{% endif %}
		{% if damagereport_list %}
		{% for damagecheckinfo in damagereport_list %}
		<a class="btn btn-success border border-dark disable_a_href" id="damagecheck_before_btn" href="{% url 'damagereport_update' damagecheckinfo.id %}">Damage Check/Before</a>
		{% endfor %}
		{% else %}
		<a class="btn btn-success border border-dark disable_a_href" id="damagecheck_before_btn1" href="{% url 'damagereport_insert' %}">Damage Check/Before</a>
		{% endif %}
		<a class="btn btn-success border border-dark disable_a_href" id="damagecheck_after_btn" href="{% url 'goods_insert' %}">Damage Check/After</a>
		<a class="btn btn-success border border-dark disable_a_href" id="warehousein_btn" href="{% url 'warehousein_insert' %}">Warehouse In</a>
		<a class="btn btn-success border focus border-dark" id="storage_btn" href="{% url 'storage_list' %}">Storage</a>
<!--		<a class="btn btn-success border border-dark" id="dispatch_btn" href="{% url 'dispatch_insert' %}">Dispatch</a>-->
<!--		<a class="btn btn-success border border-dark disable_a_href" id="billing_btn">Billing</a>-->
<!--		<a class="btn btn-success border border-dark disable_a_href" id="expense_btn">Expenses</a>-->
<!--		<a class="btn btn-success border border-dark disable_a_href" id="reports_btn">Reports</a>-->
	</div>
	<div class="col-2"></div>
</div>

<hr>
<form method="POST" action="" id="storage_add" >
	{% csrf_token %}
	<!--{{form.as_p}}-->
	<div class="row">
<!--		<div class="col-1"></div>-->
		<div class="col-12">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-8">
								<h3>Storage Report</h3>
							</div>
							<div class="col-3"></div>
						</div>
					</div>
					<!--					<p>Invoice Number is  {{ request.session.invoice_num_stock }}</p>-->
					<div class="card-body bg-light" >
						{% include "asset_mgt_app/storage_list_WOH.html" %}
					</div>
				</div>
			</div>
		</div>
<!--		<div class="col-1"></div>-->
	</div>
</form>
<script>
$(document).ready(function() {
	var gatein_status_id = '{{gatein_status}}';
	var loadingbay_status_id='{{loadingbay_status}}';
	var damage_before_status_id='{{damage_before_status}}';
	var damage_after_status_id='{{damage_after_status}}';
	var warehousein_status_id='{{warehousein_status}}';
	if (gatein_status_id =="Completed"){
		$('#loadingbay_btn').removeClass('disable_a_href');
		$('#loadingbay_btn1').removeClass('disable_a_href');
		}

	if (loadingbay_status_id =="Completed"){
		$('#damagecheck_before_btn').removeClass('disable_a_href');
		$('#damagecheck_before_btn1').removeClass('disable_a_href');
		}

	if (damage_before_status_id =="Completed"){
		$('#damagecheck_after_btn').removeClass('disable_a_href');

		}
	if (damage_after_status_id =="Completed"){
		$('#warehousein_btn').removeClass('disable_a_href');
		}
	if (warehousein_status_id =="Completed"){
		$('#storage_btn').removeClass('disable_a_href');
		}
  });
</script>
{% endblock content %}