{% extends "asset_mgt_app/base.html" %}


{% block content %}
<div class="container-fluid row">
    <div class="col-md-1">
      <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
    <div class="col-md-1">
      <a href="{% url 'stud_insert' %}" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-plus"></i>
      </a>
    </div>
</div>
<hr>
<div class="container-fluid">
<table  id="stud_list" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
<!--            <th>Product Category</th>-->
            <th>Name</th>
            <th>Age</th>
            <th>English</th>
            <th>Tamil</th>
            <th>Math</th>
            <th>Social</th>
            <th>Science</th>
            <th>Edit</th>
            <th>Delete</th>
    </thead>
    <tbody>
        {% for studinfo in stud_list %}
            <tr>
                <td> {{studinfo.stud_name}}</td>
                <td> {{studinfo.stud_age}}</td>
                <td> {{studinfo.stud_eng}}</td>
                <td> {{studinfo.stud_tamil}}</td>
                <td> {{studinfo.stud_math}}</td>
                <td> {{studinfo.stud_social}}</td>
                <td> {{studinfo.stud_science}}</td>
                <td>

                    <a href="{% url 'stud_update' studinfo.id %}" >
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <form action="{% url 'stud_delete' studinfo.id %}" method="post" onclick="return confirm('Are you sure?');">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function() {
    $('#stud_list').DataTable();
} );
</script>

{% endblock content %}
