{% extends "asset_mgt_app/base.html" %}


{% block content %}
<div class="container-fluid" style="padding:15px;">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2 rounded text-center bg-info">
            <h3>Time Sheet List</h3>
        </div>
        <div class="col-5"></div>
    </div>
</div>
<div class="container-fluid row">
    <div class="col-md-1">
        <a href="{% url 'home_page' %}" class="btn btn-primary btn-block btn-lg">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'timesheet_insert' %}" class="btn btn-success btn-block btn-lg">
            <i class="fas fa-plus"></i> Add
        </a>
    </div>
</div>
<hr>
<div class="container-fluid">
    <table  id="task_list" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Application</th>
            <th>Main Task</th>
            <th>Sub Task</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Hours</th>
            <th>Developer</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for timesheet in timesheet_list %}
        <tr>
            <td> {{timesheet.ts_application}}</td>
            <td> {{timesheet.ts_main_task}}</td>
            <td> {{timesheet.ts_sub_task}}</td>
            <td> {{timesheet.ts_start_date}}</td>
            <td> {{timesheet.ts_end_date}}</td>
            <td> {{timesheet.ts_hours}}</td>
            <td> {{timesheet.ts_developer}}</td>
            <td>

                <a href="{% url 'timesheet_update' timesheet.id %}" class="btn btn-primary">
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="{% url 'timesheet_delete' timesheet.id %}" method="post" onclick="return confirm('Are you sure?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
    $('#timeshet_list').DataTable();
} );
</script>

{% endblock content %}
