{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<form method="POST" action="">
	{% csrf_token %}
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Trip Detail</h3></div>
					<div class="card-body bg-light" >
						<div class="row">
							<div class="col-4">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Enquiry Number</span>
									</div>
									{% render_field form.tr_enquirynumber id="tr_enquirynumber" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Consignment Number</span>
									</div>
									{% render_field form.tr_consignmentnumber id="tr_consignmentnumber" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Trip Number</span>
									</div>
									{% render_field form.tr_tripnumber id="tr_tripnumber" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Source</span>
									</div>
									{% render_field form.tr_vehiclesource id="tr_vehiclesource" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Type</span>
									</div>
									{% render_field form.tr_vehicletype id="tr_vehicletype" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Number</span>
									</div>
									{% render_field form.tr_vehiclenumber id="tr_vehiclenumber" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-4">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Driver Name</span>
									</div>
									{% render_field form.tr_drivername id="tr_drivername" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Driver Number</span>
									</div>
									{% render_field form.tr_drivernumber id="tr_drivernumber" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">From Location</span>
									</div>
									{% render_field form.tr_fromlocation class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Starting KM</span>
									</div>
									{% render_field form.tr_startingkm class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Staring Date</span>
									</div>
									{% render_field form.tr_startingdate type="Date" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Seal Number</span>
									</div>
									{% render_field form.tr_sealnumber class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Container Number</span>
									</div>
									{% render_field form.tr_containernumber class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-4">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">To Location</span>
									</div>
									{% render_field form.tr_tolocation class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Ending KM</span>
									</div>
									{% render_field form.tr_endingkm class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Ending Date</span>
									</div>
									{% render_field form.tr_endingdate type="Date" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Status</span>
									</div>
									{% render_field form.tr_status class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								{% render_field form.tr_updated_by id="tr_updated_by" hidden="true" class="form-control" %}
							</div>
							<!--<input class="btn btn-success" type="submit" name="Create User">-->
						</div>
						<button type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'enquirynote_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
	{% include "asset_mgt_app/tripdetail_list_woh.html" %}
</form>
<script>
$(document).ready(function() {
	document.getElementById("tr_updated_by").value ='{{user_id}}';
	document.getElementById("tr_enquirynumber").value ='{{enquiry_num}}';
	document.getElementById("tr_consignmentnumber").value ='{{consignment_num}}';
	tripnum();
  });
</script>

<script>
function tripnum() {
  var ran=Math.floor((Math.random() * 1000000) + 1)
  var jn=document.getElementById("tr_tripnumber").value
  if (jn=="")
	{
		document.getElementById("tr_tripnumber").value="TN_"+ ran;
	}
	else
	{
  		document.getElementById("tr_tripnumber").value=jn;
  	}
}
</script>
{% endblock content %}