{% extends "asset_mgt_app/base.html" %}
{% block content %}
<div class="container-fluid" style="padding:15px;">
    <div class="col-md-1">
      <a href="{% url 'vehicle_allotment_insert' %}" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-plus"></i> Add
      </a>
    </div>
</div>
<hr>
<div class="container-fluid">
<table  id="tripdetail_list" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Created On</th>
            <th>Enquiry Number</th>
            <th>Consignment Number</th>
            <th>Vehicle Number</th>
            <th>Driver Name</th>
            <th>Driver Number</th>
            <th>Updated By</th>
            <th>Updated On</th>
            <th>Edit</th>
            <th>Delete</th>
    </thead>
    <tbody>
        {% for vehicle_allot_info in vehicle_allotment_list %}
            <tr>
                <td> {{vehicle_allot_info.va_created_at}}</td>
                <td> {{vehicle_allot_info.va_enquirynumber}}</td>
                <td> {{vehicle_allot_info.va_consignmentnumber}}</td>
                <td> {{vehicle_allot_info.va_vehiclenumber}}</td>
                <td> {{vehicle_allot_info.va_drivername}}</td>
                <td> {{vehicle_allot_info.va_drivernumber}}</td>
                <td> {{vehicle_allot_info.va_updated_by}}</td>
                <td> {{vehicle_allot_info.va_updated_at}}</td>
                <td>

                    <a class="btn btn-primary" href="{% url 'vehicle_allotment_update' vehicle_allot_info.id %}" >
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <form action="{% url 'vehicle_allotment_delete' vehicle_allot_info.id %}" method="post" onclick="return confirm('Are you sure?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function() {
    $('#tripdetail_list').DataTable();
} );
</script>

{% endblock content %}
