{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div id="top-alert" class="alert alert-warning w-50 " role="alert" style="display: none;"></div>

<form method="POST" action="" id="vehicle_allotment" data-vehicle_source-url="{% url 'load_vehicle_source' %}">
	{% csrf_token %}
	<div class="row">
		<div class="col">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3">
					<div class="card-header text-center ">
						<div class="d-flex align-items-center"><h3>Add Vehicle Allotment</h3>
							<a href="{% url 'vehicle_allotment_insert' %}" class="btn btn-primary ml-3">
								<i class="fas fa-plus"></i> Add
							</a>
							<a href="{% url 'tripdetail_insert' %}?vehicle_allotment_id={{ va.id }}"
							   class="btn btn-warning ml-2 {% if va.va_status.status_title != "Completed" %}disable_a_href{% endif %}">
							<i class="fas fa-truck-loading"></i> Empty Trip
							</a>
						</div>
					</div>
					<div class="card-body bg-light" >
						<div class="row" id="vehicle_allotment_id">
							<div class="col-3">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Enquiry Number</span>
									</div>
									{% render_field vehicle_allotment_form.va_enquirynumber id="va_enquirynumber" class="form-control disable_a_href" %}
								</div>
								<div class="row">
									<div class="col-10">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Vehicle Type Requested</span>
											</div>
											{% render_field vehicle_allotment_form.va_vehicletype id="va_vehicletype" onfocus="vehicle_requested()" class="form-control" %}
											<div class="input-group-append">
												<span class="input-group-text">Qty: <span id="vehicle_quantity_display">0</span></span>
											</div>
										</div>
									</div>
									<div class="col-2">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend">
												<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Verify"></i>
												<!--										<span class="input-group-text">Vehicle Type Requested</span>-->
											</div>
											{% render_field vehicle_allotment_form.va_vehicletype_selection_requested id="va_vehicletype_selection_requested" class="form-control" %}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-10">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Vehicle Type Placed</span>
											</div>
											{% render_field vehicle_allotment_form.va_vehicletype_placed id="va_vehicletype_placed" onchange="loadVendorSaleRate()" class="form-control" %}
										</div>
									</div>
									<div class="col-2">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend">
												<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Verify"></i>
												<!--										<span class="input-group-text">Vehicle Type Requested</span>-->
											</div>
											{% render_field vehicle_allotment_form.va_vehicletype_selection_placed id="va_vehicletype_selection_placed" class="form-control " %}
										</div>
									</div>
								</div>
							</div>
							<div class="col-3">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Source</span>
									</div>
									{% render_field vehicle_allotment_form.va_vehiclesource id="va_vehiclesource" onchange="market_vehicle_enable_disable()" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Number</span>
									</div>
									{% render_field vehicle_allotment_form.va_vehiclenumber id="va_vehiclenumber" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vehicle Number (Market)</span>
									</div>
									{% render_field vehicle_allotment_form.va_vehiclenumber_mkt id="va_vehiclenumber_mkt" class="form-control market-input" maxlength="10" pattern="[A-Z0-9]{10}" title="Enter exactly 10 uppercase letters or digits" %}
								</div>
							</div>
							<div class="col-3">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Vendor Name</span>
									</div>
									{% render_field vehicle_allotment_form.va_vendor class="form-control" id="va_vendor" onchange="loadVendorBuyRate()"  data-selected=vehicle_allotment_form.va_vendor.value %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Driver Name</span>
									</div>
									{% render_field vehicle_allotment_form.va_drivername id="va_drivername" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Driver Number</span>
									</div>
									{% render_field vehicle_allotment_form.va_drivernumber id="va_drivernumber" pattern="\d{10}" maxlength="10" minlength="10" class+="form-control" title="Driver Number must be exactly 10 digits" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Driver License</span>
									</div>
									{% render_field vehicle_allotment_form.va_driver_lic id="va_driver_lic" class="form-control " %}
								</div>
							</div>
							<div class="col-3">

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">License Expiry</span>
									</div>
									{% render_field vehicle_allotment_form.va_driver_lic_expiry id="va_driver_lic_expiry" type="Date" class="form-control " %}
								</div>
								<div class="input-group input-group-sm mb-3 ">
									<div class="input-group-prepend">
										<span class="input-group-text">Buy</span>
									</div>
									{% render_field vehicle_allotment_form.va_buy id="va_buy"  class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3 ">
									<div class="input-group-prepend">
										<span class="input-group-text">Sell</span>
									</div>
									{% render_field vehicle_allotment_form.va_sale id="va_sale" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3 ">
									<div class="input-group-prepend">
										<span class="input-group-text">Profit %</span>
									</div>
									{% render_field vehicle_allotment_form.va_profit_percentage id="va_profit_percentage" class="form-control disable_a_href" readonly="readonly" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Status</span>
									</div>
									{% render_field vehicle_allotment_form.va_status id="va_status" class="form-control" %}
								</div>


								{% render_field vehicle_allotment_form.va_updated_by id="va_updated_by" hidden="True" class="form-control" %}
							</div>
							<div class="input-group input-group-sm mb-3 container-fluid">
								<div class="input-group-prepend">
									<span class="input-group-text">Remarks</span>
								</div>
								{% render_field vehicle_allotment_form.va_remarks class="form-control" %}
							</div>
						</div>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						<button type="submit" class="btn btn-success" id="vehicle_allotment_submit_id"><i class="fas fa-check"></i> Submit</button>
						<a href="{% url 'enquirynote_list' %}" class="btn btn-danger float-right">
							<i class="fas fa-times"></i> Cancel
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% include "asset_mgt_app/vehicle_allotment_list_woh.html" %}
<script>
	$(document).ready(function() {
		document.getElementById("va_updated_by").value ='{{user_id}}';
		document.getElementById("va_enquirynumber").value ='{{enquiry_num_id}}';
		var vehicle_type=document.getElementById("va_vehicletype").value;
		if (vehicle_type=="")
		{
			document.getElementById("va_vehicletype").value ='{{vehicle_type_requested}}';
		}
		else
		{
			document.getElementById("va_vehicletype").value =vehicle_type;
		}
		market_vehicle_enable_disable();
		loadVendorOptions();
	});
</script>
<script>
	$(document).ready(function() {
		var enquiry_number = "{{ enquiry_num_id }}"; // Make sure this is available in the template

		$.ajax
		({
			url: '{% url 'vehicle_type_counts' %}',  // Ensure this URL matches your Django URL
			data:
					{
						'enquiry_number': enquiry_number,
					},

			success: function(response) {
				var countsFromAjax = response.vehicle_counts;
				var table = $("#tripdetail_list tbody tr");

				table.each(function() {
					var vehicleTypeCell = $(this).find("td:nth-child(3)"); // 3rd column (Vehicle Type Requested)
					var vehicleType = vehicleTypeCell.text().trim();

					var allottedTypeCell = $(this).find("td:nth-child(4)"); // 4th column (Vehicle Type Allotted)
					var allottedType = allottedTypeCell.text().trim();

					var requestedCount = countsFromAjax[vehicleType] || 0;
					var allottedCount = countsFromAjax[allottedType] || 0;

					if (requestedCount === allottedCount) {
						vehicleTypeCell.css("background-color", "green").css("color", "white");
					} else if (requestedCount < allottedCount) {
						vehicleTypeCell.css("background-color", "red").css("color", "white");
					} else {
						vehicleTypeCell.css("background-color", "orange").css("color", "black");
					}
				});
			},
			error: function(xhr, status, error) {
				console.error("Error fetching vehicle counts:", error);
			}
		});
	});
</script>

<script>
	$("#va_vehiclesource").change(function () {
		<!--      var url = $("#vehicle_allotment").attr("data-load_vehicle_source-url");-->
		var vehicletype_placed = document.getElementById("va_vehicletype_placed").value;
		var vehicletype_source = $(this).val();
		$.ajax({
			url: '{% url 'load_vehicle_number' %}',
			data: {
				'vehicletype_placed': vehicletype_placed,
				'vehicletype_source': vehicletype_source,
			},
			success: function (data) {
				var vehicle_number=JSON.parse(data)["vehicle_number_list"]
				var vehicle_number_id=JSON.parse(data)["vehicle_number_list_id"]
				if (vehicle_number_id!="")
				{
					$('#va_vehiclenumber').removeClass('disable_a_href');
					$('#va_vendor_name').addClass('disable_a_href');
				}
				else
				{
					$('#va_vehiclenumber').addClass('disable_a_href');
					$('#va_vendor_name').removeClass('disable_a_href');
				}
				var len1 = (vehicle_number).length;
				$("#va_vehiclenumber").empty();
				$('#va_vehiclenumber').empty().append("<option value=''>--Select--</option>");
				for( var k = 0; k<len1; k++){
					$("#va_vehiclenumber").append("<option value='"+vehicle_number_id[k]+"'>"+vehicle_number[k]+"</option>");
				}
			}
		});
	});
</script>
<script>
	$("#va_vehiclenumber").change(function () {
		<!--      var url = $("#vehicle_allotment").attr("data-load_driver_details-url");-->
		var vehicletype_placed = document.getElementById("va_vehicletype_placed").value;
		var vehicletype_source = document.getElementById("va_vehiclesource").value;
		var vehicle_number = $(this).val();
		$.ajax({
			url: '{% url 'load_driver_details' %}',
			data: {
				'vehicletype_placed': vehicletype_placed,
				'vehicletype_source': vehicletype_source,
				'vehicle_number': vehicle_number,
			},
			success: function (data) {
				var driver_name=JSON.parse(data)["driver_name"]
				var driver_number=JSON.parse(data)["driver_number"]
				var driver_license=JSON.parse(data)["driver_license"]
				var driver_license_exp_date=JSON.parse(data)["driver_license_exp_date"]
				$("#va_drivername").val(driver_name);
				$("#va_drivernumber").val(driver_number);
				$("#va_driver_lic").val(driver_license);
				$("#va_driver_lic_expiry").val(driver_license_exp_date);
			}
		});
	});
</script>
<script>
	function vehicle_requested() {
		var enquiry_number = '{{ enquiry_num_id }}';

		$.ajax({
			url: '{% url "vehicle_requested" %}',
			type: 'GET',
			data: {
				'enquiry_number': enquiry_number,
			},
			success: function (data) {
				var vehicles = data.vehicles;

				var $dropdown = $("#va_vehicletype");
				$dropdown.empty().append("<option value=''>--Select--</option>");

				vehicles.forEach(function (v) {
					$dropdown.append("<option value='" + v.id + "'>" + v.name + "</option>");
				});

				$dropdown.off("change").on("change", function () {
					var vehicleTypeId = $(this).val();
					if (vehicleTypeId) {
						fetchVehicleQuantity(vehicleTypeId);
					} else {
						$("#vehicle_quantity_display").text("0");
					}
				});
			},
			error: function (xhr, status, error) {
				console.error("AJAX Error:", status, error);
			}
		});
	}
</script>
<script>
	function fetchVehicleQuantity(vehicleTypeId) {
		const enquiryId = "{{ enquiry_num_id }}";

		fetch(`/SMS/get_remaining_quantity/${enquiryId}/${vehicleTypeId}/`)
				.then(response => response.json())
				.then(data => {
					document.getElementById("vehicle_quantity_display").innerText = data.remaining || 0;
				})
				.catch(error => {
					console.error("Error fetching remaining quantity:", error);
				});
	}

</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		if (window.location.href.includes("vehicle_allotment_insert")) {
			// Enable fields
			$('#vehicle_allotment_id,#vehicle_allotment_submit_id')
					.removeClass('disable_a_href')
					.prop('disabled', false);
		}
		else if (window.location.href.includes("vehicle_allotment_update")) {
			// Enable fields
			$('#vehicle_allotment_id,#vehicle_allotment_submit_id')
					.removeClass('disable_a_href')
					.prop('disabled', false);
		}
		else {
			// Disable fields if on any other page
			$('#vehicle_allotment_id,#vehicle_allotment_submit_id')
					.addClass('disable_a_href')
					.prop('disabled', true);
		}
	});
</script>
<script>
	function market_vehicle_enable_disable()
	{
		var vehicle_source = document.getElementById("va_vehiclesource").value;
		if (vehicle_source == 3)
		{
			$('#va_vehiclenumber_mkt').removeClass('disable_a_href');
			$('#va_vendor').removeClass('disable_a_href');
			$('#va_buy').removeClass('disable_a_href');
			$('#va_sale').removeClass('disable_a_href');
			na_vehicle_type.setAttribute("required", "required");  // Make it mandatory
		}
		else
		{
			$('#va_vehiclenumber_mkt').addClass('disable_a_href');
			$('#va_vendor').addClass('disable_a_href');
			$('#va_buy').addClass('disable_a_href');
			$('#va_sale').addClass('disable_a_href');
			na_vehicle_type.value = "";
			na_vehicle_type.removeAttribute("required");  // Make it non-mandatory

		}
	}
</script>
<script>
	function loadAvailableVehicleNumbers() {
		const placed = $("#va_vehicletype_placed").val();
		const source = $("#va_vehiclesource").val();

		if (placed && source) {
			$.ajax({
				url: "{% url 'load_vehicle_number' %}",
				data: {
					vehicletype_placed: placed,
					vehicletype_source: source
				},
				success: function(data) {
					const dropdown = $("#va_vehiclenumber");
					dropdown.empty();

					const numbers = data.vehicle_number_list;
					const ids = data.vehicle_number_list_id;

					if (numbers.length === 0) {
						dropdown.append(`<option value="">No available vehicles</option>`);
						dropdown.prop("disabled", true);
					} else {
						dropdown.append(`<option value="">Select vehicle</option>`);
						for (let i = 0; i < numbers.length; i++) {
							dropdown.append(`<option value="${ids[i]}">${numbers[i]}</option>`);
						}
						dropdown.prop("disabled", false);
					}
				}
			});
		}
	}

	$("#va_vehicletype_placed, #va_vehiclesource").on('change', loadAvailableVehicleNumbers);

</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const input = document.getElementById("va_vehiclenumber_mkt");
		input.addEventListener("input", function () {
			this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '').slice(0, 10);
		});
	});
</script>
<script>
	function loadVendorBuyRate() {
		  var vendorId = $('#va_vendor').val();
		  var vehicleId = $('#va_vehicletype_placed').val();
		$.ajax({
			url: '{% url 'get_vendor_buy_rate' %}',
			type: 'GET',
			data: {vendor_id: vendorId,
            vehicle_id: vehicleId},
			dataType: 'json',
			success: function(data) {
				var buy_rate = data.buy_rate;
				document.getElementById("va_buy").value = buy_rate;
				      calculateProfit();  // ✅ Trigger profit calculation after setting buy

			}
		});
	}

</script>
<script>
	function loadVendorSaleRate() {
  var vehicleId = $('#va_vehicletype_placed').val();
  $.ajax({
    url: '{% url 'get_vendor_sale_rate' %}',
    type: 'GET',
    data: {vehicle_id: vehicleId},
    dataType: 'json',
    success: function(data) {
      var saleRate = data.sale_rate;
      if (saleRate === 0 || saleRate === "0") {
        alert("Rate not assigned for this customer");
      }
      document.getElementById("va_sale").value = saleRate;
      calculateProfit();  // Trigger profit calculation after setting buy
    }
  });
}

</script>

<script>
	const vehiclePolicyData = {
        {% for v in vehicles_data %}
            "{{ v.id }}": "{{ v.vm_policyexpirydate|default:'Not set' }}" {% if not forloop.last %},{% endif %}
        {% endfor %}
    };

    document.addEventListener("DOMContentLoaded", () => {
  const vehicleSelect = document.getElementById("va_vehiclenumber");
  const alertBox = document.getElementById("top-alert");

  vehicleSelect.addEventListener("change", () => {
    const id = vehicleSelect.value;
    const expiry = vehiclePolicyData[id] || "";

    if (!expiry || expiry === "Not set") {
      alertBox.style.display = "none";
      return;
    }

    alertBox.style.display = "block";

    const expired = new Date(expiry) < new Date();

    alertBox.textContent = expired
      ? `Vehicle policy expired on ${expiry}`
      : `Policy expiry date: ${expiry}`;

    alertBox.className = expired ? "alert alert-danger w-50" : "alert alert-info w-50";
  });
});
</script>
<script>
	function calculateProfit() {
      const buyVal = parseFloat(document.getElementById("va_buy").value) || 0;
      const sellVal = parseFloat(document.getElementById("va_sale").value) || 0;
      const profitField = document.getElementById("va_profit_percentage");

      if (buyVal > 0) {
        const profit = ((sellVal - buyVal) / buyVal) * 100;
        profitField.value = profit.toFixed(2);
      } else {
        profitField.value = "";
      }
    }

    document.addEventListener("DOMContentLoaded", function () {
      document.getElementById("va_buy").addEventListener("input", calculateProfit);
      document.getElementById("va_sale").addEventListener("input", calculateProfit);
    });
</script>

<script>
	function loadVendorOptions(selectedVendorId = null) {
    var enquiry_num = $('#va_enquirynumber').val();

    $.ajax({
        url: "{% url 'vendor_filter' %}",
        data: {
            enquiry_num: enquiry_num
        },
        success: function(response) {
            const dropdown = $('#va_vendor');
            dropdown.empty();
            dropdown.append('<option value="">Select Vendor</option>');

            response.vendor_filter.forEach(function(vendor) {
                const isSelected = (selectedVendorId && selectedVendorId == vendor.id) ? 'selected' : '';
                dropdown.append(`<option value="${vendor.id}" ${isSelected}>${vendor.name}</option>`);
            });
        },
        error: function() {
            alert("Could not load vendors.");
        }
    });
}

$(document).ready(function () {
    const selectedVendorId = $('#va_vendor').data('selected');  // get pre-selected value
    loadVendorOptions(selectedVendorId); // load on page load with value
});

</script>


{% endblock content %}