{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="accordion" id="accordionExample">
	<div class="card">
		<div class="card-header" id="gatein">
			<h2 class="mb-0">
				<button class="btn btn-block text-left text-white bg-info" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Gate IN
				</button>
			</h2>
		</div>
		<div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="card-body">
				<form method="POST" id="gate_in" action="" data-load_customer_model-url="{% url 'load_customer_model' %}" >
					{% csrf_token %}
					<div class="row">
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">WH Job Number</span>
								</div>
								{% render_field gatein_form.gatein_job_no class="form-control" id="job_num" readonly=True %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Shipper Invoice</span>
								</div>
								{% render_field gatein_form.gatein_invoice class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">PO Number</span>
								</div>
								{% render_field gatein_form.gatein_po_num class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Customer</span>
								</div>
								{% render_field gatein_form.gatein_customer id="gatein_customer" class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Customer Model</span>
								</div>
								{% render_field gatein_form.gatein_customer_type id="gatein_customer_type" class="form-control disable_a_href" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Customer Department</span>
								</div>
								{% render_field gatein_form.gatein_department class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Commodity</span>
								</div>
								{% render_field gatein_form.gatein_comodity class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">DG Cargo</span>
								</div>
								{% render_field gatein_form.gatein_cargo class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Dock-In Date & Time</span>
								</div>
								{% render_field gatein_form.gatein_arrival_date id='gatein_arrival_date' type="datetime-local" class="form-control " %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Consignor</span>
								</div>
								{% render_field gatein_form.gatein_shipper class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Consignee</span>
								</div>
								{% render_field gatein_form.gatein_consignee class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Total Packages</span>
								</div>
								{% render_field gatein_form.gatein_no_of_pkg id="gatein_no_of_pkg" class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Invoice weight-Gross(Kg)</span>
								</div>
								{% render_field gatein_form.gatein_weight class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Destination</span>
								</div>
								{% render_field gatein_form.gatein_destination id="gatein_destination" class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">HAWB</span>
								</div>
								{% render_field gatein_form.gatein_hawb id="gatein_hawb" class="form-control" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Pre-GateIn</span>
								</div>
								{% render_field gatein_form.gatein_pre_id class="form-control " id="gatein_pre_id" %}
							</div>

							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Pre-GateIn Truck Number</span>
								</div>
								{% render_field gatein_form.gatein_truck_number_n id="gatein_truck_number_n" class="form-control disable_a_href" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Driver Name</span>
								</div>
								{% render_field gatein_form.gatein_driver id="gatein_driver" class="form-control disable_a_href" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Driver Contact</span>
								</div>
								{% render_field gatein_form.gatein_contact_number id="gatein_contact_number" class="form-control disable_a_href" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Driver License</span>
								</div>
								{% render_field gatein_form.gatein_dl_number id="gatein_dl_number" class="form-control disable_a_href" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">OTL</span>
								</div>
								{% render_field gatein_form.gatein_otl id="gatein_otl" class="form-control disable_a_href" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Transporter</span>
								</div>
								{% render_field gatein_form.gatein_transporter id="gatein_transporter" class="form-control disable_a_href" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Truck Number</span>
								</div>
								{% render_field gatein_form.gatein_truck_number id="gatein_truck_number" class="form-control disable_a_href" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Truck Type</span>
								</div>
								{% render_field gatein_form.gatein_truck_type id="gatein_truck_type" class="form-control disable_a_href" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Status</span>
								</div>
								{% render_field gatein_form.gatein_status class="form-control" id="gatein_status" %}
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							</div>
							{% render_field gatein_form.gatein_updated_by id="gatein_updated_by"  hidden="True" class="form-control" %}
							{% render_field gatein_form.gatein_job_status id="gatein_job_status"  hidden="True" class="form-control" %}
						</div>
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col-10">
							<div class="message text-center">
								{% for message in messages %}
								<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
								{% endfor %}
							</div>
						</div>
						<div class="col-1"></div>
					</div>
					<!--						<button type="submit" class="btn btn-success" onclick="	myjobnum()"><i class="fas fa-check"></i> Save</button>-->
					<button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Save</button>
				</form>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left text-white bg-info collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Goods Receipt
				</button>
			</h2>
		</div>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			<div class="card-body">
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingThree">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left text-white bg-info collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Damage Check
				</button>
			</h2>
		</div>
		<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			<div class="card-body">
				And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingFour">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left text-white bg-info collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Inspection
				</button>
			</h2>
		</div>
		<div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			<div class="card-body">
				And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
			</div>
		</div>
	</div>
</div>
<script>
	$("#gatein_customer").change(function () {
      var url = $("#gate_in").attr("data-load_customer_model-url");
      var gatein_customer_id = $(this).find(":selected").text();
      $.ajax({
        url: url,
        data: {
          'lm_customer_name_id': gatein_customer_id
        },
        success: function (data) {
            var customer_model=JSON.parse(data)["customer_businessmodel_val"];
            document.getElementById("gatein_customer_type").value =customer_model;
        }
      });

    });
</script>
<script>
	$("#gatein_pre_id").change(function () {
      var pre_gatein_val = $(this).find(":selected").text();
       $.ajax({
        url: '{% url 'load_pre_gate_in' %}',
        data: {
          'pre_gatein_val': pre_gatein_val
        },
        success: function (data) {
            var truck_numbers=data.truck_numbers;
            var truck_numbers_id=data.truck_numbers_id;
            $('#gatein_truck_number_n').removeClass('disable_a_href');
            $('#gatein_truck_number_n').empty();
            $('#gatein_truck_number_n').empty().append("<option value='0'>--Select--</option>");
            var len = (truck_numbers).length;
            $('#gatein_truck_number_n').empty().append("<option value='0'>--Select--</option>");
            for( var i = 0; i<len; i++){
                $("#gatein_truck_number_n").append("<option value='"+truck_numbers_id[i]+"'>"+truck_numbers[i]+"</option>");
            }
        }
      });
    });
</script>
<script>
	$("#gatein_truck_number_n").change(function () {
      var gatein_truck_number_val = $(this).find(":selected").text();
       var pre_gatein_id =document.getElementById("gatein_pre_id").value
       $.ajax({
        url: '{% url 'load_pre_gate_in_truck_details' %}',
        data: {
          'gatein_truck_number_val': gatein_truck_number_val,
              'pre_gatein_id': pre_gatein_id,
        },
        success: function (data) {
            var Transporter=data.Transporter;
            var Driver_Name=data.Driver_Name;
            var Driver_Contact=data.Driver_Contact;
            var Driver_License=data.Driver_License;
            var OTL=data.OTL;
            var Truck_Number=data.Truck_Number;
            var Truck_Type=data.Truck_Type;
            var dock_in_time=data.dock_in_time;
            document.getElementById("gatein_transporter").value =Transporter;
            document.getElementById("gatein_truck_type").value =Truck_Type;
            document.getElementById("gatein_truck_number").value =Truck_Number;
            document.getElementById("gatein_otl").value =OTL;
            document.getElementById("gatein_dl_number").value =Driver_License;
            document.getElementById("gatein_contact_number").value =Driver_Contact;
            document.getElementById("gatein_driver").value =Driver_Name;
            document.getElementById("gatein_arrival_date").value =dock_in_time;
        }
      });

    });
</script>
<script>
	$(document).ready(function() {
        $('#gatein_pre_id').selectpicker({
            liveSearch: true,
            noneSelectedText: 'Search Pre-GateIn'
        });
                document.getElementById("gatein_updated_by").value ='{{user_id}}';

    });
</script>
{% endblock content %}