{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="col-md-1">
	<a href="{% url 'gatein_list' %}" class="btn btn-primary btn-block btn-lg">
		<i class="fas fa-arrow-left"></i>
	</a>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8 btn-group mx-auto text-center">
		{% if gatein_list %}
		{% for gateininfo in gatein_list %}
		<a class="btn  border border-dark" id="gatein_btn" href="{% url 'gatein_update' gateininfo.id %}">Gate-In</a>
		{% endfor %}
		{% else %}
		<a class="btn  border border-dark" id="gatein_btn1" href="{% url 'gatein_insert' %}">Gate-In</a>
		{% endif %}

		{% if loadingbay_list %}
		{% for loadingbayinfo in loadingbay_list %}
		<a class="btn  border border-dark disable_a_href" id="loadingbay_btn" href="{% url 'loadingbay_update' loadingbayinfo.id %}">Goods Receipt</a>
		{% endfor %}
		{% else %}
		<a class="btn  border border-dark disable_a_href" id="loadingbay_btn1" href="{% url 'loadingbay_insert' %}">Goods Receipt</a>
		{% endif %}
		{% if damagereport_list %}
		{% for damagecheckinfo in damagereport_list %}
		<a class="btn  border border-dark disable_a_href" id="damagecheck_before_btn" href="{% url 'damagereport_update' damagecheckinfo.id %}">Damage Check/Before Offloading</a>
		{% endfor %}
		{% else %}
		<a class="btn  border border-dark disable_a_href" id="damagecheck_before_btn1" href="{% url 'damagereport_insert' %}">Damage Check/Before Offloading</a>
		{% endif %}
		<a class="btn  border border-dark disable_a_href" id="damagecheck_after_btn" href="{% url 'goods_insert' %}">Inspection</a>
		<a class="btn  border focus border-dark disable_a_href" id="warehousein_btn" href="{% url 'warehousein_insert' %}">Warehouse In</a>
		<a class="btn  border border-dark disable_a_href" id="storage_btn" href="{% url 'storage_list' %}">Storage</a>
<!--		<a class="btn  border border-dark disable_a_href" id="dispatch_btn" href="{% url 'dispatch_insert' %}">Dispatch</a>-->
<!--		<a class="btn  border border-dark disable_a_href" id="billing_btn">Billing</a>-->
<!--		<a class="btn  border border-dark disable_a_href" id="expense_btn">Expenses</a>-->
<!--		<a class="btn  border border-dark disable_a_href" id="reports_btn">Reports</a>-->
	</div>
	<div class="col-2"></div>
</div>

<hr>
<form method="POST" action="" onload="chargeable_weight_fn()" id="goods_add" data-branches-url="{% url 'load_units' %}" novalidate>
	{% csrf_token %}

	<!--{{form.as_p}}-->

	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3 " style="max-width: 100%;">
					<div class="card-header text-center">
						<div class="row">
							<div class="col-3"></div>
							<div class="col-6">
								<h3>Add/Update Warehouse-In</h3>
							</div>
<!--							<div class="col-2">-->
<!--								<a href="#" class="btn btn-warning btn-block ">-->
<!--									Delivery Chelan          <i class="fa fa-download" aria-hidden="true"></i>-->
<!--								</a>-->
<!--							</div>-->
							<div class="col-3">
<!--								<a href="#" class="btn btn-warning btn-block">-->
<!--									Damage Report          <i class="fa fa-download" aria-hidden="true"></i>-->
<!--								</a>-->
							</div>
						</div>
					</div>
					<!--					<p>Invoice Number is  {{ request.session.invoice_num_stock }}</p>-->
					<div class="card-body bg-light " >
						<div class="row">
							<div class="col-4">
								<div class="input-group input-group-sm mb-3 ">
									<div class="input-group-prepend">
										<span class="input-group-text" >WH Job Number</span>
									</div>
									{% render_field warehousein_form.wh_job_no value=request.session.ses_gatein_id_nam class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3 ">
									<div class="input-group-prepend">
										<span class="input-group-text" >Stock Number</span>
									</div>
									{% render_field warehousein_form.wh_qr_rand_num id="wh_qr_rand_num" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Invoice Number</span>
									</div>
									{% render_field warehousein_form.wh_goods_invoice value=request.session.ses_wh_invoice class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Customer Name</span>
									</div>
									{% render_field warehousein_form.wh_customer_name value=request.session.ses_customer_name class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Customer Type</span>
									</div>
									{% render_field warehousein_form.wh_customer_type value=request.session.ses_customer_type class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Consigner</span>
									</div>
									{% render_field warehousein_form.wh_consigner value=request.session.ses_consigner class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Consignee</span>
									</div>
									{% render_field warehousein_form.wh_consignee value=request.session.ses_consignee class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Unit Of Measure</span>
									</div>
									{% render_field warehousein_form.wh_uom id="uom" class="form-control disable_a_href" onchange="chargeable_weight_fn()" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Number of Pieces</span>
									</div>
									{% render_field warehousein_form.wh_goods_pieces id="no_of_piece" class="form-control disable_a_href" onchange="chargeable_weight_fn()" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Length</span>
									</div>
									{% render_field warehousein_form.wh_goods_length id="length" class="form-control disable_a_href" onchange="chargeable_weight_fn()" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Width</span>
									</div>
									{% render_field warehousein_form.wh_goods_width id="width"  class="form-control disable_a_href" onchange="chargeable_weight_fn()" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Height</span>
									</div>
									{% render_field warehousein_form.wh_goods_height id="height" class="form-control disable_a_href" onchange="chargeable_weight_fn()" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-4">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Package Type</span>
									</div>
									{% render_field warehousein_form.wh_goods_package_type class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Weight (Pysical)</span>
									</div>
									{% render_field warehousein_form.wh_goods_weight id="weight" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Required Area(Sq.ft)</span>
									</div>
									{% render_field warehousein_form.wh_goods_area id="req_area" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Required Volume(Cu.ft)</span>
									</div>
									{% render_field warehousein_form.wh_goods_volume_weight id="volume_weight" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Chargeable Weight</span>
									</div>
									{% render_field warehousein_form.wh_chargeable_weight id="chargeable_weight" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >CBM</span>
									</div>
									{% render_field warehousein_form.wh_CBM class="form-control disable_a_href" id="cbm" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Weight Deviation</span>
									</div>
									{% render_field warehousein_form.wh_weights_deviation class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Dimension Deviation</span>
									</div>
									{% render_field warehousein_form.wh_dimension_deviation class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >No of Units Deviation</span>
									</div>
									{% render_field warehousein_form.wh_no_of_units_deviation class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Damages</span>
									</div>
									{% render_field warehousein_form.wh_damages class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Mismatches</span>
									</div>
									{% render_field warehousein_form.wh_mismatches class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
							</div>
							<div class="col-4">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text " >Warehouse Branch</span>
									</div>
									{% render_field warehousein_form.wh_branch id="wh_branch" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Warehouse Unit</span>
									</div>
									{% render_field warehousein_form.wh_unit id="wh_unit" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Warehouse Bay</span>
									</div>
									{% render_field warehousein_form.wh_bay id="wh_bay" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Stacking Layer</span>
									</div>
									{% render_field warehousein_form.wh_stack_layer id="wh_stack_layer" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Available Area (Sq.ft)</span>
									</div>
									{% render_field warehousein_form.wh_available_area id="wh_available_area" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Available Volume (Cu.ft)</span>
									</div>
									{% render_field warehousein_form.wh_available_volume id="wh_available_volume" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3" >
									<div class="input-group-prepend">
										<span class="input-group-text" >Goods Status</span>
									</div>
									{% render_field warehousein_form.wh_check_in_out class="form-control disable_a_href"%}
									<!--<input type="text" class="form-control disable_a_href" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<!--								<div class="input-group input-group-sm mb-3">-->
								<!--									<div class="input-group-prepend">-->
								<!--										<span class="input-group-text" >Status</span>-->
								<!--									</div>-->
								<!--									{% render_field warehousein_form.wh_goods_status class="form-control" %}-->
								<!--									&lt;!&ndash;<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--								</div>-->
							</div>
						</div>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
								<div class="message text-center">
									{% for message in messages %}
									<a {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
									{% endfor %}
									{{form.error_messages}}
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						<!--<input class="btn btn-success" type="submit" name="Create User">-->
						<button type="submit" class="btn btn-success "><i class="fas fa-check"></i> Save</button>
						<!--						<a href="{% url 'stock_list' %}" class="btn btn-danger float-right">-->
						<!--							<i class="fas fa-times"></i> Cancel</a>-->
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</form>
{% include "asset_mgt_app/warehousein_list_woh.html" %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!--Fetch Units-->
<script>
   $("#wh_branch").change(function () {
      var url = $("#goods_add").attr("data-branches-url");
      var branchId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'branchId': branchId,
        },
		success: function (data) {
			console.log(data);
			$('#wh_unit').removeClass('disable_a_href');
			$("#wh_unit").empty();
			$('#wh_bay').empty().append("<option value='0'>--Select--</option>");
			$("#wh_stack_layer").val($("#selectBox option:first").val());
        	var unit_name=JSON.parse(data)["unit_name_list"];
        	var unit_id=JSON.parse(data)["unit_id"];
        	var len = (unit_name).length;
        	$('#wh_unit').empty().append("<option value='0'>--Select--</option>");
        	for( var i = 0; i<len; i++){
        		$("#wh_unit").append("<option value='"+unit_id[i]+"'>"+unit_name[i]+"</option>");
			}
        }
      });
    });
  </script>

<!--Fetch Bays-->
<script>
   $("#wh_unit").change(function () {
      var url = $("#goods_add").attr("data-units-url");
      var branchId = document.getElementById("wh_branch").value
      var unitId = $(this).val();
      $.ajax({
        url: '{% url 'load_bays' %}',
        data: {
          'branchId':branchId,
          'unitId': unitId,
        },
		success: function (data) {
			$('#wh_bay').removeClass('disable_a_href');
			$("#wh_bay").empty();
			$("#wh_stack_layer").val($("#selectBox option:first").val());
        	var bay=JSON.parse(data)["bay_name_list"];
        	var bay_id=JSON.parse(data)["bay_id"];
			var len1 = (bay).length;
        	$("#wh_bay").empty();
        	$('#wh_bay').empty().append("<option value='0'>--Select--</option>");
        	for( var j = 0; j<len1; j++){
        		$("#wh_bay").append("<option value='"+bay_id[j]+"'>"+bay[j]+"</option>");
			}
        }
      });
    });
</script>

<!--Enable Stack layer-->
<script>
	$("#wh_bay").change(function () {
		$('#wh_stack_layer').removeClass('disable_a_href');
		$("#wh_stack_layer").val($("#selectBox option:first").val());
	});
</script>

<!--Fetch Available Area and Volume-->
<script>
   $("#wh_stack_layer").change(function () {
      var url = $("#goods_add").attr("data-bay-url");
      var branchId = document.getElementById("wh_branch").value;
      var unitId = document.getElementById("wh_unit").value;
      var bayId = document.getElementById("wh_bay").value;
   		var req_area_val = document.getElementById("req_area").value;
   		var req_volume_val = document.getElementById("volume_weight").value;
      $.ajax({
        url: '{% url 'load_area_volume' %}',
        data: {
			'req_area_val':req_area_val,
			'req_volume_val':req_volume_val,
          	'branchId':branchId,
          	'unitId': unitId,
          	'bayId': bayId,
        },
		success: function (data) {
			$("#wh_available_area").empty();
			$("#wh_available_volume").empty();
			var available_area_final=JSON.parse(data)["available_area_final"];
        	var available_volume_final=JSON.parse(data)["available_volume_final"];
			$("#wh_available_area").val(available_area_final);
			$("#wh_available_volume").val(available_volume_final);
        }
      });
    });
</script>

<!--calculate Area, Volume and Weight-->
<script>
function chargeable_weight_fn() {
  var width_val=document.getElementById("width").value
  var length_val=document.getElementById("length").value
  var height_val=document.getElementById("height").value
  var no_of_piece=document.getElementById("no_of_piece").value
  selectElement = document.querySelector('#uom');
  uom_val = selectElement.options[selectElement.selectedIndex].value;
  if (uom_val=="cm")
	{
		var chargeable_weight_val=((length_val*width_val*height_val)/6000).toFixed(3)
		document.getElementById("chargeable_weight").value =chargeable_weight_val;
		document.getElementById("cbm").value=(chargeable_weight_val*0.006).toFixed(3);
		var volume_val=(width_val*length_val*height_val).toFixed(3);
		document.getElementById("volume_weight").value =volume_val;
		var req_area_val=(length_val*width_val).toFixed(3)
		document.getElementById("req_area").value =req_area_val;
	}
  else
	{
		var chargeable_weight_val=((length_val*width_val*height_val)/366).toFixed(3)
  		document.getElementById("chargeable_weight").value =chargeable_weight_val;
  		document.getElementById("cbm").value=(chargeable_weight_val*0.006).toFixed(3);
  		var volume_val=((width_val*length_val*height_val)*16.3871).toFixed(3);
		document.getElementById("volume_weight").value =volume_val;
		var req_area_val=((length_val*width_val)*6.4516).toFixed(3)
		document.getElementById("req_area").value =req_area_val;
  	}
  endif
}
</script>

<!--Enable Forms-->
<script>
$(document).ready(function() {
	var gatein_status_id = '{{gatein_status}}';
	var loadingbay_status_id='{{loadingbay_status}}';
	var damage_before_status_id='{{damage_before_status}}';
	var damage_after_status_id='{{damage_after_status}}';
	var warehousein_status_id='{{warehousein_status}}';
	var branch_val=document.getElementById("wh_branch").value
	var user_role_val='{{user_role}}';
	var user_branch_id_val='{{user_branch_id}}';
	var user_branch_val1='{{user_branch}}';

	if (gatein_status_id =="Completed")
	{
		$('#gatein_btn').removeClass('disable_a_href');
		$('#gatein_btn1').removeClass('disable_a_href');
		$('#gatein_btn').addClass('btn-success');
		$('#gatein_btn1').addClass('btn-success');
		$('#loadingbay_btn').removeClass('disable_a_href');
		$('#loadingbay_btn1').removeClass('disable_a_href');
	}
	else if (gatein_status_id =="Work In Progress")
	{
		$('#gatein_btn').removeClass('disable_a_href');
		$('#gatein_btn1').removeClass('disable_a_href');
		$('#gatein_btn').addClass('btn-warning');
		$('#gatein_btn1').addClass('btn-warning');
	}

	if (loadingbay_status_id =="Completed")
	{
		$('#loadingbay_btn').removeClass('disable_a_href');
		$('#loadingbay_btn1').removeClass('disable_a_href');
		$('#loadingbay_btn').addClass('btn-success');
		$('#loadingbay_btn1').addClass('btn-success');
		$('#damagecheck_before_btn').removeClass('disable_a_href');
		$('#damagecheck_before_btn1').removeClass('disable_a_href');
	}
	else if (loadingbay_status_id =="Work In Progress")
	{
		$('#loadingbay_btn').removeClass('disable_a_href');
		$('#loadingbay_btn1').removeClass('disable_a_href');
		$('#loadingbay_btn').addClass('btn-warning');
		$('#loadingbay_btn1').addClass('btn-warning');
	}

	if (damage_before_status_id =="Completed")
	{
		$('#damagecheck_before_btn').removeClass('disable_a_href');
		$('#damagecheck_before_btn1').removeClass('disable_a_href');
		$('#damagecheck_before_btn').addClass('btn-success');
		$('#damagecheck_before_btn1').addClass('btn-success');
		$('#damagecheck_after_btn').removeClass('disable_a_href');
	}
	else if (damage_before_status_id =="Work In Progress")
	{
		$('#damagecheck_before_btn').removeClass('disable_a_href');
		$('#damagecheck_before_btn1').removeClass('disable_a_href');
		$('#damagecheck_before_btn').addClass('btn-warning');
		$('#damagecheck_before_btn1').addClass('btn-warning');
	}
	if (damage_after_status_id =="Completed")
	{
		$('#damagecheck_after_btn').removeClass('disable_a_href');
		$('#damagecheck_after_btn').addClass('btn-success');
		$('#warehousein_btn').removeClass('disable_a_href');
	}
	else if (damage_after_status_id =="No Status")
	{
		$('#damagecheck_after_btn').removeClass('disable_a_href');
		$('#damagecheck_after_btn').addClass('btn-warning');
	}

	if (warehousein_status_id =="Completed")
	{
		$('#warehousein_btn').removeClass('disable_a_href');
		$('#warehousein_btn').addClass('btn-success');
		$('#storage_btn').removeClass('disable_a_href');
		$('#storage_btn').addClass('btn-success');
	}
	else if (warehousein_status_id =="None")
	{
		$('#warehousein_btn').removeClass('disable_a_href');
	}
	else if (warehousein_status_id =="No Status")
	{
		$('#warehousein_btn').removeClass('disable_a_href');
		$('#warehousein_btn').addClass('btn-warning');
	}


	if (user_role_val!="Admin")
	{
		if (branch_val=="")
		{
			alert("branch is empty")
			alert(user_branch_id_val)
			alert(user_branch_val1)
			$('#wh_branch').empty().append("<option value='0'>--Select--</option>");
			$("#wh_branch").append("<option value='"+user_branch_id_val+"'>"+user_branch_val1+"</option>");
		}
		else
		{
			alert("branch_val")
			document.getElementById("wh_branch").value =branch_val;
		}
	}
  });
</script>
{% endblock content %}