{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid pb-3">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2 rounded text-center bg-info">
            <h3>Warehouse Job </h3>
        </div>
        <div class="col-5"></div>
    </div>
</div>
<div class="accordion" id="accordionExample">
	<div class="card">
		<div class="card-header" id="gatein">
			<h2 class="mb-0">
				<button class="btn btn-block text-left text-white bg-info" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Gate IN
				</button>
			</h2>
		</div>
		<div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="card-body">
				{% include "asset_mgt_app/gatein_add_new.html" %}
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left text-white bg-info collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Goods Receipt
				</button>
			</h2>
		</div>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			<div class="card-body">
				{% include "asset_mgt_app/loadingbay_add_new.html" %}
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingFour">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left text-white bg-info collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					Inspection
				</button>
			</h2>
		</div>
		<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
			<div class="card-body">
				{% include "asset_mgt_app/goods_add_new.html" %}
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingThree">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left text-white bg-info collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Damage/Deviation
				</button>
			</h2>
		</div>
		<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			<div class="card-body">
				{% include "asset_mgt_app/damagereport_add_new.html" %}
			</div>
		</div>
	</div>
</div>
<script>
    $(document).ready(function() {
    alert('{{gatein_id}}')
    document.getElementById("lb_job_no_id_new").value='{{gatein_id}}'
});
</script>

{% endblock content %}