{% extends "asset_mgt_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" id="whratemaster" action="" data-load_customer_model-url="{% url 'load_customer_model' %}" novalidate >
	{% csrf_token %}
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="container-fluid">
				<div class="card text-white bg-info mb-3" style="max-width: 100%;">
					<div class="card-header text-center"><h3>Add/Update Warehouse Rate Master</h3></div>

					<div class="card-body bg-light" >
						<div class="row">
							<div class="col">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="">Customer Name</span>
									</div>
									{% render_field form.whrm_customer_name id="whrm_customer_name" class="form-control" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Customer Business</span>
									</div>
									{% render_field form.whrm_businessmodel id="whrm_businessmodel" class="form-control disable_a_href" %}
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Charge Type</span>
									</div>
									{% render_field form.whrm_charge_type id="whrm_charge_type" onchange="change_charge_type()" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Max weight(kg)</span>
									</div>
									{% render_field form.whrm_max_wt id="whrm_max_wt" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Min Weight(kg)</span>
									</div>
									{% render_field form.whrm_min_wt id="whrm_min_wt" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Item (pcs or Space)</span>
									</div>
									{% render_field form.whrm_item type="select" id="whrm_item" onchange="calculate_total()" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Rate (INR)</span>
									</div>
									{% render_field form.whrm_rate id="whrm_rate" onchange="calculate_total()" class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Total</span>
									</div>
									{% render_field form.whrm_total type="select" id="whrm_total" class="form-control disable_a_href" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" >Description</span>
									</div>
									{% render_field form.whrm_description class="form-control" %}
									<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
								</div>
								{% render_field form.whrm_updated_by id="whrm_updated_by" hidden="True" class="form-control" %}
								<button type="submit" class="btn btn-success "><i class="fas fa-check"></i> Submit</button>
								<a href="{% url 'whratemaster_list' %}" class="btn btn-danger float-right">
									<i class="fas fa-times"></i> Cancel
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3"></div>
			</div>
		</div>
	</div>
</form>
<script>
    $("#whrm_customer_name").change(function () {
      var url = $("#whratemaster").attr("data-load_customer_model-url");

      var gatein_customer_id = $(this).find(":selected").text();
      $.ajax({
        url: url,
        data: {
          'lm_customer_name_id': gatein_customer_id
        },
		success: function (data) {
			$("#whrm_businessmodel").val(data);
        }
      });

    });
 </script>
<script>
$(document).ready(function() {
	calculate_total()
<!--	change_charge_type()-->
	document.getElementById("whrm_updated_by").value ='{{user_id}}';
  });
</script>

<script>
function calculate_total() {
	var rate_val=document.getElementById("whrm_rate").value
	var item_val=document.getElementById("whrm_item").value
	var total_val=(rate_val*item_val).toFixed(3)
	document.getElementById("whrm_total").value =total_val;
}
</script>

<!--<script>-->
<!--function change_charge_type() {-->
<!--  var jn=document.getElementById("whrm_charge_type").value-->
<!--  if (jn==7)-->
<!--	{-->
<!--		$('#whrm_max_wt').removeClass('disable_a_href');-->
<!--		$('#whrm_min_wt').removeClass('disable_a_href');-->
<!--	}-->
<!--	else-->
<!--	{-->
<!--  		$('#whrm_max_wt').addClass('disable_a_href');-->
<!--		$('#whrm_min_wt').addClass('disable_a_href');-->
<!--  	}-->
<!--}-->
<!--</script>-->
{% endblock content %}